<% if @swap&.intake_ended? %>
  <%= render partial: 'shared/notices/intake_ended' %>
<% else %>
  <% if @swap.present? %>
    <section id="notice--swap-active" class="notice bg-indigo-300">
      <div class="bg-indigo-300">
        <h3>SWAP is active.</h3>
        <div class="text-indigo-900">
          <p>Vouchers can be issued beginning <strong><%= humanize_date(@swap.intake_start_date) %></strong> through <strong><%= humanize_date(@swap.intake_end_date) %></strong></p>
          <p>Voucher check-in is <strong><%= humanize_date(@swap.start_date) %></strong> and check-out is <strong><%= humanize_date(@swap.end_date) %></strong></p>
        </div>
        <% if SwapIntake.today_is_first_intake_day?(@swap) %>
        <% elsif SwapIntake.today_is_last_intake_day?(@swap) %>
          <p class="text-indigo-900">
            <strong>Today is the last day to issue vouchers for the current SWAP period</strong>. However, administrators may extend voucher stays as well as the intake period.
          </p>
        <% end %>
    </section>

    <!-- voucher supply table -->
    <div class="text-5xl" x-data="{ open: false }">
      <p class="flex flex-1 justify-between font-bold p-6 text-white bg-indigo-900">
      <span><%= @num_vouchers_remaining_today %> vouchers remaining today</span>
      <span class="underline text-indigo-200" @click="open = true" x-show="!open">+ expand</span>
      <span class="underline text-indigo-200" @click="open = false" x-show="open">- collapse</span>
      </p>
      <ul class="p-6 flex flex-1 flex-col space-y-6 bg-white border-2 border-gray-400" x-show="open" @click.away="open = false">
        <% @vouchers_remaining_today.each do |(hotel_id, vouchers)| %>
          <li class="flex flex-1 justify-between items-center">
            <p class=""><%= @hotel_map[hotel_id] %>
          <% if Hotel.find(hotel_id).pet_friendly %>
            <span class="bg-yellow-100 text-4xl py-1 px-2">dogs ok</span>
          <% end %>
            </p>
            <p class="tabular-nums font-semibold"><%= vouchers %></p>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <% if @num_vouchers_remaining_today&.zero? %> 
      <section id="notice--no-vouchers" class="notice bg-yellow-300">
        <h3>Currently, there are no available vouchers to dispense.</h3>
      </section>
    <% end %>
<% end %>
