<% if @swap&.intake_ended? %>
  <%= render partial: 'shared/notices/intake_ended' %>
<% else %>
  <% if @swap.present? %>
    <div class="bg-indigo-100 border-2 border-indigo-300 divide-y-2 divide-indigo-300 rounded-md">
      <section id="notice--swap-active" class="p-4 text-center">
        <h4>SWAP is active</h4>
        <div class="text-base md:text-xl text-indigo-900">
          <p class="mt-3 leading-relaxed">Vouchers can be issued from<br/>
            <strong><%= humanize_date_short(@swap.intake_dates.first) %></strong> through <strong><%= humanize_date_short(@swap.intake_dates.last) %></strong></p>
          <p class="mt-3 leading-relaxed">Voucher check-in is <strong><%= humanize_date_short(@swap.start_date) %></strong></p>
          <p class="leading-relaxed">Voucher check-out is <strong><%= humanize_date_short(@swap.end_date) %></strong></p>
        </div>
      </section>
      <!-- voucher supply table -->
      <%= react_component('SwapPanel', 
        isOpen: current_user.show_swap_panel,
        current_user: current_user,
        hotel_map: @hotel_map, 
        num_vouchers_remaining_today: @num_vouchers_remaining_today,
        vouchers_remaining_today: @vouchers_remaining_today
      ) %>
    </div>
  <% end %>
  <% if @num_vouchers_remaining_today&.zero? %>
    <section id="notice--no-vouchers" class="p-4 bg-yellow-200 border-2 border-yellow-400 rounded-md">
      <h4 class="text-center">Currently, there are no vouchers available to dispense.</h4>
    </section>
  <% end %>
<% end %>
