<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv="Content Type" />
    </head>
    <body>
        <h1>Thanks, <%= @voucher.client.name %>! Your voucher for <%= @voucher.hotel.name %> is confirmed!</h1>
        <p><strong>Voucher #:</strong> <%= @voucher.number%></p>
        <p><%= @voucher.hotel.name %> is expecting you from <strong><%= @voucher.check_in %></strong> to <strong><%= @voucher.check_out %></strong>.</p>
        <h3>Address</h3>
        <p>
        <%= @voucher.hotel.street_address %><br>
        <%= @voucher.hotel.address_second %><br>
        <%= @voucher.hotel.phone %>
        </p>
    </body>
</html>