<div class="px-6 mt-16">
  <h3 class="px-6">Hello, <span class="text-blue-900"><strong><em><%= current_user.first_name %></em></strong><span>!</h3>
</div>

<section class="mt-16">
  <% if @swap.present? %>
    <section id="notice--swap-inactive" class="notice bg-gray-300">
     <h3 class="pt-12 pl-12">SWAP is <span class="text-red-900">ACTIVE.</span></h3>
      <p class="text-center pt-12 pl-12">
      <%= humanize_date(@swap.intake_period.first) %> through <%= humanize_date(@swap.intake_period.last) %>
      </p>
      <section class="mt-6 text-center text-4xl">
        <%= link_to 'Search for Client', clients_path, class:'text-center border-blue'%>
      </section>
    </section>
    <% else %>
  <% end %>
</section >

<section class="mt-16">
  <% if @swap.nil? %>
    <section id="notice--swap-inactive" class="notice bg-gray-300">
     <h3 class="pt-12 pl-12">SWAP is <span class="text-red-900">NOT ACTIVE.</span></h3>
      <section class="mt-6 text-center text-4xl">
        Cannot issue vouchers while SWAP is inactive!
      </section>
    </section>
  <% end %>
</section >

<div>
  <% if @swap.present? %>
   <h4 class="m-8 pl-12 font-bold">VOUCHER SUPPLY</h4>
   <ul class="p-6 flex flex-1 flex-col space-y-6 bg-white border-2 border-gray-400">
      <% @vouchers_remaining_today.each do |(motel_id, vouchers)| %>
       <li class="flex flex-1 justify-between items-center">
         <p class="font-bold text-5xl pl-10"><%= @motel_map[motel_id] %></p>
         <p class="font-bold text-5xl pr-10"><%= vouchers %></p>
      </li>
    <% end %>
   </ul>
  <% end %>
</div>

<div class="bg-gray-900 bg-cover h-96 shadow">
  <section class="px-10 mt-80">
    <h3 class="mb-12 p-6 font-bold text-center text-gray-400">welcome to <em class="text-blue-700">swapp</em></h3>
    <p class="px-6 m-3 text-4xl tracking-wide text-gray-500">swapp is a tool built to improve service delivery for people experiencing homelessness during periods of inclement weather</p>
    </p>
  </section>
</div>