<div class="px-6 mt-16">
  <h3 class="px-6">Hello, <span class="text-blue-900"><strong><em><%= current_user.first_name %></em></strong><span>!</h3>
</div>

<section class="mt-16">
  <% if @swap.present? %>
    <section id="notice--swap-inactive" class="notice bg-gray-300">
     <h3 class="pt-12 pl-12">SWAP is <span class="text-green-600">ACTIVE.</span></h3>
      <p class="text-center pt-12 pl-12">
      <%= humanize_date(@swap.intake_period.first) %> through <%= humanize_date(@swap.intake_period.last) %>
      </p>
      <div class="text-center text-gray-400 mt-8">
      <i class="bi bi-search text-5xl text-black"></i>
        <%= link_to 'Search for Clients', clients_path, class:"mt-6 p-3 text-5xl" %>
      </div>
    </section>
    <% else %>
    <section class="mt-16">
      <% if @swap.nil? %>
        <section id="notice--swap-inactive" class="notice bg-gray-300">
         <h3 class="pt-12 pl-12">SWAP is <span class="text-red-900">NOT ACTIVE.</span></h3>
          <section class="mt-6 text-center text-4xl">
            Cannot issue vouchers while SWAP is inactive!
          </section>
        </section>
  <% end %>
</section >
  <% end %>
</section >

<div class="p-3 mt-10">
  <% if @swap.present? %>
   <h4 class="m-8 pl-12 font-bold text-blue-900">VOUCHERS REMAINING</h4>
   <ul class="p-6 flex flex-1 flex-col space-y-6 border-2 border-blue-400 shadow-2xl divide-y-4 divide-gray-900 divide-dashed">
      <% @vouchers_remaining_today.each do |(motel_id, vouchers)| %>
       <li class="flex flex-1 justify-between items-center p-1">
         <p class="font-bold text-5xl mt-4 pl-7"><%= @motel_map[motel_id] %></p>
         <p class="text-red-900 text-5xl mt-4 pr-10"><%= vouchers %></p>
      </li>
    <% end %>
   </ul>
  <% end %>
</div>

<div class="ring-8">
  <section class="px-10 mt-80 bg-gray-900 bg-cover h-96 ring-8 shadow">
    <h3 class="mb-12 p-6 font-bold text-center text-gray-400">welcome to <em class="text-blue-700">swapp</em></h3>
    <p class="px-6 m-3 text-4xl tracking-wide text-gray-400">swapp is a tool built to improve service delivery for people experiencing homelessness during periods of inclement weather</p>
    </p>
  </section>
  <h2 class="m-2 p-3 font-bold text-center text-blue-600 italic">How it works:</h2>
  <section class="flex flex-col items-center p-8 mb-32 text-6xl">
    <i class="bi bi-search text-9xl"></i>
    <p class="my-14">Search for the client</p>
    <i class="bi bi-pencil-square text-9xl"></i>
    <p class="my-10">Conduct questionnaire to learn more about their history</p>
    <i class="bi bi-house-door text-9xl p-3"></i>
    <p class="my-10">Submit the form and send the client to the motel of their choice</p>
  </section>
  <hr>
  <div class="">
  </div>
</div>