<!DOCTYPE html>
<html>
  <head>
    <title>Swapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body class="bg-gray-50 overscroll-x-contain font-sans">
    <%= render partial: 'shared/test_environment' %>
    <%= render partial: 'layouts/admin/header' %>
    <div class="min-h-screen">
      <%= yield %>
    </div>
    <%= render partial: 'layouts/admin/footer' %>
  </body>
</html>
