<%= form_with(model: @client, local: true) do |form| %>
  <div class="bg-white p-4 rounded-t-lg border border-gray-200">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div class="flex items-center justify-between">
        <% if @client.profile_photo.attached? %>
          <%= image_tag(@client.profile_photo, class: "inline-block h-16 w-16 mr-2 rounded-full object-cover") %>
        <% else %>
          <%= image_tag("default-profile-photo.png", class: "inline-block h-16 w-16 mr-2 rounded-full object-cover") %>
        <% end %>
        <%= form.file_field :profile_photo, class: "text-sm" %>
      </div>
      <div>
        <% question = Intake::FIRST_NAME %>
        <%= form.text_field question.key,
              size: 23, 
              value: @client.first_name,
              class: "text-base sm:text-lg md:text-xl p-2 md:p-3 w-full text-sm border border-gray-300 focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0 focus:ring-3 rounded"
            %>
      </div>
      <div>
        <% question = Intake::LAST_NAME %>
        <%= form.text_field question.key,
            size: 23, 
            value: @client.last_name,
            class: "text-base sm:text-lg md:text-xl p-2 md:p-3 w-full text-sm border border-gray-300 focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0 focus:ring-3 rounded"
          %>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <% question = Intake::DATE_OF_BIRTH %>
        <%= form.label question.key, question.text, 
          class: "p-1 text-sm md:text-base lg:text-lg block leading-snug font-semibold text-gray-600"
        %>
        <%= form.date_field question.key,
          value: @client.date_of_birth,
          class: "text-base sm:text-lg md:text-xl p-2 md:p-3 w-full text-sm border border-gray-300 focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0 focus:ring-3 rounded"
        %>
      </div>
      <div>
        <% question = Intake::GENDER %>
        <%= form.label question.key, question.text, 
          class: "p-1 text-sm md:text-base lg:text-lg block leading-snug font-semibold text-gray-600"
        %>
        <%= form.select question.key,
          options_for_select(question.choices, @client.gender),
          {},
          class: "text-base sm:text-lg md:text-xl p-2 md:p-3 w-full text-sm border border-gray-300 focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0 focus:ring-3 rounded"
        %>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-4">
      <div>
        <% question = Intake::RACE %>
        <%= form.label question.key, question.text, 
          class: "p-1 text-sm md:text-base lg:text-lg block leading-snug font-semibold text-gray-600"
        %>
        <div class="p-2 md:p-3 bg-white border border-gray-300 rounded-lg shadow-sm">
          <ul class="flex flex-col w-full space-y-2">
            <% question.choices.each do |race| %>
              <li class="p-1 md:p-2 flex items-center">
                <%= form.check_box question.key, { 
                    multiple: true, 
                    checked: race.in?(@client.race || []),
                    class: "w-5 h-5 rounded text-sm text-indigo-600
                    border-gray-300 focus:border-indigo-500
                    focus:ring-indigo-200 focus:ring-offset-0 focus:ring-3"
                  },
                  race
                %>
                <%= form.label "#{question.key}_#{to_htmlfor(race)}", race, class: "ml-4 text-base md:text-lg" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div>
        <% question = Intake::ETHNICITY %>
        <%= form.label question.key, question.text, 
          class: "p-1 text-sm md:text-base lg:text-lg block leading-snug font-semibold text-gray-600"
        %>
        <%= form.select question.key,
          options_for_select(question.choices, @client.ethnicity),
          {},
          class: "text-base sm:text-lg md:text-xl p-2 md:p-3 w-full text-sm border border-gray-300 focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0 focus:ring-3 rounded"
        %>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center md:justify-end space-x-2 md:space-x-6 p-4 md:p-6 bg-gray-50 rounded-b shadow border-t border-gray-300">
    <div class="flex items-center space-x-2">
      <%= link_to(client_path(@client), {
        class: "flex items-center space-x-2 md:space-x-4 px-4 md:px-6 py-1 md:py-2 bg-white focus:outline-none
        focus:ring-2 focus:ring-offset-2 text-gray-700 focus:ring-indigo-500
        hover:bg-gray-50 rounded shadow border border-indigo-600"
    }) do %>
        <svg class="w-3 h-3 md:w-5 md:h-5" stroke="currentColor" fill="currentColor" stroke-width="0" version="1.1" viewBox="0 0 16 16"  xmlns="http://www.w3.org/2000/svg"><path d="M8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14.5c-3.59 0-6.5-2.91-6.5-6.5s2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5-2.91 6.5-6.5 6.5z"></path><path d="M10.5 4l-2.5 2.5-2.5-2.5-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 2.5-2.5 2.5 2.5 1.5-1.5-2.5-2.5 2.5-2.5z"></path></svg>
        <span class="text-sm md:text-xl">Cancel</span>
      <% end %>
    </div>
    <div class="flex items-center space-x-2">
      <%= button_to(client_path(@client), {
      class: "flex items-center space-x-2 md:space-x-4 px-4 md:px-6 py-1 md:py-2
      focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 
      bg-indigo-600 hover:bg-indigo-700 border-indigo-500 text-white
      rounded shadow border"
    }) do %>
        <svg class="w-4 h-4 md:w-8 md:h-8" stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4"></path></svg>
        <span class="text-sm md:text-xl">Save Changes</span>
      <% end %>
    </div>
  <% end %>
