<%= form_with(model: client, local: true) do |form| %>

  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>
      <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-full flex flex-col space-y-14 mt-24 text-4xl text-gray-800 leading-snug tracking-wide px-4">
    <div class="flex flex-1 space-x-4">
      <div class="field w-full">
        <%= form.label :first_name, "First Name", class: "block"  %>
        <%= form.text_field :first_name, size: 23, class: "border w-full p-6" %>
      </div>

      <div class="field w-full">
        <%= form.label :last_name, "Last Name", class: "block"  %>
        <%= form.text_field :last_name, size: 23, class: "border w-full p-6" %>
      </div>
    </div>

    <div class="flex flex-1 space-x-4">
      <div class="field w-full">
        <%= form.label :date_of_birth, class: "block"  %>
        <%= form.date_select :date_of_birth, 
          {
            use_short_month: true,
            order: [:month, :day, :year]
          },
          class: "bg-white border p-6" %>
      </div>

      <div class="field w-full">
        <%= form.label :gender, class: "block"  %>
        <%= form.text_field :gender, class: "border w-full p-6" %>
      </div>
    </div>

    <div class="flex flex-1 space-x-4">
      <div class="field w-full">
        <%= form.label :race, class: "block"  %>
        <%= form.text_field :race, class: "border w-full p-6" %>
      </div>

      <div class="field w-full">
        <%= form.label :ethnicity, class: "block"  %>
        <%= form.text_field :ethnicity, class: "border w-full p-6" %>
      </div>
    </div>

    <div class="flex flex-1 space-x-4">
      <div class="field w-full">
        <%= form.label :phone_number, class: "block"  %>
        <%= form.telephone_field :phone_number, class: "w-full border p-6" %>
      </div>

      <div class="field w-full">
        <%= form.label :email_address, class: "block"  %>
        <%= form.email_field :email_address, class: "w-full border p-6" %>
      </div>
    </div>

    <div class="flex flex-1 space-x-4">
      <div class="field w-full">
        <%= form.label :king_soopers_card, class: "block" %>
        <%= form.label :king_soopers_card, "Yes", :value => "true"  %>
        <%= form.radio_button :king_soopers_card, true %>
        <%= form.label :king_soopers_card, "No", :value => "false" %>
        <%= form.radio_button :king_soopers_card, false, :checked => true %>
      </div>

      <div class="field w-full">
        <%= form.label :bus_pass, class: "block" %>
        <%= form.label :bus_pass, "Yes", :value => "true"  %>
        <%= form.radio_button :bus_pass, true %>
        <%= form.label :bus_pass, "No", :value => "false" %>
        <%= form.radio_button :bus_pass, false, :checked => true %>
      </div>
    </div>

    <div class="flex flex-1 space-x-4">
      <div class="field w-full">
        <%= form.label :num_nights, 'Number of Nights', class: "block" %>
        <%= form.number_field :num_nights, min: 1, step: 1, class: "border w-full p-6" %>
      </div>

      <div class="field w-full">
        <%= form.label :hotel, class: "block" %>
        <%= form.text_field :hotel, class: "border w-full p-6" %>
      </div>
    </div>

    <div class="field">
      <%= form.label :homelessness_first_time, 
        "Is this the first time you have been homeless?", 
        class: "block" %>
      <%= form.label :homelessness_first_time, "Yes", :value => "true"  %>
      <%= form.radio_button :homelessness_first_time, true %>
      <%= form.label :homelessness_first_time, "No", :value => "false" %>
      <%= form.radio_button :homelessness_first_time, false, :checked => true %>
    </div>

    <div class="field">
      <%= form.label :homelessness_how_long_this_time, 
        "How long have you been homeless this time?", 
        class: "block" %>
      <%= form.text_field :homelessness_how_long_this_time, class: "border w-full p-6" %>
    </div>

    <div class="field">
      <%= form.label :homelessness_episodes_last_three_years, 
        "Including this time, how many separate times have you stayed in shelters or on the streets in the past 3 years?", 
        class: "block"  %>
      <%= form.text_field :homelessness_episodes_last_three_years, class: "border w-full p-6" %>
    </div>

    <div class="field">
      <%= form.label :homelessness_episodes_how_long, 
        "In total, how long did you stay in shelters or on the streets those times?", 
        class: "block" %>
      <%= form.text_field :homelessness_episodes_how_long, class: "border w-full p-6" %>
    </div>

    <div class="field">
      <%= form.label :homelessness_how_long_living_in_this_community, 
        "How long have you been living in this community?",
        class: "block"  %>
      <%= form.text_field :how_long_living_in_this_community, class: "border w-full p-6" %>
    </div>

    <div class="field">
      <%= form.label :where_did_you_sleep_last_night, 
        "Where did you sleep last night?",
        class: "block"  %>
      <%= form.text_field :where_did_you_sleep_last_night, class: "border w-full p-6" %>
    </div>

    <div class="field">
      <%= form.label :why_not_shelter, 
        "What is the reason you have not accessed shelter?",
        class: "block"  %>
      <%= form.text_field :why_not_shelter, class: "border w-full p-6" %>
    </div>

    <div class="field">
      <%= form.label :are_you_working, 
        "Are you working?", 
        class: "block"  %>
      <%= form.label :are_you_working, "Yes", :value => "true"  %>
      <%= form.radio_button :are_you_working, true %>
      <%= form.label :are_you_working, "No", :value => "false" %>
      <%= form.radio_button :are_you_working, false, :checked => true %>
    </div>

    <div class="field">
      <%= form.label :armed_forces, 
        "Have you ever served in the US Armed Forces (Army, Navy, Air Force, Marines or Coast Guard)?", 
        class: "block" %>
      <%= form.label :armed_forces, "Yes", :value => "true"  %>
      <%= form.radio_button :armed_forces, true %>
      <%= form.label :armed_forces, "No", :value => "false" %>
      <%= form.radio_button :armed_forces, false, :checked => true %>
    </div>

    <div class="field">
      <%= form.label :active_duty, 
        "Were you ever called into active duty as a member of the National Guard or as a Reservist?",
        class: "block" %>
      <%= form.label :active_duty, "Yes", :value => "true"  %>
      <%= form.radio_button :active_duty, true %>
      <%= form.label :active_duty, "No", :value => "false" %>
      <%= form.radio_button :active_duty, false, :checked => true %>
    </div>

    <div class="field">
      <%= form.label :substance_abuse, 
        "Do you have any Substance Abuse Issues?",
        class: "block" %>
      <%= form.label :substance_abuse, "Yes", :value => "true"  %>
      <%= form.radio_button :substance_abuse, true %>
      <%= form.label :substance_abuse, "No", :value => "false" %>
      <%= form.radio_button :substance_abuse, false, :checked => true %>
    </div>

    <div class="field">
      <%= form.label :substance_abuse_impairment, 
        "If yes, is this a long-term disease that impairs your ability to hold a job or live independently?",
        class: "block" %>
      <%= form.label :substance_abuse_impairment, "Yes", :value => "true"  %>
      <%= form.radio_button :substance_abuse_impairment, true %>
      <%= form.label :substance_abuse_impairment, "No", :value => "false" %>
      <%= form.radio_button :substance_abuse_impairment, false, :checked => true %>
    </div>

    <div class="field">
      <%= form.label :chronic_health_condition, 
        "Do you have a Chronic Health Condition?",
        class: "block" %>
      <%= form.label :chronic_health_condition, "Yes", :value => "true"  %>
      <%= form.radio_button :chronic_health_condition, true %>
      <%= form.label :chronic_health_condition, "No", :value => "false" %>
      <%= form.radio_button :chronic_health_condition, false, :checked => true %>
    </div>

    <div class="field">
      <%= form.label :chronic_health_condition_impairment, 
        "If yes, is this a long-term disease that impairs your ability to hold a job or live independently?",
        class: "block" %>
      <%= form.label :chronic_health_condition_impairment, "Yes", :value => "true"  %>
      <%= form.radio_button :chronic_health_condition_impairment, true %>
      <%= form.label :chronic_health_condition_impairment, "No", :value => "false" %>
      <%= form.radio_button :chronic_health_condition_impairment, false, :checked => true %>
    </div>

    <div class="field">
      <%= form.label :mental_health_disability, 
        "Do you have a Mental Health disability?",
        class: "block" %>
      <%= form.label :mental_health_disability, "Yes", :value => "true"  %>
      <%= form.radio_button :mental_health_disability, true %>
      <%= form.label :mental_health_disability, "No", :value => "false" %>
      <%= form.radio_button :mental_health_disability, false, :checked => true %>
    </div>

    <div class="field">
      <%= form.label :mental_health_disability_impairment, 
        "If yes, is this a long-term disease that impairs your ability to hold a job or live independently?",
        class: "block" %>
      <%= form.label :mental_health_disability_impairment, "Yes", :value => "true"  %>
      <%= form.radio_button :mental_health_disability_impairment, true %>
      <%= form.label :mental_health_disability_impairment, "No", :value => "false" %>
      <%= form.radio_button :mental_health_disability_impairment, false, :checked => true %>
    </div>

    <div class="field">
      <%= form.label :physical_disability, 
        "Do you have a Physical Disability?",
        class: "block" %>
      <%= form.label :physical_disability, "Yes", :value => "true"  %>
      <%= form.radio_button :physical_disability, true %>
      <%= form.label :physical_disability, "No", :value => "false" %>
      <%= form.radio_button :physical_disability, false, :checked => true %>
    </div>

    <div class="field">
      <%= form.label :physical_disability_impairment, 
        "If yes, is this a long-term disease that impairs your ability to hold a job or live independently?",
        class: "block" %>
      <%= form.label :physical_disability_impairment, "Yes", :value => "true"  %>
      <%= form.radio_button :physical_disability_impairment, true %>
      <%= form.label :physical_disability_impairment, "No", :value => "false" %>
      <%= form.radio_button :physical_disability_impairment, false, :checked => true %>
    </div>


    <div class="field">
      <%= form.label :developmental_disability, 
        "Do you have a Developmental Disability?",
        class: "block" %>
      <%= form.label :developmental_disability, "Yes", :value => "true"  %>
      <%= form.radio_button :developmental_disability, true %>
      <%= form.label :developmental_disability, "No", :value => "false" %>
      <%= form.radio_button :developmental_disability, false, :checked => true %>
    </div>

    <div class="field">
      <%= form.label :developmental_disability_impairment, 
        "If yes, is this a long-term disease that impairs your ability to hold a job or live independently?",
        class: "block" %>
      <%= form.label :developmental_disability_impairment, "Yes", :value => "true"  %>
      <%= form.radio_button :developmental_disability_impairment, true %>
      <%= form.label :developmental_disability_impairment, "No", :value => "false" %>
      <%= form.radio_button :developmental_disability_impairment, false, :checked => true %>
    </div>

    <div class="field">
      <%= form.label :fleeing_domestic_violence, 
        "Are you experiencing homelessness because you are fleeing Domestic Violence, Sexual Assault or Stalking?",
        class: "block" %>
      <%= form.label :fleeing_domestic_violence, "Yes", :value => "true"  %>
      <%= form.radio_button :fleeing_domestic_violence, true %>
      <%= form.label :fleeing_domestic_violence, "No", :value => "false" %>
      <%= form.radio_button :fleeing_domestic_violence, false, :checked => true %>
    </div>

    <div class="field w-full">
      <%= form.label :num_adults_household, 'Number of adults in household', class: "block" %>
      <%= form.number_field :num_adults_household, min: 1, step: 1, class: "border w-full p-6" %>
    </div>

    <div class="field w-full">
      <%= form.label :num_children_household, 'Number of children in household', class: "block" %>
      <%= form.number_field :num_children_household, min: 1, step: 1, class: "border w-full p-6" %>
    </div>

    <div class="field w-full">
      <%= form.label :last_permanent_residence_city_and_state, "City and State of Last Permanent Residence", class: "block"  %>
      <%= form.text_field :last_permanent_residence_city_and_state, size: 23, class: "border w-full p-6" %>
    </div>

    <div class="field w-full">
      <%= form.label :last_permanent_residence_county, "County of Last Permanent Residence", class: "block"  %>
      <%= form.text_field :last_permanent_residence_county, size: 23, class: "border w-full p-6" %>
    </div>

    <div class="actions mt-12">
      <%= link_to 'Complete Intake', nil, class: 'btn btn-blue' %>
    </div>
  </div>
<% end %>
