<table>
  <thead>
    <tr>
      <th style="text-align: left;">First Name</th>
      <th style="text-align: left;">Last Name</th>
      <th style="text-align: left;">Date of Birth</th>
      <th style="text-align: left;">Gender</th>
      <th style="text-align: left;"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.first_name %></td>
        <td><%= client.last_name %></td>
        <td><%= formatted_date(client.date_of_birth) %></td>
        <td><%= client.gender %></td>
        <td><%= link_to 'show', client_path(client) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
