<section class="px-6 mt-16">
  <p class="step-description">1. Search the red flag list</p>
  <h1 class="mt-24 text-9xl text-black font-bold">Client Search</h1>
</section>

<section class="mt-16">
  <%= render partial: 'shared/swap_notices' %>
  <%= render partial: 'shared/notices/no_vouchers' %>
</section>

<p class="px-6 pt-16 help-text">
  Search for your client within SWAP.<br />
  Use broad search terms: "Ben" instead of "Benjamin," or "Jo" instead of "Joseph."
</p>
<div class="mt-6 px-6">
  <%= render partial: 'search_form' %>
</div>

<section class="mt-16">
  <% if @searched %>
    <% if @clients.any? %>
      <p class="mt-16 px-6 help-text">
        <strong><%= @clients.size %> results found for "<%= @searched_term
          %>"</strong>. Click on a row to view the client's program history and issue a hotel voucher.
      </p>
      <section class="mt-8 shadow-lg">
        <%= render partial: 'table' %>
      </section>
    <% else %>
      <div class="help-text px-6">
        <strong>0 results found for "<%= @searched_term %>"</strong>
      </div>
    <% end %>
    <section class="px-6 py-16">
      <p class="help-text">
      Still don't see your client? If they have previously participated, try searching by an alternate name.
      </p>
      <h2 class="mt-16 text-7xl text-center font-bold">
        <% if @swap.present? %>
          Proceed to <%= link_to 'intake', new_intake_path, class: 'link' %>.
        <% else %>
          New client intake can only be performed when SWAP is activated.
        <% end %>
      </h2>
    </section>
  <% end %>
</section>
