<div class="md:container lg:max-w-6xl pb-24">
  <section class="mt-4 px-2">
    <%= render partial: 'shared/swap_notices' %>
  </section>

  <section class="mt-4 md:mt-8 px-2 text-base sm:text-lg md:text-xl">
    <div class="flex justify-between items-center">
      <h2><%= @client.name %></h2>
      <p class="text-sm md:text-base lg:text-lg font-italic text-gray-600">
        Last update: <%= time_ago_in_words(@client.updated_at) %> ago
      </p>
    </div>

    <div class="mt-4 md:mt-8">
      <% if @editing %>
        <%= render partial: 'client_details_form' , client: @client %>
      <% else %>
        <%= render partial: 'client_details' , client: @client %>
      <% end %>
    </div>

    <div class="text-base md:text-xl">
      <div class="h-32 flex justify-center items-center">
        <p>
          This isn't the right <span class="font-bold"><%= @client.name %></span>.
          <span class="block md:inline"><%= link_to 'Take me back to client search' , clients_path, class: 'underline text-indigo-600' %>.</span>
        </p>
      </div>
    </div>
  </section>

  <section class="flex flex-col gap-4 justify-center items-center">
    <div>
      <div class="px-4 sm:px-0 text-base sm:text-lg md:text-xl font-semibold max-w-lg sm:max-w-xl md:max-w-2xl">
        <% if @client.banned? %>
          <span class="text-red-500">🚩<%= @client.first_name %> has been red-flagged program-wide.</span><span class="block">They are not eligible to receive SWAP hotel vouchers.</span>
        <% elsif @client.partial_ban? %>
          <p class="text-red-500">🚩<%= @client.first_name %> has been red-flagged from these hotels:</p>
          <% @client.flagged_hotels.each do |hotel| %>
            <%= hotel.name %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div>
      <%= button_to new_voucher_path(client_id: @client.id), { method: :get, params: { client_id: @client.id },
        disabled: !@swap&.intake_active? || @client.banned?,
        class: button_class(!@swap&.intake_active? || @client.banned?) } do %>
        <%= render partial: 'create_voucher_button' %>
      <% end %>
    </div>
  </section>
</div>
