<section class="px-6 mt-16">
  <h1 class="mt-24 text-9xl text-black font-bold"><%= @client.name %></h1>
  <section class="mt-12">
    <p class="text-6xl"><strong>Date of birth:</strong> <%= formatted_date(@client.date_of_birth) %></p>
    <p class="text-6xl leading-loose"><strong>Gender:</strong> <%= @client.gender %></p>
  </section>
</section>
<section class="text-5xl mt-16">
  <%= render partial: 'shared/swap_notices' %>
  <div class="flex flex-1 flex-col font-bold space-y-16 ">
    <div class="w-full">
      <% if @red_flagged %>
        <section class="text-5xl px-6 mt-16">
          <p class="help-text">
            <strong class="text-red-500"><%= @client.first_name %> has been red flagged program-wide</strong>. They are not currently eligible to receive SWAP hotel vouchers.
          </p>
        </section>
      <% else %>
        <% if @existing_voucher.present? %>
          <%= render partial: 'shared/notices/existing_voucher' %>
        <% else %>
          <% if @swap.present? %>
            <% if !@num_vouchers_remaining_today.zero? %> 
              <p class="px-6 mt-16 text-6xl text-center">Issue a <%= link_to 'hotel voucher', new_voucher_path(client_id: @client.id), class: 'link' %> 🎫</p>
            <% end %>
          <% else %>
            <p class="px-6 mt-16 text-6xl">Hotel vouchers can only be issued during a SWAP period.</p>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>
</section>
<section class="mt-16 px-6">
  <h2 class="bg-gray-800 text-white text-7xl font-semibold py-4 px-6">Incident Reports</h2>
  <% if @client.incident_reports.any? %>
    <% @client.incident_reports.each do |incident| %>
      <div class="flex flex-col flex-1 space-y-4 p-4 border border-b-1 border-black bg-white">
        <p class="text-5xl"><strong>Reported By:</strong> <%= incident.reporter.name %></p>
        <p class="text-5xl"><strong>Reporter Email:</strong> <%= incident.reporter.email %></p>
        <p class="text-5xl"><strong>Description:</strong> <%= incident.description %></p>
      </div>
    <% end %>
  <% else %>
    <div class="bg-white text-6xl font-bold text-center py-12 leading-relaxed border border-b-1 border-black">
      <p>No incidents found.</p>
    </div>
  <% end %>
</section>
<section class="mt-16 px-6 pb-16">
  <h2 class="bg-gray-800 text-white text-7xl font-semibold py-4 px-6">Vouchers</h2>
  <% if @client.vouchers.any? %>
    <% @client.vouchers.each do |voucher| %>
      <div class="flex flex-col flex-1 space-y-4 py-8 px-6 border border-b-1 border-black bg-white">
        <p class="text-5xl"><strong>Number:</strong> <%= voucher.number %></p>
        <p class="text-5xl"><strong>Hotel:</strong> <%= voucher.hotel.name %></p>
        <p class="text-5xl"><strong>Check In:</strong> <%= formatted_date(voucher.check_in) %></p>
        <p class="text-5xl"><strong>Check Out:</strong> <%= formatted_date(voucher.check_out) %></p>
        <p class="text-5xl"><strong>Issued By:</strong> <%= "#{voucher.user.name} (#{voucher.user.email})" %></p>
        <p class="text-5xl"><strong>Issued On:</strong> <%= formatted_date(voucher.created_at) %></p>
      </div>
    <% end %>
  <% else %>
    <div class="bg-white text-6xl font-bold text-center py-12 leading-relaxed border border-b-1 border-black">
      <p>No vouchers found.</p>
    </div>
  <% end %>
</section>
