<section class="mt-4 px-2 md:px-0 md:w-11/12 mx-auto">
  <%= render partial: 'shared/swap_notices' %>
</section>

<section class="mt-8 md:mt-12 pb-8 md:pb-16 px-2 md:px-0 md:w-11/12 mx-auto text-base sm:text-lg md:text-xl">
  <p class="text-xl sm:text-3xl md:text-5xl text-gray-900 font-bold"><%= @client.name %></h1>

  <% if @client.banned %>
    <p class="mt-2 md:mt-4 text-base sm:text-lg md:text-xl">
      <span class="font-semibold text-red-500"><%= @client.first_name %> has been red-flagged program-wide.</span> They are not eligible to receive SWAP hotel vouchers.
    </p>
  <% end %>

  <% if @client.no_flags? %>
    <p class="mt-2 md:mt-4 text-base sm:text-lg md:text-xl"><%= @client.first_name %> is eligible to receive vouchers at any participating SWAP hotel.</p>
  <% end %>

  <% if @client.has_received_voucher_this_swap_period? %>
    <p class="mt-2 md:mt-4 text-base sm:text-l md:text-xl md:te">
      <%= @client.first_name %> has already received a voucher for the SWAP period!
      <%= link_to 'Click here to view it.', @existing_voucher, class: "inline md:block text-base sm:text-lg md:text-xl underline text-indigo-600" %>
    </p>
  <% end %>

  <div class="mt-4 md:mt-8">
    <% if @editing %>
      <%= render partial: 'client_details_form' , client: @client %>
    <% else %>
      <%= render partial: 'client_details' , client: @client %>
    <% end %>
  </div>

  <div class="mt-8 md:mt-12 text-center text-base md:text-xl">
    <p>
      This isn't the right <%= @client.name %>.
      <span class="block md:inline">Take me back to <%= link_to 'client search' , clients_path, class: 'underline text-indigo-600' %>.</span>
    </p>
  </div>

  <div class="mt-8 md:mt-12">
    <% if @swap.intake_active? %>
      <% if @client.partial_ban? %>
        <div class="text-base md:text-xl text-center">
          <p><%= @client.first_name %> isn't eligible to receive vouchers at the following hotels:</p>
          <ul class="p-1">
          <% @client.flagged_hotels.each do |hotel| %>
            <li><span class="font-semibold tracking-wide"><%= hotel.name %></span></li>
          <% end %>
          </ul>
        </div>

        <div class="mt-8 md:mt-16 text-center">
          <%= button_to new_voucher_path(client_id: @client.id), { method: :get, params: { client_id: @client.id }, 
              class: button_class(!@swap.intake_active?) } do %>
            <span class="text-lg md:text-3xl leading-tight font-semibold tracking-wide">Create Voucher</span>
            <span class="text-lg font-semibold">
              <svg class="inline" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="1em"
                width="1em" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10.146 4.646a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708-.708L12.793 8l-2.647-2.646a.5.5 0 010-.708z"
                  clip-rule="evenodd"></path>
                <path fill-rule="evenodd" d="M2 8a.5.5 0 01.5-.5H13a.5.5 0 010 1H2.5A.5.5 0 012 8z" clip-rule="evenodd"></path>
              </svg>
            </span>
            <p class="mb-1 text-xs md:text-base">above sites will <span class="italic">not</span> be available!</p>
          <% end %>
        </div>
      <% end %>

      <% if @client.no_flags? %>
        <div class="mt-8 md:mt-16 text-center">
          <%= button_to new_voucher_path(client_id: @client.id), { method: :get, params: { client_id: @client.id }, 
              class: button_class(!@swap.intake_active?) } do %>
            <span class="text-lg md:text-3xl leading-tight font-semibold tracking-wide">Create Voucher</span>
            <span class="text-lg md:text-3xl font-semibold">
              <svg class="inline" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="1em"
                width="1em" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10.146 4.646a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708-.708L12.793 8l-2.647-2.646a.5.5 0 010-.708z"
                  clip-rule="evenodd"></path>
                <path fill-rule="evenodd" d="M2 8a.5.5 0 01.5-.5H13a.5.5 0 010 1H2.5A.5.5 0 012 8z" clip-rule="evenodd"></path>
              </svg>
            </span>
          <% end %>
        </div>
      <% end %>

    <% else %>
      <div class="mt-8 md:mt-16 text-center">
        <%= button_tag nil, class: button_class(!@swap.intake_active?), disabled: true do %>
          <span class="text-lg md:text-3xl leading-tight font-semibold tracking-wide">Create Voucher</span>
          <svg class="inline pb-1 md:pb-2 w-5 h-5 md:w-8 md:h-8" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2zM4 12c0-4.4 3.6-8 8-8 1.8 0 3.5.6 4.9 1.7L5.7 16.9C4.6 15.5 4 13.8 4 12zm8 8c-1.8 0-3.5-.6-4.9-1.7L18.3 7.1C19.4 8.5 20 10.2 20 12c0 4.4-3.6 8-8 8z">
            </path>
          </svg>
        <% end %>
        <p class="px-4 md:px-8 mt-6 md:mt-8 text-base md:text-xl">Vouchers can only be issued during the SWAP intake period.</p>
      </div>
    <% end %>
  </div>
</section>