<p id="notice"><%= notice %></p>

<div>
  <p><strong>First name:</strong> <%= @client.first_name %></p>
  <p><strong>Last name:</strong> <%= @client.last_name %></p>
  <p><strong>Date of birth:</strong><%= formatted_date(@client.date_of_birth) %></p>
  <p><strong>Gender:</strong> <%= @client.gender %></p>
</div>

<hr />

<div>
  <h2>Incident Reports</h2>
  <%= render partial: 'incident_reports', locals: { client: @client } %>
</div>

<%= link_to 'Back', clients_path %>
