<div class="md:container lg:max-w-6xl">
  <section class="mt-4 px-2">
    <%= render partial: 'shared/swap_notices' %>
  </section>

  <section class="mt-4 md:mt-8 px-2 text-base sm:text-lg md:text-xl">
    <div class="flex justify-between items-center">
      <h2><%= @client.name %></h2>
      <p class="text-sm md:text-base lg:text-lg font-italic text-gray-600">
        Last update: <%= time_ago_in_words(@client.updated_at) %> ago
      </p>
    </div>

    <% if @client.banned? %>
      <p class="mt-2 md:mt-4 text-base sm:text-lg md:text-xl">
        <span class="font-semibold text-red-500"><%= @client.first_name %> has been red-flagged program-wide.</span> They are not eligible to receive SWAP hotel vouchers.
      </p>
    <% end %>

    <div class="mt-4 md:mt-8">
      <% if @editing %>
        <%= render partial: 'client_details_form' , client: @client %>
      <% else %>
        <%= render partial: 'client_details' , client: @client %>
      <% end %>
    </div>

    <div class="text-base md:text-xl">
      <div class="h-32 flex justify-center items-center">
        <p>
          This isn't the right <span class="font-bold"><%= @client.name %></span>.
          <span class="block md:inline"><%= link_to 'Take me back to client search' , clients_path, class: 'underline text-indigo-600' %>.</span>
        </p>
      </div>
    </div>

    <!-- todo: build workflow for disabling vouchers during non-active swap periods -->
  </section>
</div>
