<%= link_to 'Back', clients_path %>
<section class="">
  <h2 class="bg-gray-500 text-white text-2xl font-semibold py-4 px-4">Client Data</h2>
  <div class="py-4 px-4">
    <p class="text-xl"><strong>First name:</strong> <%= @client.first_name %></p>
    <p class="text-xl mt-2"><strong>Last name:</strong> <%= @client.last_name %></p>
    <p class="text-xl mt-2"><strong>Date of birth:</strong> <%= formatted_date(@client.date_of_birth) %></p>
    <p class="text-xl mt-2"><strong>Gender:</strong> <%= @client.gender %></p>
  </div>
</section>

<main class="min-h-screen bg-white">
  <h2 class="bg-gray-500 text-white text-2xl font-semibold py-4 px-4">Incident Reports</h2>
  <div class="py-4 px-4">
    <%= render partial: 'incident_reports', locals: { client: @client } %>
  </div>
</main>

