<section class="mt-4 px-2 md:w-11/12 mx-auto">
  <%= render partial: 'shared/swap_notices' %>
</section>

<section class="mt-8 pb-8 px-2 md:w-11/12 mx-auto text-base">
  <h1 class="md:text-5xl text-gray-900 font-bold"><%= @client.name %></h1>

  <% if @client.banned %>
    <p class="mt-2 text-sm">
      <span class="font-semibold text-red-500"><%= @client.first_name %> has been red-flagged program-wide.</span> They are not eligible to receive SWAP hotel vouchers.
    </p>
  <% end %>

  <% if @client.no_flags? %>
    <p><%= @client.first_name %> is eligible to receive vouchers at any participating SWAP hotel.</p>
  <% end %>

  <div class="mt-4">
    <% if @editing %>
      <%= render partial: 'client_details_form' , client: @client %>
    <% else %>
      <%= render partial: 'client_details' , client: @client %>
    <% end %>
  </div>

  <div class="mt-8 text-center text-base">
    <p>This isn't the right <%= @client.name %>.<p>
    <p>Take me back to <%= link_to 'client search' , clients_path, class: 'font-semibold tracking-wide underline' %>.</p>
  </div>

  <div class="mt-8 px-2">
    <% if @client.partial_ban? %>
      <div>
        <p><%= @client.first_name %> isn't eligible to receive vouchers at the following hotels:</p>
        <ul class="p-1">
          <% @client.flagged_hotels.each do |hotel| %>
            <li><span class="font-semibold tracking-wide"><%= hotel.name %></span></li>
          <% end %>
        </ul>
      </div>

      <div class="mt-8 text-center">
        <%= link_to(new_voucher_path(client_id: @client.id)) do %>
          <%= button_tag class: "inline-block px-6 pt-1 pb-2 text-white text-center bg-indigo-600 rounded-lg" do %>
            <span class="text-lg leading-tight font-semibold tracking-wide">Create Voucher</span>
            <span class="text-lg font-semibold">
              <svg class="inline" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="1em"
                width="1em" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10.146 4.646a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708-.708L12.793 8l-2.647-2.646a.5.5 0 010-.708z"
                  clip-rule="evenodd"></path>
                <path fill-rule="evenodd" d="M2 8a.5.5 0 01.5-.5H13a.5.5 0 010 1H2.5A.5.5 0 012 8z" clip-rule="evenodd">
                </path>
              </svg>
            </span>
            <p class="text-xs">above sites will <span class="italic">not</span> be available!</p>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if @client.no_flags? %>
      <div class="mt-8 text-center">
        <%= link_to(new_voucher_path(client_id: @client.id)) do %>
          <%= button_tag class: "inline-block px-6 pt-1 pb-2 text-white text-center bg-indigo-600 rounded-lg" do %>
            <span class="text-lg leading-tight font-semibold tracking-wide">Create Voucher</span>
            <span class="text-lg font-semibold">
              <svg class="inline" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="1em"
                width="1em" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10.146 4.646a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708-.708L12.793 8l-2.647-2.646a.5.5 0 010-.708z"
                  clip-rule="evenodd"></path>
                <path fill-rule="evenodd" d="M2 8a.5.5 0 01.5-.5H13a.5.5 0 010 1H2.5A.5.5 0 012 8z" clip-rule="evenodd">
                </path>
              </svg>
            </span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

<!--
<% if current_user.admin_user? %>
    <p class="px-6 mt-16 text-center"><span class="text-red-700">ADMIN ONLY:</span> <%= link_to 'View', hotels_show_client_path(client_id: @client.id), class: 'link' %> flags for this client.</p>
<% end %>

<section class="mt-4 px-2 md:w-11/12 mx-auto">
  <p class="bg-gray-800 text-white text-lg font-semibold">Incident Reports</p>
  <% if @client.incident_reports.any? %>
    <% @client.incident_reports.each do |incident| %>
      <div class="flex flex-col flex-1 space-y-4 p-4 border border-b-1 border-black bg-white">
        <p class="text-5xl"><strong>Reported By:</strong> <%= incident.reporter.name %></p>
        <p class="text-5xl"><strong>Reporter Email:</strong> <%= incident.reporter.email %></p>
        <p class="text-5xl"><strong>Description:</strong> <%= incident.description %></p>
      </div>
    <% end %>
  <% else %>
    <div class="bg-white text-6xl font-bold text-center py-12 leading-relaxed border border-b-1 border-black">
      <p>No incidents found.</p>
    </div>
  <% end %>
</section>


<section class="mt-16 px-6 pb-16">
  <h2 class="bg-gray-800 text-white text-7xl font-semibold py-4 px-6">Vouchers</h2>
  <% if @client.vouchers.any? %>
    <% @client.vouchers.each do |voucher| %>
      <div class="flex flex-col flex-1 space-y-4 py-8 px-6 border border-b-1 border-black bg-white">
        <p class="text-5xl"><strong>Number:</strong> <%= voucher.number %></p>
        <p class="text-5xl"><strong>Hotel:</strong> <%= voucher.hotel.name %></p>
        <p class="text-5xl"><strong>Check In:</strong> <%= formatted_date(voucher.check_in) %></p>
        <p class="text-5xl"><strong>Check Out:</strong> <%= formatted_date(voucher.check_out) %></p>
        <p class="text-5xl"><strong>Issued By:</strong> <%= "#{voucher.user.name} (#{voucher.user.email})" %></p>
        <p class="text-5xl"><strong>Issued On:</strong> <%= formatted_date(voucher.created_at) %></p>
      </div>
    <% end %>
  <% else %>
    <div class="bg-white text-6xl font-bold text-center py-12 leading-relaxed border border-b-1 border-black">
      <p>No vouchers found.</p>
    </div>
  <% end %>
</section> -->