<div class="container mt-12">
  <p id="notice"><%= notice %></p>
  <h1 class="text-3xl">Hotels</h1>
  <table class="text-lg mt-8G">
    <thead>
      <tr>
        <th class="text-left">Id</th>
        <th class="text-left">Active</th>
        <th class="text-left">Name</th>
        <th class="text-left">Phone</th>
        <th class="text-left">Address</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @hotels.each do |hotel| %>
        <tr>
          <td>
            <pre><%= hotel.id %></pre>
          </td>
          <td>
            <pre><%= hotel.active %></pre>
          </td>
          <td>
            <pre><%= hotel.name %></pre>
          </td>
          <td>
            <pre><%= hotel.phone %></pre>
          </td>
          <td>
            <pre><%= hotel.address.to_json %></pre>
          </td>
          <td><%= link_to 'Show', [:admin, hotel] %></td>
          <td><%= link_to 'Edit', edit_admin_hotel_path(hotel) %></td>
          <td><%= link_to 'Destroy', [:admin, hotel], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Hotel', new_admin_hotel_path, class: "btn btn-primaryG" %>
</div>