<div class="container mt-12">
  <p id="notice"><%= notice %></p>
  <h1 class="text-3xl">Hotels</h1>
  <div class="mt-8">
    <p class="text-xl">
      <%= pluralize(Hotel.active.count, "hotel") %> active
    </p>
  </div>
  <table class="text-lg mt-16">
    <thead>
      <tr>
        <th class="text-left">Id</th>
        <th class="text-left">Active</th>
        <th class="text-left">Name</th>
        <th class="text-left">Phone</th>
        <th class="text-left">Address</th>
        <th>
      </tr>
    </thead>
    <tbody>
      <% @hotels.each do |hotel| %>
        <tr>
          <td>
            <pre><%= hotel.id %></pre>
          </td>
          <td>
            <pre><%= hotel.active %></pre>
          </td>
          <td>
            <pre><%= hotel.name %></pre>
          </td>
          <td>
            <pre><%= hotel.phone %></pre>
          </td>
          <td>
            <pre><%= hotel.address.to_json %></pre>
          </td>
          <td><%= link_to 'Show', [:admin, hotel] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Hotel', new_admin_hotel_path, class: "btn btn-primaryG" %>
</div>