<main class="container mx-auto mt-12 space-y-8 px-4 md:p-0">
  <!-- voucher details -->
  <section>
    <h3 class="font-bold tabular-nums"><%= @voucher.number %> - <%= @voucher.client.name %></h3>
    <div class="flex flex-col md:flex-row mt-4 divide-y-8 md:divide-y-0 md:divide-x-8 divide-dashed divide-gray-300 border-4 border-gray-500">
      <div class="flex flex-col md:w-2/3 text-2xl">
        <div class="flex">
          <div class="w-full flex flex-col p-6 gap-2">
            <p class="text-gray-700 text-lg uppercase font-bold tracking-wide">Voucher #</p>
            <p class="tabular-nums"><%= @voucher.number %></p>
          </div>
          <div class="w-full flex flex-col p-6 gap-2">
            <p class="text-lg uppercase font-bold">Holder</p>
            <p><%= @voucher.client.name %></p>
          </div>
        </div>
        <div class="flex border-t-8 border-dashed border-gray-300">
          <div class="w-full flex flex-col p-6 gap-2">
            <p class="text-gray-700 text-lg uppercase font-bold tracking-wide">Check In</p>
            <p class="tabular-nums"><%= humanize_date_short(@voucher.check_in) %></p>
          </div>
          <div class="w-full flex flex-col p-6 gap-2">
            <p class="text-gray-700 text-lg uppercase font-bold tracking-wide">Check Out</p>
            <p class="tabular-nums"><%= humanize_date_short(@voucher.check_out) %></p>
          </div>
        </div>
        <div class="flex border-t-8 border-dashed border-gray-300">
          <div class="w-full flex flex-col p-6 gap-2">
            <p class="text-gray-700 text-lg uppercase font-bold tracking-wide">Issued By</p>
            <p class="tabular-nums"><%= @voucher.user.name %></p>
          </div>
          <div class="w-full flex flex-col p-6 gap-2">
            <p class="text-gray-700 text-lg uppercase font-bold tracking-wide">Issued On</p>
            <p class="tabular-nums"><%= humanize_date_short(@voucher.created_at) %></p>
          </div>
        </div>
      </div>
      <!-- guests and notes -->
      <div class="flex flex-col p-6 gap-6">
        <div>
          <p class="text-gray-700 text-lg uppercase font-bold tracking-wide">Approved Guests</p>
          <ul class="text-left list-decimal list-inside space-y-2 text-xl pt-4">
            <li>fiona tang</li>
            <li>brandon johnson</li>
            <li>Ben Poon</li>
          </ul>
        </div>
        <div>
          <p class="text-gray-700 text-lg uppercase font-bold tracking-wide">Notes</p>
          <p>this muhfucka gotta dawg</p>
        </div>
      </div>
      <!-- end guests and notes -->
    </div>
  </section>
  <!-- end voucher details -->
  <section>
    <div class="flex flex-col md:flex-row">
      <div class="flex-1">
        <h4 class="font-bold tabular-nums">Incidents</h4>
        <div class="flex flex-col border-4 border-gray-500 p-4 mt-4">
          <ul>
            <% if @incidents.empty? %>
              No incidents to show.
            <% end %>
            <% @incidents.each do |incident| %>
              <li class="flex flex-col space-y-2">
                <div class="flex items-center">
                  <div>
                    <img class="inline-block h-12 w-12 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixqx=VaLuJJpOV2&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                  </div>
                  <div class="ml-3">
                    <p class="text-sm font-medium text-gray-700 group-hover:text-gray-900">
                      <%= incident.reporter.name %> (<%= incident.reporter.email %>)
                    </p>
                    <p class="text-xs font-medium text-gray-500 group-hover:text-gray-700">
                      <%= humanize_date(incident.occurred_at) %>
                    </p>
                  </div>
                </div>
                <div class="">
                  <p><%= incident.description %></p>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <!-- admin only update red flag section -->
      <% if current_user.admin_user? %>
        <div class="flex-1">
          <h4 class="font-bold tabular-nums">Update Red Flags</h4>
        </div>
      <% else %>
        <div class="flex-1">
          <h4 class="font-bold tabular-nums">Red Flags</h4>
        </div>
      <% end %>
      <!-- end admin only update red flag section -->
    </div>
  </section>
</main>
