<main class="container md:p-4 xl:p-0 max-w-6xl mx-auto mt-12 pb-24">
  <div class="px-2">
    <%= link_to hotels_home_path, class: "link no-underline" do %>
      <p class="flex items-center gap-2 text-md lg:text-lg">
        <svg width="1em" height="1em" fill="currentColor">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0
        0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0
        .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        back to list
      </p>
    <% end %>
  </div>
  <!-- voucher details -->
  <section>
    <h2 class="px-2 font-bold tabular-nums flex items-center justify-between">
      <% if @voucher.voided? %>
        <div>
          <span>Voucher</span>
          <span class="line-through bg-gray-200 text-gray-500">#<%= @voucher.number %></span>
        </div>
        <div>
          <span class="inline-flex items-center rounded-full bg-red-100 px-2.5 py-0.5 text-xl lg:text-2xl font-semibold text-red-800 tracking-wide">
            VOID
          </span>
          <span class="font-medium text-xl lg:text-2xl">This voucher has been marked invalid by administrators</span>
        </div>
      <% else %>
        <div>
          <span>Voucher</span>
          <span>#<%= @voucher.number %></span>
        </div>
      <% end %>
    </h2>
    <h3 class="mt-6 px-2 py-2 text-xl tracking-wide font-normal bg-gray-900 text-gray-100 rounded-t-lg">Details</h3>
    <div class="flex flex-col lg:flex-row bg-white lg:divide-y-0 lg:divide-x divide-gray-300 border border-gray-300 rounded-b-lg shadow-sm md:shadow-lg">
      <div class="flex flex-2 flex-col lg:w-2/3">
        <div class="flex divide-x divide-gray-300">
          <div class="w-full flex flex-col">
            <p class="px-2 py-1 bg-gray-100 text-gray-400 lg:text-base uppercase font-bold">Name</p>
            <div>
              <span class="px-2 py-4 text-xl lg:text-2xl"><%= @voucher.client.name %></span>
              <span class="cursor-pointer">
                <% if @voucher.client.profile_photo.attached? %>
                  <%= link_to url_for(@voucher.client.profile_photo) do %>
                    <%= profile_photo_for(@voucher.client) %>
                  <% end %>
                <% else %>
                  <%= profile_photo_for(@voucher.client) %>
                <% end %>
              </span>
            </div>
          </div>
          <div class="w-full flex flex-col">
            <p class="px-2 py-1 bg-gray-100 text-gray-400 lg:text-base uppercase font-bold tracking-wide">Date of Birth</p>
            <p class="px-2 py-4 tabular-nums text-xl lg:text-2xl"><%= @voucher.client.date_of_birth %></p>
          </div>
        </div>
        <div class="w-full flex flex-col">
          <p class="px-2 py-1 bg-gray-100 text-gray-400 lg:text-base uppercase font-bold tracking-wide">Hotel</p>
          <p class="px-2 py-4 text-xl lg:text-2xl"><%= @voucher.hotel.name %></p>
        </div>
        <div class="flex divide-x divide-gray-300">
          <div class="w-full flex flex-col gap-2">
            <p class="px-2 py-1 bg-gray-100 text-gray-400 lg:text-base uppercase font-bold tracking-wide">Check In</p>
            <p class="px-2 py-4 tabular-nums text-xl lg:text-2xl"><%= humanize_date_short(@voucher.check_in) %></p>
          </div>
          <div class="w-full flex flex-col gap-2">
            <p class="px-2 py-1 bg-gray-100 text-gray-400 lg:text-base uppercase font-bold tracking-wide">Check Out</p>
            <p class="px-2 py-4 tabular-nums text-xl lg:text-2xl"><%= humanize_date_short(@voucher.check_out) %></p>
          </div>
        </div>
        <div class="flex divide-x divide-gray-300">
          <div class="w-full flex flex-col gap-2">
            <p class="px-2 py-1 bg-gray-100 text-gray-400 lg:text-base uppercase font-bold tracking-wide">Issued By</p>
            <p class="px-2 py-4 tabular-nums text-xl lg:text-2xl"><%= @voucher.issuer.name %></p>
          </div>
          <div class="w-full flex flex-col gap-2">
            <p class="px-2 py-1 bg-gray-100 text-gray-400 lg:text-base uppercase font-bold tracking-wide">Issued On</p>
            <p class="px-2 py-4 tabular-nums text-xl lg:text-2xl"><%= humanize_date_short(@voucher.created_at) %></p>
          </div>
        </div>
      </div>
      <!-- guests and notes -->
      <div class="flex flex-1 flex-col gap-8">
        <div>
          <p class="px-2 py-1 bg-gray-100 text-gray-400 lg:text-base uppercase font-bold tracking-wide">Approved Guests</p>
          <% if @voucher.guests.empty? %>
            <p class="p-3 py-4 text-lg lg:text-xl">No guests.</p>
          <% end %>
          <ul class="px-3 py-4 text-left text-lg lg:text-xl list-decimal list-inside space-y-2">
            <% @voucher.guests.each do |guest| %>
              <li class="p-2"><%= guest.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <!-- end guests and notes -->
    </div>
  </section>
  <!-- end voucher details -->
  <section class="mt-4 md:mt-8">
    <div class="flex flex-col lg:flex-row gap-4 md:gap-6">
      <div class="flex-1">
        <%= render partial: 'red_flags' %>
      </div>
    </div>
  </section>
</main>
