<head>
  <title>Swapp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body class="min-h-screen bg-gray-100 overscroll-x-contain">
  <div class="container mx-auto max-w-lg lg:max-w-xl mt-48">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1 class="lg:text-8xl text-center font-bold">swapp</h1>
      <div class="flex flex-col gap-8 mt-32 text-2xl lg:text-3xl text-gray-500">
        <% if flash.alert %>
          <div id="error_explanation">
            <ul>
              <li><%= flash.alert %></li>
            </ul>
          </div>
        <% end %>
        <div>
          <%= f.label :email, class: "block leading-relaxed" %>
          <%= f.email_field :email, 
            autofocus: true, 
            autocomplete: "email",
            class: "w-full p-4 rounded-md text-gray-600 text-2xl lg:text-3xl"
          %>
        </div>
        <div>
          <%= f.label :password, class: "block leading-relaxed" %>
          <%= f.password_field :password, 
            autocomplete: "current-password",
            class: "w-full p-4 rounded-md text-gray-600 text-2xl lg:text-3xl"
          %>
        </div>
        <div>
          <%= f.submit "Log in", class: "w-full mt-10 p-4 rounded-md bg-indigo-500 text-white hover:bg-indigo-700 font-bold tracking-wide" %>
          <% if devise_mapping.rememberable? %>
            <div class="text-center mt-12">
              <%= f.check_box :remember_me, class: "mr-2 h-6 w-6" %>
              <%= f.label :remember_me, class: "text-xl lg:text-2xl" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</body>
