<section class="border border-gray-500 mt-16 shadow-xl">
  <h2 class="bg-gray-900 text-white text-6xl text-center font-semibold p-6">All Vouchers Issued</h2>
  <table class=" bg-white rounded text-left text-4xl w-full">
    <thead>
      <tr class="bg-gray-900 text-white tracking-wide">
        <th class="lg:rounded-tl-lg py-8 px-2 pl-3">#</th>
        <th class="lg:rounded-tl-lg py-8 px-2">Hotel</th>
        <th class="py-8 px-2">In</th>
        <th class="py-8 px-2">Out</th>
        <th class="py-8 px-2">By</th>
        <th class="lg:rounded-tr-lg py-8 px-2 pr-8">Issued</th>
      </tr>
    </thead>
    <tbody>
      <% @vouchers.each do |voucher| %>
        <tr>
          <td class="pl-4 px-2 py-4 text-left tabular-nums">
            <%= voucher.number %>
          </td>
          <td class="pl-4 px-2 py-4 text-left tabular-nums">
            <%= voucher.motel.name %>
          </td>
          <td class="py-4 px-2 text-left">
            <%= voucher.check_in.to_date.to_formatted_s(:short) %>
          </td>
          <td class="py-4 px-2 text-left">
            <%= voucher.check_out.to_date.to_formatted_s(:short) %>
          </td>
          <td class="py-4 px-2 text-left">
            <%= voucher.user.name %>
          </td>
          <td class="py-4 px-2 text-left pr-4">
            <%= voucher.created_at %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
