<section class="container mx-auto">
  <h4 class="font-bold tracking-wide admin-blue text-4xl text-center">Client Lookup</h4>
  <div class="mt-8 text-gray-800">
    <p class="text-2xl">Search for a client whose red flags you want to update, or whose incidents you want to view.</p>
    <form class="client_search" id="client_search" action="/admin" accept-charset="UTF-8" method="get">
      <div class="flex mt-8">
        <input id="search-input" class="flex-1 rounded-l-xl border border-gray-300 text-2xl p-6" name="q[first_name_or_last_name_cont]" id="q_first_name_or_last_name_cont" type="search" minlength="2" required placeholder="Search by first or last name" autofocus="autofocus">
        <button id="search-btn" class="border border-gray-300 rounded-r-xl flex items-center justify-center px-3 px-5">
          <svg class="h-8 w-8 text-grey-dark" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"/></svg>
        </button>
      </div>
    </form>
  </div>

  <div class="mt-12">
    <% if @searched %>
      <% if @clients.any? %>
          <p class="text-2xl">
            <strong><%= @clients.size %> results found for "<%= @searched_term %>."</strong>
            Click on a row to view a client's program history, update red flags, or modify incident reports.
          </p>
          <div class="mt-6 shadow-lg text-2xl">
            <div class="grid grid-cols-7 bg-white border border-gray-300">
              <div class="col-span-3 pl-2 pl-4 py-2 py-3 font-semibold tracking-wide">Name</div>
              <div class="col-span-3 py-2 py-3 font-bold tracking-wide">DOB</div>
              <div class="py-2"></div>
            </div>
            <div class="grid grid-cols-7 bg-white border border-gray-300 block overflow-y-scroll max-h-96">
              <% @clients.each_with_index do |client, idx| %>
                <div class="col-span-3 pl-4 py-3 text-left <%= idx.even? && 'bg-gray-200' %>">
                  <%= link_to(client.name, admin_clients_path(client), class: 'link') %>
                </div>
                <div class="col-span-3 py-3 text-left tabular-nums <%= idx.even? && 'bg-gray-200' %>">
                  <%= formatted_date(client.date_of_birth) %>
                </div>
                <div class="pr-4 py-3 text-center <%= idx.even? && 'bg-gray-200' %>">
                  <% if client.red_flags.any? %>
                    🚩
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
      <% else %>
        <p class="mt-8 text-2xl">
          <strong>0 results found for "<%= @searched_term %>"</strong>
        </p>
      <% end %>
        <p class="mt-8 text-2xl">
          Still don't see your client? If they have previously participated, try searching for an alternate name.
        </p>
    <% end %>
  </div>
</section>