<section class="bg-white shadow-lg rounded-lg">
 <div class="p-8 grid grid-cols-2 border border-4 rounded-lg current-swap-border">
  <div>
    <p class="text-3xl font-bold">Current Voucher Supply</p>
    <ul class="mt-2 text-2xl space-y-2">
      <% @vouchers_remaining_today.each do |(hotel_id, vouchers)| %>
        <li>
          <span><%= vouchers %></span>
          <span class="ml-5"><%= @hotel_map[hotel_id] %></span>
        </li>
      <% end %>
      <p class="mt-2 text-2xl font-bold"><%= @num_vouchers_remaining_today %> <span class="ml-5">Total Vouchers</span></p>
    </ul>
  </div>
  <div class="text-3xl">
    <p class="font-bold">Current Swap Period</p>
    <div class="mt-6 space-y-4">
      <div class="flex gap-8">
        <div>
          <div class="text-2xl font-bold tracking-wide">Check In</div>
          <span><%= @swap.start_date.to_formatted_s(:short) %></span>
        </div>
        <div>
          <div class="text-2xl font-bold tracking-wide">Check Out</div>
          <span><%= @swap.end_date.to_formatted_s(:short) %></span>
        </div>
      </div>
      <div>
        <div class="text-2xl font-bold tracking-wide">Intake Dates</div>
        <div class="mt-2">
          <%= @swap.intake_dates.map {|date| date.to_formatted_s(:short) }.join(", ") %>
        </div>
      </div>
    </div>
  </div>
</section>
