<section class="mt-16 max-w-6xl w-full">
  <%= form_for(:voucher_supply, url: admin_update_room_supply_path(@swap), method: :put) do |form| %>
    <table class="shadow bg-white rounded text-left w-full table-fixed">
      <h2 class="bg-gray-900 text-white text-6xl text-center font-semibold p-6">Today's Voucher Supply</h2>
      <% if @swap&.intake_ended? %>
        <section id="notice--intake-ended" class="notice bg-indigo-300">
          <h3>Swap must be activated in order to update today's voucher supply.</h3>
          <p class="text-indigo-900"></p>
        </section>
      <% elsif SwapIntake.can_issue_voucher_today?(@swap) %>
        <thead>
          <tr class="bg-gray-900 text-white text-4xl">
            <th class="w-2/5 p-6"></th>
            <th class="w-3/5 p-6 text-center" colspan="3"><%= Date.current.strftime("%A, %b %d") %></th>
          </tr>
          <tr class="bg-gray-900 text-white text-4xl">
            <th class="w-2/5 p-2">Motel</th>
            <th class="w-1/5 p-2 text-center">Vacancy</th>
            <th class="w-1/5 p-2 text-center">Issued</th>
            <th class="w-1/5 p-2 text-center">Remaining</th>
          </tr>
        </thead>
        <tbody class="overflow-y-scroll text-5xl" style="height: 630px">
          <% @supply.each do |motel_id, supply| %>
            <tr>
              <td class="w-3/5 p-6 text-left">
                <%= @motel_map[motel_id] %>
              </td>
              <td class="w-1/5 p-6 text-center tabular-nums">
                <%= form.number_field motel_id,
                min: 0, step: 1, 
                class: "rounded-lg w-20 text-center p-2 text-5xl", 
                value: supply[Date.current][:vacant]
              %>
              </td>
              <td class="w-1/5 p-6 text-center tabular-nums">
                <%= supply[Date.current][:issued].to_i %>
              </td>
              <td class="w-1/5 p-6 text-center tabular-nums">
                <%= supply[Date.current][:vacant].to_i - supply[Date.current][:issued].to_i %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="p-12 bg-gray-100 border border-gray-500 flex flex-1 flex-col gap-y-6">
        <div class="flex flex-1 justify-center">
          <%= form.submit "update supply", data: { confirm: "WARNING here..." }, class:"py-4 px-8 rounded-lg bg-yellow-300 text-gray-900 font-bold border-b border-gray-900 shadow-lg" %>
        </div>
      </div>
    <% end %>
  <% end %>
</section>
