<section class="container mx-auto">
  <%= form_for(:voucher_supply, url: admin_update_room_supply_path(@swap), method: :put) do |form| %>
    <h4 class="font-bold tracking-wide admin-blue text-4xl text-center">Today's Voucher Supply</h4>
    <p class="mt-4 max-w-3xl text-2xl leading-relaxed tracking-wide">
      To increase the number of available rooms at the hotel, set a total that <strong>includes</strong> the current availability. For example, if you wish to add 5 to the current 15, set "Available" to 20.
    </p>

    <div class="mt-6 bg-white border border-black rounded-2xl text-2xl tabular-nums">
      <div class="grid grid-cols-5 text-2xl font-semibold text-center w-full">
        <div class="pl-4 py-4 col-span-2 text-left">Hotel</div>
        <div class="py-4 bg-admin-orange">Available</div>
        <div class="py-4">Issued</div>
        <div class="pr-4 py-4">Remaining</div>
      </div>

      <% @supply.each do |hotel_id, supply| %>
        <div class="grid grid-cols-5 text-2xl text-center items-center w-full">
          <div class="pl-4 py-3 col-span-2 text-left"><%= @hotel_map[hotel_id] %></div>
          <div class="py-3 bg-admin-orange h-full">
            <%= form.number_field hotel_id,
              min: 0, 
              step: 1, 
              class: "w-20 text-center p-2 text-2xl border border-gray-500", 
              value: supply[Date.current][:vacant]
            %>
          </div>
          <div class="py-3">
            <%= supply[Date.current][:issued].to_i %>
          </div>
          <div class="pr-4 py-3">
            <%= supply[Date.current][:vacant].to_i - supply[Date.current][:issued].to_i %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="mt-12 flex flex-1 justify-center">
      <%= form.submit "Update Voucher Supply",
        data: { confirm: "Warning! You are choosing to update the total voucher supply. As soon as the supply is updated users can immediately issue vouchers." },
        class: "p-4 font-bold text-2xl tracking-wide bg-admin-blue rounded-3xl border border-gray-900 shadow-lg"
      %>
    </div>
  <% end %>
</section>
