  <%= form_for(:availability_set, url: admin_update_rooms_path(@swap), method: :put) do |form| %>
  <table class="shadow bg-white rounded text-left text-5xl w-full table-fixed">
    <h2 class="bg-gray-900 text-white text-6xl font-semibold p-6">Room Supply</h2>
    <thead>
      <tr class="bg-gray-900 text-white">
        <th class="w-4/5 p-6">Motel</th>
        <th class="w-1/5 p-6 text-center">Today</th>
      </tr>
    </thead>
    <tbody class="overflow-y-scroll" style="height: 630px">
      <% @availability.each do |motel, supply| %>
        <tr>
          <td class="w-4/5 p-6 text-left">
            <%= motel.name %>
          </td>
          <td class="w-1/5 p-6 text-center tabular-nums">
            <% if supply[Date.current] %>
              <p class="p-2">
                <%= supply[Date.current] %>
              </p>
            <% else %>
              <%= form.number_field "motel_#{motel.id}_rooms", 
                min: 0, step: 1, 
                class: "rounded-lg border border-gray-300 w-20 text-center p-2", 
                required: true,
                value: 0
              %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="p-12 bg-gray-100 border border-gray-500 flex flex-1 flex-col gap-y-6">
    <div class="flex flex-1 justify-center">
      <%= form.submit "update room supply", 
      data: { confirm: "WARNING here..." },
      class:"py-4 px-8 rounded-r-lg bg-yellow-400 text-gray-900 font-bold border-b border-gray-900 shadow-lg" %>
    </div>
  </div>
<% end %>
