<h3 class="font-semibold text-center tracking-wide font-bold">Last 20 Issued Vouchers</h3>

<div class="mt-5 grid grid-cols-7">
  <div class="font-bold">#</div>
  <div class="font-bold">Hotel</div>
  <div class="font-bold">Client</div>
  <div class="font-bold">In</div>
  <div class="font-bold">Out</div>
  <div class="font-bold">By</div>
  <div class="font-bold">Issued</div>
</div>
<div class="">
    <% @vouchers.each do |voucher| %>
    <div class="zebra grid grid-cols-7">
      <div>
        <%= voucher.number %>
      </div>
      <div>
        <%= voucher.hotel.name %>
      </div>
      <div>
        <%= voucher.client.name %>
      </div>
      <div>
        <%= voucher.check_in.to_date.to_formatted_s(:short) %>
      </div>
      <div> 
        <%= voucher.check_out.to_date.to_formatted_s(:short) %>
      </div>
      <div>
        <%= voucher.user.name %>
      </div>
      <div> 
        <%= voucher.created_at.to_date.to_formatted_s(:short) %>
      </div>
    </div>
    <% end %>   
</div>
  