<h4 class="font-bold tracking-wide admin-blue text-4xl text-center">Vouchers</h4>

<div class="mt-5 border rounded-md border-gray-700 p-2 overflow-y-scroll" style="height:630px" >
  <div class="mt-5 grid grid-cols-7">
    <div class="font-bold text-left">Voucher No.</div>
    <div class="font-bold text-left">Hotel</div>
    <div class="font-bold text-left">Client</div>
    <div class="font-bold text-center">Check-In</div>
    <div class="font-bold text-center">Check-Out</div>
    <div class="font-bold text-center">Issued By</div>
    <div class="font-bold text-center">Issued On</div>
    </div>
  <div class="mt-5">
      <% @vouchers.each do |voucher| %>
      <div class="zebra grid grid-cols-7">
        <div class="text-left">
          <%= link_to voucher.number, voucher, class: "link" %>
          <% if voucher.voided? %>
            <span class="inline-flex items-center rounded-full bg-red-100 px-2.5 py-0.5 text-xs font-semibold text-red-800 tracking-wide">
              VOID
            </span>
          <% end %>
        </div>
        <div>
          <%= voucher.hotel.name %>
        </div>
        <div class="text-left">
          <%= voucher.client.name %>
        </div>
        <div class="text-center">
          <%= voucher.check_in.to_date.to_formatted_s(:short) %>
        </div>
        <div class="text-center"> 
          <%= voucher.check_out.to_date.to_formatted_s(:short) %>
        </div>
        <div class="text-center">
          <%= voucher.issuer.name %>
        </div>
        <div class="text-center"> 
          <%= voucher.created_at.to_date.to_formatted_s(:short) %>
        </div>
      </div>
      <% end %>   
  </div>
</div>

<div class="p-12 flex flex-1 gap-y-6 justify-around">
  <button type="button">
    <%= link_to admin_vouchers_report_url(format: :csv), 
    class: "inline-block py-2 px-8 bg-admin-blue rounded-full text-gray-900 font-bold
    border-b border-gray-900 shadow-lg" do %>
      <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" viewBox="0 0 16 16">
          <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
          <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z "/>
        </svg>
        <span class="ml-5">Download Voucher CSV</span>
      </div>
    <% end %>
  </button>

  <button type="button">
    <%= link_to admin_red_flags_report_url(format: :csv), 
    class: "inline-block py-2 px-8 bg-admin-blue rounded-full text-gray-900 font-bold
    border-b border-gray-900 shadow-lg" do %>
      <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" viewBox="0 0 16 16">
          <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
          <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z "/>
        </svg>
        <span class="ml-5">Download Red Flag CSV</span>
      </div>
    <% end %>
  </button>
</div>
