<h3 class="font-semibold text-center tracking-wide">Last 20 Issued Vouchers</h3>
<div class="grid grid-cols-7">
  <div class="">#</div>
  <div class="">Hotel</div>
  <div class="">Client</div>
  <div class="">In</div>
  <div class="">Out</div>
  <div class="">By</div>
  <div class="">Issued</div>
</div>
<div class="grid grid-cols-7">
    <% @vouchers.each do |voucher| %>
      <div>
        <%= voucher.number %>
      </div>
      <div>
        <%= voucher.hotel.name %>
      </div>
      <div>
        <%= voucher.client.name %>
      </div>
      <div>
        <%= voucher.check_in.to_date.to_formatted_s(:short) %>
      </div>
      <div> 
        <%= voucher.check_out.to_date.to_formatted_s(:short) %>
      </div>
      <div>
        <%= voucher.user.name %>
      </div>
      <div> 
        <%= voucher.created_at.to_date.to_formatted_s(:short) %>
      </div>
    <% end %>   
  </div>