<main class="mt-12 space-y-16 container mx-auto max-w-4xl lg:max-w-7xl">
  <div>
    <h1 class="font-bold">Swapp Admin Dashboard</h1>
    <h2 class="mt-8 admin-blue font-semibold"><em>Hello, <%= current_user.first_name %>! </em></h2>
    <h2 class="admin-blue"><em><strong>Today is <%= humanize_date(Date.current) %></strong></em></h2>
  </div>

  <section>
  <% if @swap %>
    <%= render partial: 'current_swap_activation'%>
    <%= render partial: 'todays_voucher_supply' %>
  <% else %>
    <%= react_component("SwapWizard/SwapWizard") %>
  <% end %>
  </section>

  <section>
    <%= render partial: 'client_search' %>
  </section>

  <section>
    <%= render partial: 'vouchers_issued' %>
  </section>
</main>
