<main class="mt-12 container mx-auto max-w-4xl lg:max-w-7xl">
  <h1 class="font-bold">Swapp Admin Dashboard</h1>
  <% if @swap %>
  <%# Swap Period: <%= debug @swap %> 
  <% else %>
  <section class="mt-8">
    <%= react_component("SwapWizard/SwapWizard") %>
  </section>
  <% end %>


  <section class="">
     <h3 class="mt-20 font-bold text-center tracking-wide admin-blue">Go to Client Detail</h3>
      <section class="mt-4 px-2 md:w-11/12 mx-auto">
      <div class="mt-4 md:mt-16 md:px-4 md:w-10/12 mx-auto">
          <div class="mt-4 md:mt-8">
          <div class="md:mt-8 text-gray-800">
              <p>Search for a client whose red flags you want to update, or whose incidents you want to view.</p>
          </div>
          <form class="client_search" id="client_search" action="/admin" accept-charset="UTF-8" method="get">
              <div class="flex mt-4">
              <input id="search-input" class="flex-1 rounded-l border border-gray-300 md:text-xl md:p-4" name="q[first_name_or_last_name_cont]" id="q_first_name_or_last_name_cont" type="search" minlength="2" required placeholder="Search by first or last name" autofocus="autofocus">
              <button id="search-btn" class="border border-gray-300 rounded-r flex items-center justify-center px-3 md:px-5">
                  <svg class="h-4 w-4 md:h-6 md:w-6 text-grey-dark" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"/></svg>
              </button>
              </div>
          </form>
          </div>
      </div>
  </section>
  
  <section class="">
    <% if @searched %>
    <% if @clients.any? %>
      <p class="text-base md:text-xl mt-12 md:mt-16 px-2 md:px-8">
        <strong><%= @clients.size %> results found for "<%= @searched_term
          %>"</strong>. Click on a row to view the client's program history and issue a hotel voucher.
      </p>
      <div class="mt-6 shadow-lg md:text-xl">
        <div class="grid grid-cols-7 bg-white border border-gray-300">
          <div class="col-span-3 pl-2 md:pl-4 py-2 md:py-3 font-semibold tracking-wide">Name</div>
          <div class="col-span-3 py-2 md:py-3 font-bold tracking-wide">DOB</div>
          <div class="py-2"></div>
        </div>
        <div class="grid grid-cols-7 bg-white border border-gray-300 block overflow-y-scroll max-h-96">
          <% @clients.each_with_index do |client, idx| %>
            <div class="col-span-3 pl-2 md:pl-4 py-2 md:py-3 text-left <%= idx.even? && 'bg-gray-200' %>">
              <%= link_to(client.name, client_path(client), class: 'link') %>
            </div>
            <div class="col-span-3 py-2 md:py-3 text-left tabular-nums <%= idx.even? && 'bg-gray-200' %>">
              <%= formatted_date(client.date_of_birth) %>
            </div>
            <div class="pr-2 md:pr-4 py-2 md:py-3 text-center <%= idx.even? && 'bg-gray-200' %>">
              <% if client.red_flags.any? %>
                🚩
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <p class="text-base md:text-lg mt-12 md:mt-16 px-2 md:px-8">
        <strong>0 results found for "<%= @searched_term %>"</strong>
      </p>
  <% end %>
  <div class="mt-6 px-4 py-6 sm:py-8 md:py-12 md:px-0 md:w-10/12 md:mx-auto">
    <p class="text-base md:text-xl">
      Still don't see your client? If they have previously participated, try searching for an alternate name.
    </p>
    <div class="mt-4 sm:mt-6 md:mt-8">
      <% if @swap.present? %>
        <% if @num_vouchers_remaining_today.zero? %>
          <p class="text-xl sm:text-2xl md:text-3xl font-bold tracking-wide">Cannot perform intake. <span class="block md:inline">No vouchers available.</span></p>
        <% else %>
          <div class="text-center">
            <%= link_to new_intake_path, 
              class: "mt-4 px-3 md:px-4 py-2 md:py-3 inline-flex items-center
              border border-transparent bg-indigo-600 hover:bg-indigo-700 
              focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
              text-white text-lg sm:text-xl md:text-3xl leading-4 font-semibold tracking-wide
              rounded-lg shadow-sm" do %>
              <span>New Client Intake</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-5 w-5 md:h-8 md:w-8" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="mt-4 md:mt-6 text-xl md:text-2xl font-bold tracking-wide">
          New client intake can only be performed during an active SWAP period.
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
  </section>



  <section class="">
    <%= render partial: 'vouchers_issued' %>
  </section>
</main>