<div class="bg-gray-100  text-6xl">
  <section class="mt-16">
    <%= render partial: 'shared/swap_notices' %>
    <%= render partial: 'shared/notices/no_vouchers' %>
  </section>
  <section class="mt-16">
    <% if @swap %>
      <%= render partial: 'current_swap_activation' %>
      <%= render partial: 'todays_voucher_supply' %>
    <% else %>
      <%= render partial: 'activate_swap' %>
    <% end %>
  </section>
  <section class="mt-16">
    <%= render partial: 'all_vouchers_issued' %>
  </section>
</div>
