<h1>Admin Home#Index</h1>
<div>
  <h2>Today: <%= formatted_date(Date.today) %></h2>
</div>

<div>
  <p>Current Swap Period: <%= SwapPeriod.current.start_date %> to <%= SwapPeriod.current.end_date %></p>
  <p>Current Swap Status: <%= SwapPeriod.current ? 'active' : 'inactive' %></p>
</div>

<ul>
  <li><%= link_to "Client Search", clients_path, class: 'link' %></li>
  <li><%= link_to "Intake", new_intake_path, class: 'link' %></li>
</ul>
