<div class="bg-gray-100">
  <section class="">
    <%= render partial: 'shared/swap_notices' %>
  </section>
  <section class="">
    <% if @swap %>
      <%= render partial: 'current_swap_activation' %>
      <%= render partial: 'todays_voucher_supply' %>
    <% else %>
      <%= render partial: 'activate_swap' %>
    <% end %>
  </section>
  <section class="">
    <%= render partial: 'vouchers_issued' %>
  </section>
</div>
