<div class="min-h-screen container mx-auto max-w-6xl px-2 sm:px-3 md:px-4">
  <h4 class="md:text-4xl lg:text-5xl mt-12 text-center font-bold">Vouchers</h3>
  <div class="mt-6 shadow overflow-hidden border-b border-gray-200 rounded-md">
    <div class="grid grid-cols-4">
      <div class="pl-4 lg:pl-8 py-4 bg-gray-900 font-semibold text-lg md:text-xl lg:text-2xl text-white uppercase tracking-wide">No.</div>
      <div class="py-4 bg-gray-900 font-semibold text-lg md:text-xl lg:text-2xl text-white uppercase tracking-wide">Name</div>
      <div class="py-4 bg-gray-900 font-semibold text-lg md:text-xl lg:text-2xl text-white uppercase tracking-wide text-right">Check In</div>
      <div class="pr-4 lg:pr-8 py-4 bg-gray-900 font-semibold text-lg md:text-xl lg:text-2xl text-white uppercase tracking-wide text-right">Check Out</div>
    </div>
    <% @vouchers.each do |voucher| %>
      <div class="grid grid-cols-4 group cursor-pointer text-lg md:text-xl lg:text-2xl">
        <%= link_to hotels_vouchers_path(voucher.id) do %>
          <div class="group-hover:bg-gray-100 group-hover:text-indigo-500 pl-4 md:pl-6 lg:pl-8 py-4"><%= voucher.number %></div>
        <% end %>
        <%= link_to hotels_vouchers_path(voucher.id) do %>
          <div class="group-hover:bg-gray-100 group-hover:text-indigo-500 py-4"><%= voucher.client.name %></div>
        <% end %>
        <%= link_to hotels_vouchers_path(voucher.id) do %>
          <div class="group-hover:bg-gray-100 group-hover:text-indigo-500 py-4 text-right"><%= voucher.check_in.to_date.to_formatted_s(:short) %></div>
        <% end %>
        <%= link_to hotels_vouchers_path(voucher.id) do %>
          <div class="group-hover:bg-gray-100 group-hover:text-indigo-500 py-4 pr-4 md:pr-6 lg:pr-8 text-right"><%= voucher.check_out.to_date.to_formatted_s(:short) %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
