<div class="px-16 mt-12">
    <a href="/hotels" class="link pb-12"><< Vouchers</a>
    <h4>Guest Detail: <%= @client.name %></h4>
    <% if @client.hotels.any? %>
        <p class="text-red-500 text-2xl">Flagged <span class="italic text-xl">(last update: <%= humanize_date(@flagged_stamps[0]) %>)</span></p>
    <% end %>
    <p class=""></p>
    <%# Admin Only %>
    <% if current_user.admin_user? %>
    <section class="border border-red-500 mt-16 shadow-xl w-96 mx-auto">
        <h2 class="bg-red-700 text-white text-4xl text-center font-semibold p-2">ADMIN ONLY</h2>
        <div>
        <% flash.each do |type, msg| %>
            <div class="bg-green-300 border-l-4 border-green-500 p-4" role="alert">
                <%= msg %>
            </div>
        <% end %>
            <%= form_for(@client, url: admin_edit_red_flag_path(@client), method: :put) do |form| %>
            <%= form.label "Select Hotel(s) where client is flagged", class: "p-1 text-xl" %>
            <ul class="flex flex-1 flex-col p-3">
            <% @hotels.each do |hotel| %>
                <li class="flex flex-1 items-center py-1">
                  <%= form.check_box :hotel_ids, { 
                      multiple: true, 
                      checked: hotel.id.in?(@flag_hotel_ids),
                      class: "p-1"
                    },
                    hotel.id
                  %>
                  <%= form.label "#{hotel.name}", class: "px-2" %>
                </li>
            <% end %>
            </ul>
            <div class="flex flex-1 p-3">
                <%= form.submit "Update Flags", class: "p-2 bg-blue-600 text-white hover:bg-blue-900 cursor-pointer" %>
            </div>
            <% end %>
    </section>
    <% end %>
    <section class="px-3 mt-16">
        <p>Additional Approved</p>
        <p>Guest Names</p>
        <ul class="mt-6">
            <li>Limp Bizkit</li>
        </ul>
    </section>
    <section class="mt-16">
        <h4>Past Incidents</h4>
        <div class="px-3 mt-8 flex flex-wrap">
        <% if @client.incident_reports.any? %>
            <% @client.incident_reports.each do |incident| %>
               <div class="px-10 my-4 py-3 rounded shadow-xl bg-white w-3/5">
                    <div class="flex justify-between items-center">
                        <span class="font-light text-gray-600"><%= humanize_date(incident.created_at) %></span>
                    </div>
                    <div class="mt-2">
                        <p class="mt-2 text-gray-700">
                            <%= incident.description %>
                        </p>
                    </div>
                </div>
            <% end %>
        <% else %>
            <p class="text-2xl"><strong>No incident reports to show!</strong></p>
        <% end %>
        </div>
    </section>
    <!-- comment form -->
    <section class="mt-14">
    <h4>New Incident Report</h4>
        <div class="py-6">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <%= form_for(@incident_report, url: hotels_create_report_path(@client), method: :post) do |form| %>
                             <div>
                                <%= form.label "Date", class: "p-1 text-xl block strong"%>
                                <%= form.date_field :occurred_at, required: true, class: "w-1/3 mt-2" %>
                             </div>
                             <div>
                                <%= form.label :description, class: "p-1 text-xl block" %>
                                <%= form.text_area :description, required: true, class: "w-full h-64 mt-2" %>
                             </div>
                            <div class="flex p-1">
                                <%= form.submit "Submit Report", class: "p-2 bg-blue-600 text-white hover:bg-blue-900 cursor-pointer" %>
                            </div>
                        </form> 
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>