<div>
  Today: <%= formatted_date(Date.current) %>
</div>
<div>
  Current Swap Period: <%= debug Swap.current %><br/>
  Current Swap Status: <%= Swap.current ? 'active' : 'inactive' %>
</div>
<ul>
  <li><%= link_to "Client Search", clients_path, class: 'link' %></li>
  <li><%= link_to "Intake", new_intake_path, class: 'link' %></li>
</ul>
