<div id="template_family_member" class="hidden space-y-8 text-5xl my-12">
  <input 
  placeholder="Name"
  id="family_members_replace_name"
  name="intake[client_attributes][family_members][replace][name]"
  class="p-4 w-full rounded-lg focus:ring-indigo-500 focus:border-indigo-500">

  <input
  placeholder="Relationship"
  id="family_members_replace_relationship"
  name="intake[client_attributes][family_members][replace][relationship]"
  class="p-4 w-full rounded-lg focus:ring-indigo-500 focus:border-indigo-500">

  <div class="p-4 flex flex-1 justify-between items-center text-gray-700">
    <label for="client_attributes[family_members][replace][date_of_birth]">
      Date of birth
    </label>
    <input type="date" 
    id="family_members_replace_date_of_birth"
    name="intake[client_attributes][family_members][replace][date_of_birth]" 
    class="text-5xl rounded-lg text-gray-400 focus:ring-indigo-500 focus:border-indigo-500">
  </div>

  <select 
    class="text-5xl w-full rounded-lg p-3" 
    id="family_members_replace_gender"
    name="intake[client_attributes][family_members][replace][gender]">
    <% Client::GENDER.each do |gender| %>
      <option value="<%= gender %>"><%= gender %></option>
    <% end %>
  </select>

  <ul class="flex flex-1 flex-col w-full p-3 space-y-6 text-gray-700">
    <% Client::RACE.each do |race| %>
      <li class="flex flex-1 items-baseline">
        <label class="" for="client_attributes[family_members][replace][race][]">
          <input 
          class="w-11 h-11 text-indigo-600"
          id="family_members_replace_race"
          type="checkbox"
          value="<%= race %>"
          name="intake[client_attributes][family_members][replace][race][]"
          >
          <%= race %>
        </label>
      </li>
    <% end %>
  </ul>

  <div >
    <select 
      class="text-5xl w-full rounded-lg p-3" 
      id="family_members_replace_ethnicity"
      name="intake[client_attributes][family_members][replace][ethnicity]">
      <% Client::ETHNICITY.each do |ethnicity| %>
        <option value="<%= ethnicity %>"><%= ethnicity %></option>
      <% end %>
    </select>
  </div>

  <div class="text-gray-700 flex items-center justify-between">
    <label for="intake[client_attributes][family_members][replace][veteran][]">
      Veteran?
    </label>
    <div class="inline">
      <label for="intake[client_attributes][family_members][replace][veteran][]">
        Yes
        <input type="radio" 
          id="family_members_replace_veteran_yes"
          class="w-8 h-8"
          name="intake[client_attributes][family_members][replace][veteran][]"
          value="Yes">
      </label>
      <label for="intake[client_attributes][family_members][replace][veteran][]">
        No
        <input type="radio" 
          id="family_members_replace_veteran_no"
          class="w-8 h-8"
          name="intake[client_attributes][family_members][replace][veteran][]"
          value="No">
      </label>
    </div>
  </div>

  <div class="text-gray-700 flex items-center justify-between">
    <label for="intake[client_attributes][family_members][replace][disabling_condition][]">
      Disabling Condition?
    </label>
    <div class="inline">
      <label for="intake[client_attributes][family_members][replace][disabling_condition][]">
        Yes
        <input type="radio" 
          id="family_members_replace_disabling_condition_no"
          class="w-8 h-8"
          name="intake[client_attributes][family_members][replace][disabling_condition][]"
          value="Yes">
      </label>
      <label for="intake[client_attributes][family_members][replace][disabling_condition][]">
        No
        <input type="radio" 
          id="family_members_replace_disabling_condition_yes"
          class="w-8 h-8"
          name="intake[client_attributes][family_members][replace][disabling_condition][]"
          value="No">
      </label>
    </div>
  </div>
</div>
