<%= form_with(model: @intake) do |form| %>
  <% if @intake.errors.any? %>
    <div id="error_explanation" class="my-16 p-8 text-7xl bg-red-400 font-bold">
      <p><%= pluralize(@intake.errors.count, "error") %> prohibited this intake from being saved:</p>
      <ul class="mt-8">
        <% @intake.errors.full_messages.each do |message| %>
          <li class="text-6xl"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-full flex flex-col space-y-32 mt-24 pb-24 text-6xl text-gray-800 tracking-wide">
    <%= form.fields_for :client, @client do |client_attributes|%>

      <div class="text-gray-700">
        <% question = Intake::FIRST_NAME %>
        <%= client_attributes.label question.key, question.text,
          class: "block leading-snug font-semibold"
        %>
        <%= client_attributes.text_field question.key,
          size: 23, 
          value: @client.first_name,
          required: true,
          class: "mt-4 w-full rounded-lg p-8 text-6xl"
        %>
      </div>

      <div class="text-gray-700">
        <% question = Intake::LAST_NAME %>
        <%= client_attributes.label question.key, question.text,
          class: "block leading-snug font-semibold"
        %>
        <%= client_attributes.text_field question.key,
          size: 23, 
          value: @client.last_name,
          required: true,
          class: "mt-4 w-full rounded-lg p-8 text-6xl"
        %>
      </div>

      <div class="text-gray-700">
        <% question = Intake::DATE_OF_BIRTH %>
        <%= client_attributes.label question.key, question.text,
          class: "block leading-snug font-semibold" %>
        <%= client_attributes.date_field question.key,
          value: Date.current - 50.years,
          required: true,
          class: "mt-4 w-full rounded-lg p-8 text-6xl" %>
      </div>

      <div class="text-gray-700">
        <% question = Intake::GENDER %>
        <%= client_attributes.label question.key, question.text,
          class: "block leading-snug font-semibold" %>
        <%= client_attributes.select question.key,
          options_for_select(question.choices, @client.gender),
          {},
          required: true,
          class: "mt-6 rounded-lg w-full p-8 text-6xl"
        %>
      </div>

      <div class="field w-full">
        <% question = Intake::RACE %>
        <%= client_attributes.label question.key, question.text, class: "block leading-snug font-semibold" %>
        <ul class="flex flex-1 flex-col w-full space-y-12 p-12 text-6xl text-gray-700">
          <% question.choices.each do |race| %>
            <li class="flex flex-1 items-baseline">
              <%= client_attributes.check_box question.key,
                { 
                multiple: true, 
                checked: race.in?(@client.race || []),
                class: "mr-8 w-11 h-11 text-indigo-600"
              },
              race
            %>
          <%= client_attributes.label "race_#{to_htmlfor(race)}", race %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="text-gray-700">
        <% question = Intake::ETHNICITY %>
        <%= client_attributes.label question.key, question.text,
          class: "block leading-snug font-semibold" %>
        <%= client_attributes.select question.key,
          options_for_select(question.choices, @client.ethnicity),
          {},
          required: true,
          class: "mt-6 rounded-lg w-full p-8 text-6xl"
        %>
      </div>

      <div class="text-gray-700">
        <% question = Intake::HOMELESSNESS_FIRST_TIME %>
        <%= form.label :homelessness_first_time, question.text,
          class: "block leading-tight font-semibold" %>
        <div class="p-4">
          <button id="<%= question.key %>_yes" class="btn btn-outline w-96" type="button">Yes</button>
          <button id="<%= question.key %>_no" class="btn btn-outline w-96" type="button">No</button>
        </div>
        <div class="opacity-0">
          <% question.choices.each do |choice| %>
            <%= form.label :homelessness_first_time, choice %>
            <%= form.radio_button :homelessness_first_time, choice == "Yes", 
              class: "h-10 w-10 mr-8 text-indigo-600",
              required: true,
              checked: @intake.homelessness_first_time == choice %>
          <% end %>
        </div>
      </div>

      <div class="text-gray-700">
        <% question = Intake::HOMELESSNESS_HOW_LONG_THIS_TIME %>
        <%= form.label :how_long_this_time, question.text,
          class: "block leading-tight font-semibold"
        %>
        <%= form.text_field :how_long_this_time,
          size: 23, 
          value: @intake.how_long_this_time,
          placeholder: question.placeholder,
          class: "mt-4 w-full rounded-lg p-8 text-6xl"
        %>
      </div>

      <div class="text-gray-700">
        <% question = Intake::HOMELESSNESS_EPISODES_LAST_THREE_YEARS %>
        <%= form.label :episodes_last_three_years_fewer_than_four_times, question.text,
          class: "block leading-tight font-semibold" %>
          <div class="p-4">
            <button id="<%= question.key %>_fewer" class="btn btn-outline w-96" type="button">Fewer than 4 times</button>
            <button id="<%= question.key %>_more" class="btn btn-outline w-96" type="button">4 or more times</button>
          </div>
        <div class="invisible mt-4 p-4 flex flex-1 flex-col space-y-8">
          <% question.choices.each do |choice| %>
            <div>
              <%= form.label :episodes_last_three_years_fewer_than_four_times, choice %>
              <%= form.radio_button :episodes_last_three_years_fewer_than_four_times,
                choice == "Fewer than 4 times",
                class: "h-10 w-10 text-indigo-600",
                required: true,
                checked: @intake.episodes_last_three_years_fewer_than_four_times == choice %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="text-gray-700">
        <% question = Intake::HOMELESSNESS_EPISODES_HOW_LONG %>
        <%= form.label question.key, question.text,
          class: "block leading-tight font-semibold"
        %>
        <%= form.text_field question.key,
          size: 23, 
          value: @intake.total_how_long_shelters_or_streets,
          placeholder: question.placeholder,
          required: true,
          class: "mt-4 w-full rounded-lg p-8 text-6xl"
        %>
      </div>

      <div class="text-gray-700">
        <% question = Intake::ARE_YOU_WORKING %>
        <%= form.label question.key, question.text,
          class: "block leading-snug font-semibold" %>
        <%= form.select question.key, 
          options_for_select(
            Intake::ARE_YOU_WORKING.choices, 
            @intake.are_you_working || ''
          ),
          {include_blank: ''},
          required: true,
          class: "mt-6 bg-white rounded-lg w-full p-8 text-6xl"
          %>
      </div>

      <div class="text-gray-700">
        <% question = Intake::VETERAN %>
        <%= form.label question.key, question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <button id="<%= question.key %>_yes" class="btn btn-outline w-96" type="button">Yes</button>
          <button id="<%= question.key %>_no" class="btn btn-outline w-96" type="button">No</button>
        </div>
        <div class="opacity-0">
          <% question.choices.each do |choice| %>
            <%= form.label question.key, choice %>
            <%= form.radio_button question.key, choice == "Yes", 
            required: true,
            checked: @intake.armed_forces == choice %>
          <% end %>
        </div>
      </div>

      <div class="text-gray-700">
        <% question = Intake::ACTIVE_DUTY %>
        <%= form.label question.key, question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <button id="<%= question.key %>_yes" class="btn btn-outline w-96" type="button">Yes</button>
          <button id="<%= question.key %>_no" class="btn btn-outline w-96" type="button">No</button>
        </div>
        <div class="opacity-0">
          <% question.choices.each do |choice| %>
            <%= form.label question.key, choice %>
            <%= form.radio_button question.key, choice == "Yes", 
              class: "h-10 w-10 mr-8",
              required: true,
              checked: @intake.active_duty == choice %>
          <% end %>
        </div>
      </div>

      <div class="text-gray-700">
        <% question = Intake::SUBSTANCE_ABUSE %>
        <%= form.label question.key, question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <button id="<%= question.key %>_yes" class="btn btn-outline w-96" type="button">Yes</button>
          <button id="<%= question.key %>_no" class="btn btn-outline w-96" type="button">No</button>
        </div>
          <ul class="opacity-0">
            <% question.choices.each do |choice| %>
              <%= form.label question.key, choice %>
              <%= form.radio_button question.key, choice == "Yes", 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.substance_abuse == choice %>
            <% end %>
          </ul>
      </div>

      <div class="text-gray-700">
        <% question = Intake::CHRONIC_HEALTH_CONDITION %>
        <%= form.label question.key, question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <button id="<%= question.key %>_yes" class="btn btn-outline w-96" type="button">Yes</button>
          <button id="<%= question.key %>_no" class="btn btn-outline w-96" type="button">No</button>
        </div>
        <ul class="opacity-0">
          <% question.choices.each do |choice| %>
            <%= form.label question.key, choice %>
            <%= form.radio_button question.key, choice == "Yes", 
              class: "h-10 w-10 mr-8",
              required: true,
              checked: @intake.chronic_health_condition == choice %>
          <% end %>
        </ul>
      </div>

      <div class="text-gray-700">
        <% question = Intake::MENTAL_HEALTH_CONDITION %>
        <%= form.label question.key, question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <button id="<%= question.key %>_yes" class="btn btn-outline w-96" type="button">Yes</button>
          <button id="<%= question.key %>_no" class="btn btn-outline w-96" type="button">No</button>
        </div>
        <ul class="opacity-0">
          <% question.choices.each do |choice| %>
            <%= form.label question.key, choice %>
            <%= form.radio_button question.key, choice == "Yes", 
              class: "h-10 w-10 mr-8",
              required: true,
              checked: @intake.mental_health_condition == choice %>
          <% end %>
        </ul>
      </div>

      <div class="text-gray-700">
        <% question = Intake::MENTAL_HEALTH_DISABILITY %>
        <%= form.label question.key, question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <button id="<%= question.key %>_yes" class="btn btn-outline w-96" type="button">Yes</button>
          <button id="<%= question.key %>_no" class="btn btn-outline w-96" type="button">No</button>
        </div>
        <ul class="opacity-0">
          <% question.choices.each do |choice| %>
            <%= form.label question.key, choice %>
            <%= form.radio_button question.key, choice == "Yes",
              class: "h-10 w-10 mr-8",
              required: true,
              checked: @intake.mental_health_disability == choice %>
          <% end %>
        </ul>
      </div>
      <div class="text-gray-700">
        <% question = Intake::PHYSICAL_DISABILITY %>
        <%= form.label question.key, question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <button id="<%= question.key %>_yes" class="btn btn-outline w-96" type="button">Yes</button>
          <button id="<%= question.key %>_no" class="btn btn-outline w-96" type="button">No</button>
        </div>
        <ul class="opacity-0">
          <% question.choices.each do |choice| %>
            <%= form.label question.key, choice %>
            <%= form.radio_button question.key, choice == "Yes", 
              class: "h-10 w-10 mr-8",
              required: true,
              checked: @intake.physical_disability == choice %>
          <% end %>
        </ul>
      </div>

      <div class="text-gray-700">
        <% question = Intake::DEVELOPMENTAL_DISABILITY %>
        <%= form.label question.key, question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <button id="<%= question.key %>_yes" class="btn btn-outline w-96" type="button">Yes</button>
          <button id="<%= question.key %>_no" class="btn btn-outline w-96" type="button">No</button>
        </div>
        <ul class="opacity-0">
          <% question.choices.each do |choice| %>
            <%= form.label question.key, choice %>
            <%= form.radio_button question.key, choice == "Yes", 
              class: "h-10 w-10 mr-8",
              required: true,
              checked: @intake.developmental_disability == choice %>
          <% end %>
        </ul>
      </div>

      <div class="text-gray-700">
        <% question = Intake::FLEEING_DOMESTIC_VIOLENCE %>
        <%= form.label question.key, question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <button id="<%= question.key %>_yes" class="btn btn-outline w-96" type="button">Yes</button>
          <button id="<%= question.key %>_no" class="btn btn-outline w-96" type="button">No</button>
        </div>
        <div class="opacity-0">
          <% question.choices.each do |choice| %>
            <%= form.label question.key, choice %>
            <%= form.radio_button question.key, choice == "Yes", 
              class: "h-10 w-10 mr-8",
              required: true,
              checked: @intake.fleeing_domestic_violence == choice %>
          <% end %>
        </div>
      </div>

      <div class="text-gray-700">
        <% question = Intake::LAST_PERMANENT_RESIDENCE_COUNTY %>
        <%= form.label question.key, question.text,
          class: "block leading-snug font-semibold"
        %>
        <%= form.text_field question.key,
          value: @intake.last_permanent_residence_county,
          placeholder: question.placeholder,
          required: true,
          class: "mt-4 w-full rounded-lg p-8 text-6xl"
        %>
      </div>

      <div class="actions mt-12">
        <%= form.submit 'Submit', class: 'w-full btn btn-blue h-32 text-6xl' %>
      </div>
    <% end %>
  </div>
<% end %>

<%= javascript_pack_tag 'intake_form' %>
