<%= form_with(model: @intake, local: true) do |form| %>
  <% if @intake.errors.any? %>
    <div id="error_explanation" class="my-16 p-8 text-7xl bg-red-400 font-bold">
      <p><%= pluralize(@intake.errors.count, "error") %> prohibited this intake from being saved:</p>
      <ul class="mt-8">
        <% @intake.errors.full_messages.each do |message| %>
          <li class="text-6xl"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="w-full flex flex-col space-y-32 mt-24 pb-24 text-6xl text-gray-800 tracking-wide">
    <%= form.fields_for :client, @client do |client_attributes|%>
      <div class="text-gray-700">
        <% question = Intake::FIRST_NAME %>
        <%= client_attributes.label question.key, question.text,
          class: "block leading-snug font-semibold"
        %>
        <%= client_attributes.text_field question.key,
          size: 23, 
          required: true,
          value: @client.first_name,
          class: "mt-4 w-full rounded-lg p-8 text-6xl"
        %>
      </div>
      <div class="text-gray-700">
        <% question = Intake::LAST_NAME %>
        <%= client_attributes.label question.key, question.text,
          class: "block leading-snug font-semibold"
        %>
        <%= client_attributes.text_field question.key,
          size: 23, 
          required: true,
          value: @client.last_name,
          class: "mt-4 w-full rounded-lg p-8 text-6xl"
        %>
      </div>
      <div class="text-gray-700">
        <% question = Intake::DATE_OF_BIRTH %>
        <%= client_attributes.label question.key, question.text,
          class: "block leading-snug font-semibold" %>
        <%= client_attributes.date_field question.key,
          value: Date.current - 50.years,
          required: true,
          class: "mt-4 w-full rounded-lg p-8 text-6xl" %>
      </div>
      <div class="text-gray-700">
        <% question = Intake::GENDER %>
        <%= client_attributes.label question.key, question.text,
          class: "block leading-snug font-semibold" %>
        <%= client_attributes.select question.key,
          options_for_select(question.choices, @client.gender),
          {include_blank: true},
          required: true,
          class: "mt-6 rounded-lg w-full p-8 text-6xl"
        %>
      </div>
      <div class="field w-full">
        <% question = Intake::RACE %>
        <%= client_attributes.label question.key, question.text,
          class: "block leading-snug font-semibold" %>
        <ul class="flex flex-1 flex-col w-full space-y-12 p-12 text-6xl text-gray-700">
          <% question.choices.each do |race| %>
            <li class="flex flex-1 space-x-10 items-baseline">
              <%= client_attributes.check_box question.key,
                { 
                  multiple: true, 
                  checked: @client.race && race.in?(JSON.parse(@client.race)),
                  class: "w-11 h-11 text-indigo-600"
                },
                race, 
                @client.race && race.in?(JSON.parse(@client.race))
              %>
              <%= client_attributes.label "race_#{to_htmlfor(race)}", race %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="text-gray-700">
        <% question = Intake::ETHNICITY %>
        <%= client_attributes.label question.key, question.text,
          class: "block leading-snug font-semibold" %>
        <%= client_attributes.select question.key,
          options_for_select(question.choices, @client.ethnicity),
          {include_blank: true},
          required: true,
          class: "mt-6 rounded-lg w-full p-8 text-6xl"
        %>
      </div>
      <div class="text-gray-700">
        <% question = Intake::HOMELESSNESS_FIRST_TIME %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-tight font-semibold" %>
        <div class="p-4">
          <% question.choices.each do |choice| %>
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8 text-indigo-600",
                required: true,
                checked: @intake.survey&.dig(question.key) == choice %>
          <% end %>
          <!-- checked: @intake.survey ? @intake.survey['homelessness_first_time'] == 'false' : true %> -->
        </div>
      </div>
      <div class="text-gray-700">
        <% question = Intake::HOMELESSNESS_HOW_LONG_THIS_TIME %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-tight font-semibold"
        %>
        <%= form.text_field "survey[#{question.key}]",
          size: 23, 
          required: true,
          value: @intake.survey&.dig("survey[#{question.key}]"),
          placeholder: question.placeholder,
          class: "mt-4 w-full rounded-lg p-8 text-6xl"
        %>
      </div>
      <div class="text-gray-700">
        <% question = Intake::HOMELESSNESS_EPISODES_LAST_THREE_YEARS %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-tight font-semibold" %>
        <div class="mt-4 p-4 flex flex-1 flex-col space-y-8">
          <% question.choices.each do |choice| %>
            <div>
              <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
              <%= form.radio_button "survey[#{question.key}]", 
                choice, 
                class: "h-10 w-10 text-indigo-600",
                required: true,
                checked: @intake.survey&.dig(question.key) == choice %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="text-gray-700">
        <% question = Intake::HOMELESSNESS_EPISODES_HOW_LONG %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-tight font-semibold"
        %>
        <%= form.text_field "survey[#{question.key}]",
          size: 23, 
          required: true,
          value: @intake.survey&.dig("survey[#{question.key}]"),
          placeholder: question.placeholder,
          class: "mt-4 w-full rounded-lg p-8 text-6xl"
        %>
      </div>
      <div class="text-gray-700">
        <% question = Intake::LIVING_IN_THIS_COMMUNITY %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-tight font-semibold"
        %>
        <%= form.text_field "survey[#{question.key}]",
          size: 23, 
          required: true,
          value: @intake.survey&.dig("survey[#{question.key}]"),
          placeholder: question.placeholder,
          class: "mt-4 w-full rounded-lg p-8 text-6xl"
        %>
      </div>
      <div class="text-gray-700">
        <% question = Intake::SLEEP_LAST_NIGHT %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-tight font-semibold"  %>
        <div class="p-4 flex flex-1 flex-col space-y-8">
          <% question.choices.each do |choice| %>
            <div>
              <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
              <%= form.radio_button "survey[#{question.key}]", 
                choice, 
                class: "h-10 w-10 text-indigo-600",
                required: true,
                checked: @intake.survey&.dig(question.key) == choice %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="text-gray-700">
        <% question = Intake::WHY_NOT_SHELTER %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-tight font-semibold" %>
        <div class="p-4 flex flex-1 flex-col space-y-8">
          <% question.choices.each do |choice| %>
            <div>
              <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
              <%= form.radio_button "survey[#{question.key}]", 
                choice, 
                class: "h-10 w-10 text-indigo-600",
                required: true,
                checked: @intake.survey&.dig(question.key) == choice %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="text-gray-700">
        <% question = Intake::ARE_YOU_WORKING %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <%= form.select "survey[#{question.key}]", 
          options_for_select(Intake::ARE_YOU_WORKING.choices, selected: @intake.survey&.dig(question.key)),
          { selected: @intake.survey&.dig(question.key) },
          class: "mt-6 bg-white rounded-lg w-full p-8 text-6xl", 
          required: true
        %>
      </div>
      <div class="text-gray-700">
        <% question = Intake::VETERAN %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <% question.choices.each do |choice| %>
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey&.dig(question.key) == choice %>
          <% end %>
        </div>
      </div>
      <div class="text-gray-700">
        <% question = Intake::ACTIVE_DUTY %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <% question.choices.each do |choice| %>
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey&.dig(question.key) == choice %>
          <% end %>
        </div>
      </div>
      <div class="text-gray-700">
        <% question = Intake::SUBSTANCE_ABUSE %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <% question.choices.each do |choice| %>
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey&.dig(question.key) == choice %>
          <% end %>
        </div>
      </div>
      <div class="text-gray-700">
        <% question = Intake::SUBSTANCE_ABUSE_IMPAIRMENT %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <% question.choices.each do |choice| %>
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey&.dig(question.key) == choice %>
          <% end %>
        </div>
      </div>
      <div class="text-gray-700">
        <% question = Intake::CHRONIC_HEALTH_CONDITION %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <% question.choices.each do |choice| %>
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey&.dig(question.key) == choice %>
          <% end %>
        </div>
      </div>
      <div class="text-gray-700">
        <% question = Intake::CHRONIC_HEALTH_CONDITION_IMPAIRMENT %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <% question.choices.each do |choice| %>
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey&.dig(question.key) == choice %>
          <% end %>
        </div>
      </div>
      <div class="text-gray-700">
        <% question = Intake::MENTAL_HEALTH_CONDITION %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <% question.choices.each do |choice| %>
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey&.dig(question.key) == choice %>
          <% end %>
        </div>
      </div>
      <div class="text-gray-700">
        <% question = Intake::MENTAL_HEALTH_CONDITION_IMPAIRMENT %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <% question.choices.each do |choice| %>
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey&.dig(question.key) == choice %>
          <% end %>
        </div>
      </div>
      <div class="text-gray-700">
        <% question = Intake::MENTAL_HEALTH_DISABILITY %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <% question.choices.each do |choice| %>
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey&.dig(question.key) == choice %>
          <% end %>
        </div>
      </div>
      <div class="text-gray-700">
        <% question = Intake::MENTAL_HEALTH_DISABILITY_IMPAIRMENT %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <% question.choices.each do |choice| %>
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey&.dig(question.key) == choice %>
          <% end %>
        </div>
      </div>
      <div class="text-gray-700">
        <% question = Intake::PHYSICAL_DISABILITY %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <% question.choices.each do |choice| %>
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey&.dig(question.key) == choice %>
          <% end %>
        </div>
      </div>
      <div class="text-gray-700">
        <% question = Intake::PHYSICAL_DISABILITY_IMPAIRMENT %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <% question.choices.each do |choice| %>
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey&.dig(question.key) == choice %>
          <% end %>
        </div>
      </div>
      <div class="text-gray-700">
        <% question = Intake::DEVELOPMENTAL_DISABILITY %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <% question.choices.each do |choice| %>
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey&.dig(question.key) == choice %>
          <% end %>
        </div>
      </div>
      <div class="text-gray-700">
        <% question = Intake::DEVELOPMENTAL_DISABILITY_IMPAIRMENT %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <% question.choices.each do |choice| %>
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey&.dig(question.key) == choice %>
          <% end %>
        </div>
      </div>
      <div class="text-gray-700">
        <% question = Intake::FLEEING_DOMESTIC_VIOLENCE %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <% question.choices.each do |choice| %>
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey&.dig(question.key) == choice %>
          <% end %>
        </div>
      </div>
      <div class="w-full text-gray-700">
        <% question = Intake::NUM_ADULTS_HOUSEHOLD %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-relaxed font-semibold" %>
        <%= form.number_field "survey[#{question.key}]", 
          min: 0, step: 1, 
          class: "mt-4 rounded-lg w-full p-8 text-6xl", 
          required: true,
          value: @intake.survey&.dig(question.key),
          placeholder: question.placeholder 
        %>
      </div>
      <div class="w-full text-gray-700">
        <% question = Intake::NUM_CHILDREN_HOUSEHOLD %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-relaxed font-semibold" %>
        <%= form.number_field "survey[#{question.key}]", 
          min: 0, step: 1, 
          class: "mt-4 rounded-lg w-full p-8 text-6xl", 
          required: true,
          value: @intake.survey&.dig(question.key),
          placeholder: question.placeholder 
        %>
      </div>
      <div class="text-gray-700">
        <% question = Intake::LAST_PERMANENT_RESIDENCE_CITY_AND_STATE %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold"
        %>
        <%= form.text_field question.key,
          required: true,
          value: @intake.survey&.dig(question.key),
          placeholder: question.placeholder,
          class: "mt-4 w-full rounded-lg p-8 text-6xl"
        %>
      </div>
      <div class="text-gray-700">
        <% question = Intake::LAST_PERMANENT_RESIDENCE_COUNTY %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold"
        %>
        <%= form.text_field question.key,
          required: true,
          value: @intake.survey&.dig(question.key),
          placeholder: question.placeholder,
          class: "mt-4 w-full rounded-lg p-8 text-6xl"
        %>
      </div>
      <div class="text-gray-700">
        <% question = Intake::BUS_PASS %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <% question.choices.each do |choice| %>
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey&.dig(question.key) == choice %>
          <% end %>
          <!-- checked: @intake.survey ? @intake.survey['bus_pass'] == 'false' : true -->
        </div>
      </div>
      <!-- voucher-specific questions -->
      <div class="w-full text-gray-700">
        <% question = Intake::CHECK_IN %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <%= form.date_field "survey[#{question.key}]",
          value: [@swap.start_date, Date.current].max, 
          min: [@swap.start_date, Date.current].max,
          max: @swap.end_date - 1,
          required: true,
          class: "mt-4 w-full rounded-lg p-8 text-6xl" %>
      </div>
      <div class="w-full text-gray-700">
        <% question = Intake::CHECK_OUT %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <%= form.date_field "survey[#{question.key}]",
          value: [@swap.start_date, Date.current].max, 
          min: [@swap.start_date, Date.current].max,
          max: @swap.end_date - 1,
          required: true,
          class: "mt-4 w-full rounded-lg p-8 text-6xl" %>
      </div>
      <div class="w-full text-gray-700">
        <% question = Intake::MOTEL_ID %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-relaxed font-semibold" %>
        <%= form.select "survey[#{question.key}]", options_for_select(@motels, selected: @motel&.id, disabled: @disabled),
          {include_blank: true},
          class: "mt-4 w-full rounded-lg p-8 text-6xl",
          required: true 
        %>
      </div>
      <div class="w-full text-gray-700">
        <% question = Intake::PHONE_NUMBER %>
        <%= client_attributes.label question.key, question.text,
          class: "block leading-relaxed font-semibold"  %>
        <%= client_attributes.telephone_field question.key,
          class: "w-full rounded-lg p-8 text-6xl" %>
      </div>
      <div class="w-full text-gray-700">
        <% question = Intake::EMAIL %>
        <%= client_attributes.label question.key, question.text,
          class: "block leading-relaxed font-semibold"  %>
        <%= client_attributes.email_field question.key,
          class: "w-full rounded-lg p-8 text-6xl" %>
      </div>
    <% end %>
    <!-- end voucher-specific questions -->
    <div class="actions mt-12">
      <%= form.submit 'Submit', class: 'w-full btn btn-blue h-32 text-6xl' %>
    </div>
  </div>
<% end %>
