<%= form_with(model: @intake, local: true) do |form| %>

  <% if @intake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@intake.errors.count, "error") %> prohibited this intake from being saved:</h2>
      <ul>
        <% @intake.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-full flex flex-col space-y-14 mt-24 text-4xl text-gray-800 leading-snug tracking-wide px-4">
    <!-- nested client fields -->
    <%= form.fields_for :client, @client do |client_attributes|%>

      <div class="flex flex-1 space-x-4">
        <div class="field w-full">
          <%= client_attributes.label :first_name, "First Name", class: "block"  %>
          <%= client_attributes.text_field :first_name, size: 23, class: "border w-full p-6" %>
        </div>

        <div class="field w-full">
          <%= client_attributes.label :last_name, "Last Name", class: "block"  %>
          <%= client_attributes.text_field :last_name, size: 23, class: "border w-full p-6" %>
        </div>
      </div>

      <div class="flex flex-1 space-x-4">
        <div class="field w-full">
          <%= client_attributes.label :date_of_birth, class: "block"  %>
          <%= client_attributes.date_select :date_of_birth, 
            {
            use_short_month: true,
            order: [:month, :day, :year]
          },
          class: "bg-white border p-6" %>
        </div>

        <div class="field w-full">
          <%= client_attributes.label :gender, class: "block"  %>
          <%= client_attributes.select :gender, 
            options_for_select(Client::GENDER, @client.gender), 
            {include_blank: true},
            class: "bg-white border w-full p-6" %>
        </div>
      </div>

      <div class="flex flex-1 space-x-4">
        <div class="field w-full">
          <%= client_attributes.label :race, class: "block"  %>
          <%= client_attributes.select :race, 
            options_for_select(Client::RACE, @client.race), 
            {include_blank: true},
            class: "bg-white border w-full p-6" %>
        </div>

        <div class="field w-full">
          <%= client_attributes.label :ethnicity, class: "block"  %>
          <%= client_attributes.select :ethnicity, 
            options_for_select(Client::ETHNICITY, @client.ethnicity), 
            {include_blank: true},
            class: "bg-white border w-full p-6" %>
        </div>
      </div>

      <div class="flex flex-1 space-x-4">
        <div class="field w-full">
          <%= client_attributes.label :phone_number, class: "block"  %>
          <%= client_attributes.telephone_field :phone_number, class: "w-full border p-6" %>
        </div>

        <div class="field w-full">
          <%= client_attributes.label :email_address, class: "block"  %>
          <%= client_attributes.email_field :email_address, class: "w-full border p-6" %>
        </div>
      </div>
    <% end %>

    <div class="flex flex-1 space-x-4">
      <div class="field w-full">
        <%= form.label "survey[king_soopers_card]", "King Soopers Card?", class: "block" %>
        <%= form.label "survey[king_soopers_card]", "Yes" %>
        <%= form.radio_button "survey[king_soopers_card]", true, checked:
          @intake.survey&.dig('king_soopers_card') == 'true' %>
        <%= form.label "survey[king_soopers_card]", "No" %>
        <%= form.radio_button "survey[king_soopers_card]", false,
          checked: @intake.survey ? @intake.survey['king_soopers_card'] == 'false' : true
        %>
      </div>

      <div class="field w-full">
        <%= form.label "survey[bus_pass]", "Bus Pass?", class: "block" %>
        <%= form.label "survey[bus_pass]", "Yes", value: "true"  %>
        <%= form.radio_button "survey[bus_pass]", true, checked:
          @intake.survey&.dig('bus_pass') == 'true' %>
        <%= form.label "survey[bus_pass]", "No", value: "false" %>
        <%= form.radio_button "survey[bus_pass]", false,
          checked: @intake.survey ? @intake.survey['bus_pass'] == 'false' : true
        %>
      </div>
    </div>

    <div class="flex flex-1 space-x-4">
      <div class="field w-full">
        <%= form.label "survey[num_nights]", "Number of Nights", class: "block" %>
        <%= form.number_field "survey[num_nights]", min: 1, step: 1, 
          class: "border w-full p-6", 
          value: @intake.survey&.dig('num_nights') %>
      </div>

      <div class="field w-full">
        <%= form.label "survey[hotel]", "Hotel", class: "block" %>
        <%= form.text_field "survey[hotel]", 
          class: "border w-full p-6", 
          value: @intake.survey&.dig('hotel') %>
      </div>
    </div>

    <div class="field">
      <%= form.label "survey[homelessness_first_time]", 
        "Is this the first time you have been homeless?", 
        class: "block" %>

      <%= form.label "survey[homelessness_first_time]", "Yes" %>
      <%= form.radio_button "survey[homelessness_first_time]", true, checked:
        @intake.survey&.dig('homelessness_first_time') == 'true' %>

      <%= form.label "survey[homelessness_first_time]", "No" %>
      <%= form.radio_button "survey[homelessness_first_time]", false, 
        checked: @intake.survey ? @intake.survey['homelessness_first_time'] == 'false' : true %>
    </div>

    <div class="field">
      <%= form.label "survey[homelessness_how_long_this_time]", 
        "How long have you been homeless this time?", 
        class: "block" %>
      <%= form.text_field "survey[homelessness_how_long_this_time]", 
        class: "border w-full p-6",
        value: @intake.survey&.dig('homelessness_how_long_this_time')
      %>
    </div>

    <div class="field">
      <%= form.label "survey[homelessness_episodes_last_three_years]", 
        "Including this time, how many separate times have you stayed in shelters or on the streets in the past 3 years?", 
        class: "block"  %>

      <%= form.label "survey[homelessness_episodes_last_three_years]", "Fewer than 4 times" %>
      <%= form.radio_button "survey[homelessness_episodes_last_three_years]", "Fewer than 4 times", 
        checked: @intake.survey&.dig('homelessness_episodes_last_three_years') == 'Fewer than 4 times' %>

      <%= form.label "survey[homelessness_episodes_last_three_years]", "4 or more times" %>
      <%= form.radio_button "survey[homelessness_episodes_last_three_years]", "4 or more times", 
        checked: @intake.survey ? @intake.survey['homelessness_episodes_last_three_years'] == '4 or more times' : true %>
    </div>

    <div class="field">
      <%= form.label "survey[homelessness_episodes_how_long]", 
        "In total, how long did you stay in shelters or on the streets those times?", 
        class: "block" %>
      <%= form.text_field "survey[homelessness_episodes_how_long]", 
        class: "border w-full p-6", value: @intake.survey&.dig('homelessness_episodes_how_long') %>
    </div>

    <div class="field">
      <%= form.label "survey[how_long_living_in_this_community]", 
        "How long have you been living in this community?",
        class: "block"  %>
      <%= form.text_field "survey[how_long_living_in_this_community]",
        class: "border w-full p-6", value: @intake.survey&.dig('how_long_living_in_this_community') %>
    </div>

    <div class="field">
      <%= form.label "survey[where_did_you_sleep_last_night]", "Where did you sleep last night?", class: "block" %>

      <div class="flex flex-col">
        <div>
          <%= form.label "survey[where_did_you_sleep_last_night]", "In own home" %>
          <%= form.radio_button "survey[where_did_you_sleep_last_night]", "In own home", 
            checked: @intake.survey&.dig('where_did_you_sleep_last_night') == "In own home" %>
        </div>

        <div>
          <%= form.label "survey[where_did_you_sleep_last_night]", "In a shelter" %>
          <%= form.radio_button "survey[where_did_you_sleep_last_night]", "In a shelter",
            checked: @intake.survey&.dig('where_did_you_sleep_last_night') == "In a shelter" %>
        </div>

        <div>
          <%= form.label "survey[where_did_you_sleep_last_night]", "In a motel" %>
          <%= form.radio_button "survey[where_did_you_sleep_last_night]", "In a motel",
            checked: @intake.survey&.dig('where_did_you_sleep_last_night') == "In a motel" %>
        </div>

        <div>
          <%= form.label "survey[where_did_you_sleep_last_night]", "Double Up" %>
          <%= form.radio_button "survey[where_did_you_sleep_last_night]", "Double Up",
            checked: @intake.survey&.dig('where_did_you_sleep_last_night') == "Double Up" %>
        </div>

        <div>
          <%= form.label "survey[where_did_you_sleep_last_night]", "In a car/RV" %>
          <%= form.radio_button "survey[where_did_you_sleep_last_night]", "In a car/RV",
            checked: @intake.survey&.dig('where_did_you_sleep_last_night') == "In a car/RV" %>
        </div>

        <div>
          <%= form.label "survey[where_did_you_sleep_last_night]", "On the streets or in a tent" %>
          <%= form.radio_button "survey[where_did_you_sleep_last_night]", "On the streets or in a tent",
            checked: @intake.survey&.dig('where_did_you_sleep_last_night') == "On the streets or in a tent" %>
        </div>

        <div>
          <%= form.label "survey[where_did_you_sleep_last_night]", "In the hospital" %>
          <%= form.radio_button "survey[where_did_you_sleep_last_night]", "In the hospital",
            checked: @intake.survey&.dig('where_did_you_sleep_last_night') == "In the hospital" %>
        </div>

        <div>
          <%= form.label "survey[where_did_you_sleep_last_night]", "Incarcerated" %>
          <%= form.radio_button "survey[where_did_you_sleep_last_night]", "Incarcerated",
            checked: @intake.survey&.dig('where_did_you_sleep_last_night') == "Incarcerated" %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= form.label "survey[why_not_shelter]", 
        "What is the reason you have not accessed shelter?",
        class: "block"  %>

      <div class="flex flex-col">
        <div>
          <%= form.label "survey[why_not_shelter]", "No room" %>
          <%= form.radio_button "survey[why_not_shelter]", "No room",
            checked: @intake.survey&.dig('why_not_shelter') == "No room" %>
        </div>

        <div>
          <%= form.label "survey[why_not_shelter]", "No transportation" %>
          <%= form.radio_button "survey[why_not_shelter]", "No transportation",
            checked: @intake.survey&.dig('why_not_shelter') == "No transportation" %>
        </div>

        <div>
          <%= form.label "survey[why_not_shelter]", "Prior background issues" %>
          <%= form.radio_button "survey[why_not_shelter]", "Prior background issues",
            checked: @intake.survey&.dig('why_not_shelter') == "Prior background issues" %>
        </div>

        <div>
          <%= form.label "survey[why_not_shelter]", "Doesn't accept pets" %>
          <%= form.radio_button "survey[why_not_shelter]", "Doesn't accept pets",
            checked: @intake.survey&.dig('why_not_shelter') == "Doesn't accept pets" %>
        </div>

        <div>
          <%= form.label "survey[why_not_shelter]", "Safety Concerns" %>
          <%= form.radio_button "survey[why_not_shelter]", "Safety Concerns",
            checked: @intake.survey&.dig('why_not_shelter') == "Safety Concerns" %>
        </div>

        <div>
          <%= form.label "survey[why_not_shelter]", "No ID" %>
          <%= form.radio_button "survey[why_not_shelter]", "No ID",
            checked: @intake.survey&.dig('why_not_shelter') == "No ID" %>
        </div>

        <div>
          <%= form.label "survey[why_not_shelter]", "Banned from shelter" %>
          <%= form.radio_button "survey[why_not_shelter]", "Banned from shelter",
            checked: @intake.survey&.dig('why_not_shelter') == "Banned from shelter" %>
        </div>

        <div>
          <%= form.label "survey[why_not_shelter]", "Current restraining order" %>
          <%= form.radio_button "survey[why_not_shelter]", "Current restraining order",
            checked: @intake.survey&.dig('why_not_shelter') == "Current restraining order" %>
        </div>

        <div>
          <%= form.label "survey[why_not_shelter]", "Other" %>
          <%= form.radio_button "survey[why_not_shelter]", "Other",
            checked: @intake.survey&.dig('why_not_shelter') == "Other" %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= form.label "survey[are_you_working]", 
        "Are you working?", 
        class: "block"  %>
        <%= form.label "survey[are_you_working]", "Yes" %>
        <%= form.radio_button "survey[are_you_working]", true, checked:
          @intake.survey&.dig('are_you_working') == 'true' %>
        <%= form.label "survey[are_you_working]", "No" %>
        <%= form.radio_button "survey[are_you_working]", false,
          checked: @intake.survey ? @intake.survey['are_you_working'] == 'false' : true %>
    </div>

    <div class="field">
      <%= form.label "survey[armed_forces]", 
        "Have you ever served in the US Armed Forces (Army, Navy, Air Force, Marines or Coast Guard)?", 
        class: "block" %>
        <%= form.label "survey[armed_forces]", "Yes" %>
        <%= form.radio_button "survey[armed_forces]", true, checked:
          @intake.survey&.dig('armed_forces') == 'true' %>
        <%= form.label "survey[armed_forces]", "No" %>
        <%= form.radio_button "survey[armed_forces]", false,
          checked: @intake.survey ? @intake.survey['armed_forces'] == 'false' : true %>
    </div>

    <div class="field">
      <%= form.label "survey[active_duty]", 
        "Were you ever called into active duty as a member of the National Guard or as a Reservist?",
        class: "block" %>
        <%= form.label "survey[active_duty]", "Yes" %>
        <%= form.radio_button "survey[active_duty]", true, checked:
          @intake.survey&.dig('active_duty') == 'true' %>
        <%= form.label "survey[active_duty]", "No" %>
        <%= form.radio_button "survey[active_duty]", false,
          checked: @intake.survey ? @intake.survey['active_duty'] == 'false' : true %>
    </div>

    <div class="field">
      <%= form.label "survey[substance_abuse]", 
        "Do you have any Substance Abuse Issues?",
        class: "block" %>
        <%= form.label "survey[substance_abuse]", "Yes" %>
        <%= form.radio_button "survey[substance_abuse]", true, checked:
          @intake.survey&.dig('substance_abuse') == 'true' %>
        <%= form.label "survey[substance_abuse]", "No" %>
        <%= form.radio_button "survey[substance_abuse]", false,
          checked: @intake.survey ? @intake.survey['substance_abuse'] == 'false' : true %>
    </div>

    <div class="field">
      <%= form.label "survey[substance_abuse_impairment]", 
        "If yes, is this a long-term disease that impairs your ability to hold a job or live independently?",
        class: "block" %>
        <%= form.label "survey[substance_abuse_impairment]", "Yes" %>
        <%= form.radio_button "survey[substance_abuse_impairment]", true, checked:
          @intake.survey&.dig('substance_abuse_impairment') == 'true' %>
        <%= form.label "survey[substance_abuse_impairment]", "No" %>
        <%= form.radio_button "survey[substance_abuse_impairment]", false,
          checked: @intake.survey ? @intake.survey['substance_abuse_impairment'] == 'false' : true %>
    </div>

    <div class="field">
      <%= form.label "survey[chronic_health_condition]", 
        "Do you have a Chronic Health Condition?",
        class: "block" %>
        <%= form.label "survey[chronic_health_condition]", "Yes" %>
        <%= form.radio_button "survey[chronic_health_condition]", true, checked:
          @intake.survey&.dig('chronic_health_condition') == 'true' %>
        <%= form.label "survey[chronic_health_condition]", "No" %>
        <%= form.radio_button "survey[chronic_health_condition]", false,
          checked: @intake.survey ? @intake.survey['chronic_health_condition'] == 'false' : true %>
    </div>

    <div class="field">
      <%= form.label "survey[chronic_health_condition_impairment]", 
        "If yes, is this a long-term disease that impairs your ability to hold a job or live independently?",
        class: "block" %>
        <%= form.label "survey[chronic_health_condition_impairment]", "Yes" %>
        <%= form.radio_button "survey[chronic_health_condition_impairment]", true, checked:
          @intake.survey&.dig('chronic_health_condition_impairment') == 'true' %>
        <%= form.label "survey[chronic_health_condition_impairment]", "No" %>
        <%= form.radio_button "survey[chronic_health_condition_impairment]", false,
          checked: @intake.survey ? @intake.survey['chronic_health_condition_impairment'] == 'false' : true %>
    </div>

    <div class="field">
      <%= form.label "survey[mental_health_disability]", 
        "Do you have a Mental Health disability?",
        class: "block" %>
        <%= form.label "survey[mental_health_disability]", "Yes" %>
        <%= form.radio_button "survey[mental_health_disability]", true, checked:
          @intake.survey&.dig('mental_health_disability') == 'true' %>
        <%= form.label "survey[mental_health_disability]", "No" %>
        <%= form.radio_button "survey[mental_health_disability]", false,
          checked: @intake.survey ? @intake.survey['mental_health_disability'] == 'false' : true %>
    </div>

    <div class="field">
      <%= form.label "survey[mental_health_disability_impairment]", 
        "If yes, is this a long-term disease that impairs your ability to hold a job or live independently?",
        class: "block" %>
        <%= form.label "survey[mental_health_disability_impairment]", "Yes" %>
        <%= form.radio_button "survey[mental_health_disability_impairment]", true, checked:
          @intake.survey&.dig('mental_health_disability_impairment') == 'true' %>
        <%= form.label "survey[mental_health_disability_impairment]", "No" %>
        <%= form.radio_button "survey[mental_health_disability_impairment]", false,
          checked: @intake.survey ? @intake.survey['mental_health_disability_impairment'] == 'false' : true %>
    </div>

    <div class="field">
      <%= form.label "survey[physical_disability]", 
        "Do you have a Physical Disability?",
        class: "block" %>
        <%= form.label "survey[physical_disability]", "Yes" %>
        <%= form.radio_button "survey[physical_disability]", true, checked:
          @intake.survey&.dig('physical_disability') == 'true' %>
        <%= form.label "survey[physical_disability]", "No" %>
        <%= form.radio_button "survey[physical_disability]", false,
          checked: @intake.survey ? @intake.survey['physical_disability'] == 'false' : true %>
    </div>

    <div class="field">
      <%= form.label "survey[physical_disability_impairment]", 
        "If yes, is this a long-term disease that impairs your ability to hold a job or live independently?",
        class: "block" %>
        <%= form.label "survey[physical_disability_impairment]", "Yes" %>
        <%= form.radio_button "survey[physical_disability_impairment]", true, checked:
          @intake.survey&.dig('physical_disability_impairment') == 'true' %>
        <%= form.label "survey[physical_disability_impairment]", "No" %>
        <%= form.radio_button "survey[physical_disability_impairment]", false,
          checked: @intake.survey ? @intake.survey['physical_disability_impairment'] == 'false' : true %>
    </div>

    <div class="field">
      <%= form.label "survey[developmental_disability]", 
        "Do you have a Developmental Disability?",
        class: "block" %>
        <%= form.label "survey[developmental_disability]", "Yes" %>
        <%= form.radio_button "survey[developmental_disability]", true, checked:
          @intake.survey&.dig('developmental_disability') == 'true' %>
        <%= form.label "survey[developmental_disability]", "No" %>
        <%= form.radio_button "survey[developmental_disability]", false,
          checked: @intake.survey ? @intake.survey['developmental_disability'] == 'false' : true %>
    </div>

    <div class="field">
      <%= form.label "survey[developmental_disability_impairment]", 
        "If yes, is this a long-term disease that impairs your ability to hold a job or live independently?",
        class: "block" %>
        <%= form.label "survey[developmental_disability_impairment]", "Yes" %>
        <%= form.radio_button "survey[developmental_disability_impairment]", true, checked:
          @intake.survey&.dig('developmental_disability_impairment') == 'true' %>
        <%= form.label "survey[developmental_disability_impairment]", "No" %>
        <%= form.radio_button "survey[developmental_disability_impairment]", false,
          checked: @intake.survey ? @intake.survey['developmental_disability_impairment'] == 'false' : true %>
    </div>

    <div class="field">
      <%= form.label "survey[fleeing_domestic_violence]", 
        "Are you experiencing homelessness because you are fleeing Domestic Violence, Sexual Assault or Stalking?",
        class: "block" %>
        <%= form.label "survey[fleeing_domestic_violence]", "Yes" %>
        <%= form.radio_button "survey[fleeing_domestic_violence]", true, checked:
          @intake.survey&.dig('fleeing_domestic_violence') == 'true' %>
        <%= form.label "survey[fleeing_domestic_violence]", "No" %>
        <%= form.radio_button "survey[fleeing_domestic_violence]", false,
          checked: @intake.survey ? @intake.survey['fleeing_domestic_violence'] == 'false' : true %>
    </div>

    <div class="field w-full">
      <%= form.label "survey[num_adults_household]", 'Number of adults in household', class: "block" %>
        <%= form.number_field "survey[num_adults_household]", min: 0, step: 1, 
          class: "border w-full p-6", 
          value: @intake.survey&.dig('num_adults_household') %>
    </div>

    <div class="field w-full">
      <%= form.label "survey[num_children_household]", 'Number of children in household', class: "block" %>
        <%= form.number_field "survey[num_children_household]", min: 0, step: 1, 
          class: "border w-full p-6", 
          value: @intake.survey&.dig('num_children_household') %>
    </div>

    <div class="field w-full">
      <%= form.label "survey[last_permanent_residence_city_and_state]", "City and State of Last Permanent Residence", class: "block"  %>
      <%= form.text_field "survey[last_permanent_residence_city_and_state]", 
        class: "border w-full p-6", 
        value: @intake.survey&.dig('last_permanent_residence_city_and_state') %>
    </div>

    <div class="field w-full">
      <%= form.label "survey[last_permanent_residence_county]", "County of Last Permanent Residence", class: "block"  %>
      <%= form.text_field "survey[last_permanent_residence_county]", 
        class: "border w-full p-6", 
        value: @intake.survey&.dig('last_permanent_residence_county') %>
    </div>

    <div class="actions mt-12">
      <%= form.submit do %>
        <button class="btn btn-blue">Submit</button>
      <% end %>
    </div>
  </div>
<% end %>
