<%= form_with(model: @intake, local: true) do |form| %>

  <% if @intake.errors.any? %>
    <div id="error_explanation" class="my-16 p-8 text-7xl bg-red-400 font-bold">
      <p><%= pluralize(@intake.errors.count, "error") %> prohibited this intake from being saved:</p>
      <ul class="mt-8">
        <% @intake.errors.full_messages.each do |message| %>
          <li class="text-6xl"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-full flex flex-col space-y-32 mt-24 pb-24 text-6xl text-gray-800 tracking-wide">
    <%= form.fields_for :client, @client do |client_attributes|%>

      <div class="text-gray-700">
        <% question = Intake::FIRST_NAME %>
        <%= client_attributes.label question.key, question.text,
          class: "block leading-snug font-semibold"
        %>
        <%= client_attributes.text_field question.key,
          size: 23, 
          value: @client.first_name,
          required: true,
          class: "mt-4 w-full rounded-lg p-8 text-6xl"
        %>
      </div>

      <div class="text-gray-700">
        <% question = Intake::LAST_NAME %>
        <%= client_attributes.label question.key, question.text,
          class: "block leading-snug font-semibold"
        %>
        <%= client_attributes.text_field question.key,
          size: 23, 
          value: @client.last_name,
          required: true,
          class: "mt-4 w-full rounded-lg p-8 text-6xl"
        %>
      </div>

      <div class="text-gray-700">
        <% question = Intake::DATE_OF_BIRTH %>
        <%= client_attributes.label question.key, question.text,
          class: "block leading-snug font-semibold" %>
        <%= client_attributes.date_field question.key,
          value: Date.current - 50.years,
          required: true,
          class: "mt-4 w-full rounded-lg p-8 text-6xl" %>
      </div>

      <div class="text-gray-700">
        <% question = Intake::GENDER %>
        <%= client_attributes.label question.key, question.text,
          class: "block leading-snug font-semibold" %>
        <%= client_attributes.select question.key,
          options_for_select(question.choices, @client.gender),
          {},
          class: "mt-6 rounded-lg w-full p-8 text-8xl"
        %>
      </div>

      <div class="field w-full">
        <% question = Intake::RACE %>
        <%= client_attributes.label question.key, question.text,
          class: "block leading-snug font-semibold" %>
        <ul class="flex flex-1 flex-col w-full space-y-12 p-12 text-6xl text-gray-700">
          <% question.choices.each do |race| %>
            <li class="flex flex-1 space-x-10 items-baseline">
              <%= client_attributes.check_box question.key,
                { 
                  multiple: true, 
                  checked: race.in?(@client.race),
                  class: "w-11 h-11 text-indigo-600"
                },
                race
              %>
              <%= client_attributes.label "race_#{to_htmlfor(race)}", race %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="text-gray-700">
        <% question = Intake::ETHNICITY %>
        <%= client_attributes.label question.key, question.text,
          class: "block leading-snug font-semibold" %>
        <%= client_attributes.select question.key,
          options_for_select(question.choices, @client.ethnicity),
          {},
          class: "mt-6 rounded-lg w-full p-8 text-6xl"
        %>
      </div>

      <div class="text-gray-700">
        <% question = Intake::HOMELESSNESS_FIRST_TIME %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-tight font-semibold" %>
        <div class="p-4">
          <% question.choices.each do |choice| %>
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8 text-indigo-600",
                required: true,
                checked: @intake.survey.dig(question.key) == choice %>
          <% end %>
          <!-- checked: @intake.survey ? @intake.survey['homelessness_first_time'] == 'false' : true %> -->
        </div>
      </div>

      <div class="text-gray-700">
        <% question = Intake::HOMELESSNESS_HOW_LONG_THIS_TIME %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-tight font-semibold"
        %>
        <%= form.text_field "survey[#{question.key}]",
          size: 23, 
          value: @intake.survey.dig(question.key),
          placeholder: question.placeholder,
          required: true,
          class: "mt-4 w-full rounded-lg p-8 text-6xl"
        %>
      </div>

      <div class="text-gray-700">
        <% question = Intake::HOMELESSNESS_EPISODES_LAST_THREE_YEARS %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-tight font-semibold" %>
        <div class="mt-4 p-4 flex flex-1 flex-col space-y-8">
          <% question.choices.each do |choice| %>
            <div>
              <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
              <%= form.radio_button "survey[#{question.key}]", 
                choice, 
                class: "h-10 w-10 text-indigo-600",
                required: true,
                checked: @intake.survey.dig(question.key) == choice %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="text-gray-700">
        <% question = Intake::HOMELESSNESS_EPISODES_HOW_LONG %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-tight font-semibold"
        %>
        <%= form.text_field "survey[#{question.key}]",
          size: 23, 
          value: @intake.survey.dig(question.key),
          placeholder: question.placeholder,
          required: true,
          class: "mt-4 w-full rounded-lg p-8 text-6xl"
        %>
      </div>

      <div class="text-gray-700">
        <% question = Intake::SLEEP_LAST_NIGHT %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-tight font-semibold"  %>
        <ul class="p-4 flex flex-1 flex-col space-y-8">
          <% question.choices.each do |choice| %>
            <li>
              <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
              <%= form.radio_button "survey[#{question.key}]", 
                choice, 
                class: "h-10 w-10 text-indigo-600",
                checked: @intake.survey.dig(question.key) == choice %>
            </li>
          <% end %>
          <li class="flex flex-1 items-center relative">
            <div class="absolute inset-y-0 left-10 flex items-center pointer-events-none">
              <span class="text-gray-500 text-5xl">
                Other:
              </span>
            </div>
            <%= form.text_field "survey[#{question.key}]_other",
              value: @intake.survey.dig(question.key)&.starts_with?("Other:") && @intake.survey[question.key],
              class: "flex-1 focus:ring-indigo-500 focus:border-indigo-500 block mr-8 pl-48 py-6 border-gray-300 rounded-lg text-5xl"
            %>
            <%= form.radio_button "survey[#{question.key}]",
              "other_radio",
              checked: @intake.survey.dig(question.key)&.starts_with?("Other:"),
              class: "h-10 w-10 text-indigo-600"
            %>
          </li>
        </ul>
      </div>

      <div class="text-gray-700">
        <% question = Intake::WHY_NOT_SHELTER %>
        <%= form.label "survey[#{question.key}]", question.text, class: "block leading-tight font-semibold" %>
        <ul class="flex flex-1 flex-col w-full space-y-12 p-12 text-6xl text-gray-700">
          <% question.choices.each do |reason| %>
            <li class="flex flex-1 space-x-10 items-baseline">
              <input class="w-11 h-11 text-indigo-600" type="checkbox" value="<%= reason %>" name="intake[survey][why_not_shelter][]" id=<%= "intake_survey[why_not_shelter]_#{to_htmlfor(reason)}" %>>
              <label for="intake_why_not_shelter"><%= reason %></label>
            </li>
        <% end %>
          <li class="flex flex-1 items-center relative">
            <div class="absolute inset-y-0 left-28 flex items-center pointer-events-none">
              <span class="text-gray-500 text-5xl">
                Other:
              </span>
            </div>
            <input class="mr-10 w-11 h-11 text-indigo-600" 
              type="checkbox" value="Other:" 
              name="intake[survey][why_not_shelter][]" 
              id="intake_survey[why_not_shelter]_other_checkbox"
            />
            <input class="w-full focus:ring-indigo-500 focus:border-indigo-500
                   block pl-48 py-6 border-gray-300 rounded-lg text-5xl"
              type="text" id="intake_survey[why_not_shelter]_other_text_field"
            />
          </li>
        </ul>
      </div>

      <div class="text-gray-700">
        <% question = Intake::ARE_YOU_WORKING %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <%= form.select "survey[#{question.key}]", 
          options_for_select(
            Intake::ARE_YOU_WORKING.choices, 
            selected: @intake.survey.dig(question.key)
          ),
          {},
          required: true,
          class: "mt-6 bg-white rounded-lg w-full p-8 text-6xl"
        %>
      </div>

      <div class="text-gray-700">
        <% question = Intake::VETERAN %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <% question.choices.each do |choice| %>
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey.dig(question.key) == choice %>
          <% end %>
        </div>
      </div>

      <div class="text-gray-700">
        <% question = Intake::ACTIVE_DUTY %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <% question.choices.each do |choice| %>
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey.dig(question.key) == choice %>
          <% end %>
        </div>
      </div>

      <div class="text-gray-700">
        <% question = Intake::SUBSTANCE_ABUSE %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <ul class="p-4 flex flex-1">
          <% question.choices.each do |choice| %>
            <li @click="substanceAbuseIssues = <%= choice == "Yes" %>">
              <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
              <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey.dig(question.key) == choice %>
            <% end %>
          </li>
        </ul>
      </div>

      <div class="text-gray-700">
        <% question = Intake::CHRONIC_HEALTH_CONDITION %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <ul class="p-4 flex flex-1">
          <% question.choices.each do |choice| %>
            <li @click="chronicHealthCondition = <%= choice == "Yes" %>">
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey.dig(question.key) == choice %>
            <% end %>
            </li>
        </ul>
      </div>

      <div class="text-gray-700">
        <% question = Intake::MENTAL_HEALTH_CONDITION %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <ul class="p-4 flex flex-1">
          <% question.choices.each do |choice| %>
          <li @click="mentalHealthCondition = <%= choice == "Yes" %>">
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey.dig(question.key) == choice %>
          <% end %>
          </li>
        </ul>
      </div>

      <div class="text-gray-700">
        <% question = Intake::MENTAL_HEALTH_DISABILITY %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <ul class="p-4 flex flex-1">
          <% question.choices.each do |choice| %>
          <li @click="mentalHealthDisability = <%= choice == "Yes" %>">
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey.dig(question.key) == choice %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="text-gray-700">
        <% question = Intake::PHYSICAL_DISABILITY %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <ul class="p-4 flex flex-1">
          <% question.choices.each do |choice| %>
          <li @click="physicalDisability = <%= choice == "Yes" %>">
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey.dig(question.key) == choice %>
            <% end %>
          </li>
        </ul>
      </div>

      <div class="text-gray-700">
        <% question = Intake::DEVELOPMENTAL_DISABILITY %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <ul class="p-4 flex flex-1">
          <% question.choices.each do |choice| %>
          <li @click="developmentalDisability = <%= choice == "Yes" %>">
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey.dig(question.key) == choice %>
            <% end %>
          </li>
        </ul>
      </div>

      <div class="text-gray-700">
        <% question = Intake::FLEEING_DOMESTIC_VIOLENCE %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <% question.choices.each do |choice| %>
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey.dig(question.key) == choice %>
          <% end %>
        </div>
      </div>

      <div class="w-full text-gray-700">
        <% question = Intake::NUM_ADULTS_HOUSEHOLD %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-relaxed font-semibold" %>
        <%= form.number_field "survey[#{question.key}]", 
          min: 0, step: 1, 
          class: "mt-4 rounded-lg w-full p-8 text-6xl", 
          required: true,
          value: @intake.survey.dig(question.key),
          placeholder: question.placeholder 
        %>
      </div>

      <div class="w-full text-gray-700">
        <% question = Intake::NUM_CHILDREN_HOUSEHOLD %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-relaxed font-semibold" %>
        <%= form.number_field "survey[#{question.key}]", 
          min: 0, step: 1, 
          class: "mt-4 rounded-lg w-full p-8 text-6xl", 
          required: true,
          value: @intake.survey.dig(question.key),
          placeholder: question.placeholder 
        %>
      </div>

      <div class="text-gray-700">
        <% question = Intake::LAST_PERMANENT_RESIDENCE_COUNTY %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold"
        %>
        <%= form.text_field "survey[#{question.key}]",
          value: @intake.survey.dig(question.key),
          placeholder: question.placeholder,
          required: true,
          class: "mt-4 w-full rounded-lg p-8 text-6xl"
        %>
      </div>

      <div class="text-gray-700">
        <% question = Intake::BUS_PASS %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <% question.choices.each do |choice| %>
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey.dig(question.key) == choice %>
          <% end %>
          <!-- checked: @intake.survey ? @intake.survey['bus_pass'] == 'false' : true -->
        </div>
      </div>

      <div class="text-gray-700">
        <% question = Intake::KING_SOOPERS_CARD %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <div class="p-4">
          <% question.choices.each do |choice| %>
            <%= form.label "survey[#{question.key}]_#{to_htmlfor(choice)}", choice %>
            <%= form.radio_button "survey[#{question.key}]", choice, 
                class: "h-10 w-10 mr-8",
                required: true,
                checked: @intake.survey.dig(question.key) == choice %>
          <% end %>
        </div>
      </div>

      <!-- voucher-specific questions -->
      <div class="w-full text-gray-700">
        <% question = Intake::CHECK_IN %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <%= form.date_field "survey[#{question.key}]",
          value: [@swap.start_date, Date.current].max, 
          min: [@swap.start_date, Date.current].max,
          max: @swap.end_date - 1,
          required: true,
          class: "mt-4 w-full rounded-lg p-8 text-6xl" %>
      </div>

      <div class="w-full text-gray-700">
        <% question = Intake::CHECK_OUT %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-snug font-semibold" %>
        <%= form.date_field "survey[#{question.key}]",
          value: @swap.end_date,
          min: [@swap.end_date, Date.current].min,
          max: @swap.end_date,
          required: true,
          class: "mt-4 w-full rounded-lg p-8 text-6xl" %>
      </div>

      <div class="w-full text-gray-700">
        <% question = Intake::MOTEL_ID %>
        <%= form.label "survey[#{question.key}]", question.text,
          class: "block leading-relaxed font-semibold" %>
        <%= form.select "survey[#{question.key}]", options_for_select(@motels, selected: @motel&.id, disabled: @disabled),
          {},
          required: true,
          class: "mt-4 w-full rounded-lg p-8 text-6xl"
        %>
      </div>

      <div class="w-full text-gray-700">
        <% question = Intake::PHONE_NUMBER %>
        <%= client_attributes.label question.key, question.text,
          class: "block leading-relaxed font-semibold"  %>
        <%= client_attributes.telephone_field question.key,
          class: "w-full rounded-lg p-8 text-6xl" %>
      </div>

      <div class="w-full text-gray-700">
        <% question = Intake::EMAIL %>
        <%= client_attributes.label question.key, question.text,
          class: "block leading-relaxed font-semibold"  %>
        <%= client_attributes.email_field question.key,
          class: "w-full rounded-lg p-8 text-6xl" %>
      </div>
    <% end %>

    <!-- end voucher-specific questions -->
    <div class="actions mt-12">
      <%= form.submit 'Submit', class: 'w-full btn btn-blue h-32 text-6xl' %>
    </div>
  </div>
<% end %>

<%= javascript_pack_tag 'intake_form' %>
