<section class="mt-4 px-2 md:w-11/12 mx-auto">
  <%= render partial: 'shared/swap_notices' %>
  <div class="mt-12 md:mt-16 md:px-4 md:w-10/12 mx-auto">
    <h2 class="md:text-5xl text-center text-gray-900 font-bold">New Client Intake</h2>
  </div>
</section>

<section class="px-2 text-lg sm:text-xl md:text-2xl text-gray-700">
  <%= form_with(model: @intake) do |form| %>
    <% if @intake.errors.any? %>
      <div id="error_explanation" class="my-16 p-8 bg-red-400 font-bold">
        <p><%= pluralize(@intake.errors.count, "error") %> prohibited this intake from being saved:</p>
        <ul class="mt-8">
          <% @intake.errors.full_messages.each do |message| %>
            <li class=""><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mt-8 space-y-4">
      <%= form.fields_for :client, @client do |client_attributes|%>
        <div>
          <% question = Intake::FIRST_NAME %>
          <%= client_attributes.label question.key, question.text, class: "pl-1 block text-sm font-medium" %>
          <%= client_attributes.text_field question.key,
            size: 24, 
            value: @client.first_name,
            required: true,
            class: "mt-2 block w-full text-base sm:text-lg 
          border-gray-300 focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0 focus:ring-3
          rounded-md"
        %>
        </div>

        <div>
          <% question = Intake::LAST_NAME %>
          <%= client_attributes.label question.key, question.text, class: "pl-1 block text-sm font-medium" %>
          <%= client_attributes.text_field question.key,
            size: 24, 
            value: @client.last_name,
            required: true,
            class: "mt-2 block w-full text-base sm:text-lg 
          border-gray-300 focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0 focus:ring-3
          rounded-md"
        %>
        </div>

        <div>
          <% question = Intake::DATE_OF_BIRTH %>
          <%= client_attributes.label question.key, question.text, class: "pl-1 block text-sm font-medium" %>
          <%= client_attributes.date_field question.key,
            value: Date.current - 50.years,
            required: true,
            class: "mt-2 block w-full text-base sm:text-lg 
          border-gray-300 focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0 focus:ring-3
          rounded-md"
        %>
        </div>

        <div>
          <% question = Intake::GENDER %>
          <%= client_attributes.label question.key, question.text, class: "pl-1 block text-sm font-medium" %>
          <%= client_attributes.select question.key,
            options_for_select(question.choices, @client.gender),
            {},
            required: true,
            class: "mt-2 block w-full text-base sm:text-lg 
          border-gray-300 focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0 focus:ring-3
          rounded-md"
        %>
        </div>

        <div>
          <% question = Intake::RACE %>
          <%= client_attributes.label question.key, question.text, class: "pl-1 block text-sm font-medium" %>
          <div class="mt-2 p-2 bg-white border border-gray-200 rounded-lg shadow-sm">
            <ul class="flex flex-col w-full space-y-2">
              <% question.choices.each do |race| %>
                <li class="p-1 flex items-center">
                  <%= client_attributes.check_box question.key, { 
                    multiple: true, 
                    checked: race.in?(@client.race || []),
                    class: "w-5 h-5 rounded text-sm text-indigo-600
                    border-gray-300 focus:border-indigo-500
                    focus:ring-indigo-200 focus:ring-offset-0 focus:ring-3"
                  },
                  race
                %>
              <%= client_attributes.label "#{question.key}_#{to_htmlfor(race)}", race, class: "ml-4 text-base" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div>
          <% question = Intake::ETHNICITY %>
          <%= client_attributes.label question.key, question.text, class: "pl-1 block text-sm font-medium" %>
          <%= client_attributes.select question.key,
            options_for_select(question.choices, @client.ethnicity),
            {},
            required: true,
            class: "mt-2 block w-full text-base sm:text-lg 
          border-gray-300 focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0 focus:ring-3
          rounded-md"
        %>
        </div>

        <div class="mt-16 w-full text-gray-700">
          <h3 class="text-6xl leading-6 font-medium text-gray-900">
            Family Members
          </h3>
          <div id="family_members_container">
            <div id="family_members" class="mt-16"></div>
            <button type="button" id="add_family_member" class="btn btn-outline block rounded-lg text-center">
              + Add Family Member
            </button>
          </div>
        </div>

        <div>
          <% question = Intake::HOMELESSNESS_FIRST_TIME %>
          <%= react_component('Toggle', 
            question: question.to_h,
            name: "intake[#{question.key}]",
            checked: @intake.homelessness_first_time
          ) %>
        </div>

        <div>
          <% question = Intake::HOMELESSNESS_DATE_BEGAN %>
          <%= form.label question.key, question.text, class: "pl-1 block text-sm font-medium" %>
          <%= form.date_field question.key,
            value: Date.current - 1.year,
            required: true,
            class: "mt-2 block w-full text-base sm:text-lg 
          border-gray-300 focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0 focus:ring-3
          rounded-md"
        %>
        </div>

        <div>
          <% question = Intake::HOMELESSNESS_HOW_LONG_THIS_TIME %>
          <%= form.label question.key, question.text, class: "pl-1 block text-sm font-medium" %>
          <div class="mt-2 p-2 bg-white border border-gray-200 rounded-lg shadow-sm">
            <ul class="flex flex-col w-full space-y-2">
              <% question.choices.each do |choice| %>
                <li class="p-1 flex items-center">
                  <%= form.radio_button question.key, choice,
                    required: true,
                    checked: @intake.homelessness_how_long_this_time == choice,
                    class: "w-5 h-5
                  text-sm text-indigo-600 
                  border-gray-300 focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0 focus:ring-3"
                %>
              <%= form.label "#{question.key}_#{to_htmlfor(choice)}", choice, class: "ml-4 text-base" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div>
          <% question = Intake::HOMELESSNESS_EPISODES_LAST_THREE_YEARS %>
          <%= form.label question.key, question.text, class: "pl-1 block text-sm font-medium" %>
          <%= form.select question.key, options_for_select(
            Intake::HOMELESSNESS_EPISODES_LAST_THREE_YEARS.choices, 
            @intake.homelessness_episodes_last_three_years || ''
          ),
          {include_blank: ''},
          required: true,
          class: "mt-2 block w-full text-base sm:text-lg rounded-md
          border-gray-300 focus:border-indigo-500 focus:ring-indigo-200
          focus:ring-offset-0 focus:ring-3"
        %>
        </div>

        <div>
          <% question = Intake::HOMELESSNESS_TOTAL_LAST_THREE_YEARS %>
          <%= form.label question.key, question.text, class: "pl-1 block text-sm font-medium" %>
          <%= form.select question.key, options_for_select(
            Intake::HOMELESSNESS_TOTAL_LAST_THREE_YEARS.choices, 
            @intake.homelessness_total_last_three_years || ''
          ),
          {include_blank: ''},
          required: true,
          class: "mt-2 block w-full text-base sm:text-lg rounded-md
          border-gray-300 focus:border-indigo-500 focus:ring-indigo-200
          focus:ring-offset-0 focus:ring-3"
        %>
        </div>

        <div>
          <% question = Intake::LAST_PERMANENT_RESIDENCE_COUNTY %>
          <%= client_attributes.label question.key, question.text, class: "pl-1 block text-sm font-medium" %>
          <%= form.text_field question.key,
            value: @intake.last_permanent_residence_county,
            placeholder: question.placeholder,
            required: true,
            class: "mt-2 block w-full text-base sm:text-lg border-gray-300 placeholder-gray-300
            focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0
            focus:ring-3 rounded-md"
          %>
        </div>

        <div>
          <% question = Intake::HEALTH_INSURANCE %>
          <%= form.label question.key, question.text, class: "pl-1 block text-sm font-medium" %>
          <%= form.select question.key, options_for_select(
            Intake::HEALTH_INSURANCE.choices, 
            @intake.health_insurance || ''
          ),
          {include_blank: ''},
          required: true,
          class: "mt-2 block w-full text-base sm:text-lg rounded-md
          border-gray-300 focus:border-indigo-500 focus:ring-indigo-200
          focus:ring-offset-0 focus:ring-3"
        %>
        </div>

        <div>
          <% question = Intake::ARE_YOU_WORKING %>
          <%= form.label question.key, question.text, class: "pl-1 block text-sm font-medium" %>
          <%= form.select question.key, options_for_select(
            Intake::ARE_YOU_WORKING.choices, 
            @intake.are_you_working || ''
          ),
          {include_blank: ''},
          required: true,
          class: "mt-2 block w-full text-base sm:text-lg rounded-md
          border-gray-300 focus:border-indigo-500 focus:ring-indigo-200
          focus:ring-offset-0 focus:ring-3"
        %>
        </div>

        <div>
          <% question = Intake::NON_CASH_BENEFITS %>
          <%= form.label question.key, question.text, class: "pl-1 block text-sm font-medium" %>
          <div class="mt-2 p-2 bg-white border border-gray-200 rounded-lg shadow-sm">
            <ul id="<%= "#{question.key}_list" %>" class="flex flex-1 flex-col w-full space-y-2">
              <% question.choices.each do |choice| %>
                <li class="p-1 flex items-center">
                  <%= form.check_box question.key, { 
                      multiple: true, 
                      checked: choice.in?(@intake.non_cash_benefits || []),
                      class: "w-5 h-5 rounded text-sm text-indigo-600
                      border-gray-300 focus:border-indigo-500
                      focus:ring-indigo-200 focus:ring-offset-0 focus:ring-3"
                    },
                    choice
                  %>
                  <%= form.label "#{question.key}_#{to_htmlfor(choice)}", choice, class: "ml-4 text-base" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div>
          <% question = Intake::INCOME_SOURCE %>
          <%= react_component('IncomeSourceToggle', 
            question: question.to_h,
            name: "intake[#{question.key}]",
            checked: @intake.income_source_any
          ) %>
        </div>

        <div>
          <% question = Intake::VETERAN %>
          <%= client_attributes.label question.key, question.text, class: "block leading-tight font-semibold" %>
          <ul class="py-4 pb-24 flex">
            <% question.choices.each do |choice| %>
              <li class="relative flex-1">
                <%= client_attributes.radio_button question.key, choice == "Yes", 
                  class: "absolute z-0 h-1 w-1",
                  required: true,
                  checked: @client.veteran == choice,
                  tabindex: -1
                %>
              <%= client_attributes.label question.key, choice, 
                id: "intake_client_attributes_#{question.key}_#{choice.downcase}",
                class: "absolute z-10 w-full block bg-gray-50 btn btn-outline text-center"
              %>
              </li>
            <% end %>
          </ul>
          <div id="veteran_container" class="hidden p-8 space-y-16">
            <div>
              <% question = Intake::VETERAN_MILITARY_BRANCH %>
              <ul class="flex flex-col space-y-6">
                <%= client_attributes.label question.key, question.text, class: "block leading-tight font-semibold" %>
                <% question.choices.each do |choice| %>
                  <li class="items-center">
                    <%= client_attributes.radio_button question.key, choice,
                      class: "h-10 w-10",
                      required: @client.veteran,
                      checked: @client.veteran_military_branch == choice
                    %>
                  <%= client_attributes.label question.key, choice %>
                  </li>
                <% end %>
              </ul>
            </div>
            <div>
              <% question = Intake::VETERAN_SEPARATION_YEAR %>
              <%= client_attributes.label question.key, question.text, class: "block leading-snug font-semibold" %>
              <%= client_attributes.text_field question.key,
                required: @client.veteran,
                value: @client.veteran_separation_year,
                class: "mt-6 w-full rounded-lg p-8 text-5xl"
              %>
            </div>
            <div>
              <% question = Intake::VETERAN_DISCHARGE_STATUS %>
              <ul class="flex flex-col space-y-6">
                <%= client_attributes.label question.key, question.text, class: "block leading-snug font-semibold" %>
                <% question.choices.each do |choice| %>
                  <li class="items-center">
                    <%= client_attributes.radio_button question.key, choice,
                      class: "h-10 w-10",
                      required: @client.veteran,
                      checked: @client.veteran_discharge_status == choice
                    %>
                  <%= client_attributes.label question.key, choice %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

        <div>
          <% question = Intake::ACTIVE_DUTY %>
          <%= form.label question.key, question.text, class: "block leading-tight font-semibold" %>
          <ul class="py-4 pb-32 flex">
            <% question.choices.each do |choice| %>
              <li class="relative flex-1">
                <%= form.radio_button question.key, choice == "Yes", 
                  class: "absolute z-0 h-1 w-1",
                  required: true,
                  checked: @intake.active_duty == choice,
                  tabindex: -1
                %>
              <%= form.label question.key, choice, 
                id: "intake_#{question.key}_#{choice.downcase}",
                class: "absolute z-10 w-full block bg-gray-50 btn btn-outline text-center"
              %>
              </li>
            <% end %>
          </ul>
        </div>

        <div>
          <% question = Intake::SUBSTANCE_MISUSE %>
          <%= form.label question.key, question.text, class: "pl-1 block text-sm font-medium" %>
          <%= form.select question.key, options_for_select(
              Intake::SUBSTANCE_MISUSE.choices, 
              @intake.substance_misuse || ''
            ),
            {include_blank: ''},
            required: true,
            class: "mt-2 block w-full text-base sm:text-lg rounded-md
            border-gray-300 focus:border-indigo-500 focus:ring-indigo-200
            focus:ring-offset-0 focus:ring-3"
          %>
        </div>
      </div>
  </section>
  <div class="bg-gray-200 p-8 leading-snug">
    For the following section, only select ‘yes’ when the condition is a long-term impairment.
  </div>
  <section class="px-2 text-lg sm:text-xl md:text-2xl text-gray-700">
    <div>
      <% question = Intake::CHRONIC_HEALTH_CONDITION %>
      <%= form.label question.key, question.text, class: "block leading-tight font-semibold" %>
      <ul class="py-4 mb-32 flex">
        <% question.choices.each do |choice| %>
          <li class="relative flex-1">
            <%= form.radio_button question.key, choice == "Yes", 
              class: "absolute z-0 h-1 w-1",
              required: true,
              checked: @intake.chronic_health_condition == choice,
              tabindex: -1
            %>
          <%= form.label question.key, choice, 
            id: "intake_#{question.key}_#{choice.downcase}",
            class: "mt-4 absolute z-10 w-full block bg-gray-50 btn btn-outline text-center"
          %>
          </li>
        <% end %>
      </ul>
    </div>

    <div>
      <% question = Intake::MENTAL_HEALTH_DISABILITY %>
      <%= form.label question.key, question.text, 
        class: "block leading-tight font-semibold" %>
      <ul class="py-4 mb-32 flex">
        <% question.choices.each do |choice| %>
          <li class="relative flex-1">
            <%= form.radio_button question.key, choice == "Yes", 
              class: "absolute z-0 h-1 w-1",
              required: true,
              checked: @intake.mental_health_disability == choice,
              tabindex: -1
            %>
          <%= form.label question.key, choice, 
            id: "intake_#{question.key}_#{choice.downcase}",
            class: "mt-4 absolute z-10 w-full block bg-gray-50 btn btn-outline text-center"
          %>
          </li>
        <% end %>
      </ul>
    </div>

    <div>
      <% question = Intake::PHYSICAL_DISABILITY %>
      <%= form.label question.key, question.text, class: "block leading-tight font-semibold" %>
      <ul class="py-4 mb-32 flex">
        <% question.choices.each do |choice| %>
          <li class="relative flex-1">
            <%= form.radio_button question.key, choice == "Yes", 
              class: "absolute z-0 h-1 w-1",
              required: true,
              checked: @intake.physical_disability == choice,
              tabindex: -1
            %>
          <%= form.label question.key, choice, 
            id: "intake_#{question.key}_#{choice.downcase}",
            class: "mt-4 absolute z-10 w-full block bg-gray-50 btn btn-outline text-center"
          %>
          </li>
        <% end %>
      </ul>
    </div>


    <div>
      <% question = Intake::DEVELOPMENTAL_DISABILITY %>
      <%= form.label question.key, question.text, class: "block leading-tight font-semibold" %>
      <ul class="py-4 mb-32 flex">
        <% question.choices.each do |choice| %>
          <li class="relative flex-1">
            <%= form.radio_button question.key, choice == "Yes", 
              class: "absolute z-0 h-1 w-1",
              required: true,
              checked: @intake.developmental_disability == choice,
              tabindex: -1
            %>
          <%= form.label question.key, choice, 
            id: "intake_#{question.key}_#{choice.downcase}",
            class: "mt-4 absolute z-10 w-full block bg-gray-50 btn btn-outline text-center"
          %>
          </li>
        <% end %>
      </ul>
    </div>

    <div>
      <% question = Intake::FLEEING_DOMESTIC_VIOLENCE %>
      <%= form.label question.key, question.text, class: "block leading-tight font-semibold" %>
      <ul class="py-4 mb-32 flex">
        <% question.choices.each do |choice| %>
          <li class="relative flex-1">
            <%= form.radio_button question.key, choice == "Yes", 
              class: "absolute z-0 h-1 w-1",
              required: true,
              checked: @intake.fleeing_domestic_violence == choice,
              tabindex: -1
            %>
          <%= form.label question.key, choice, 
            id: "intake_#{question.key}_#{choice.downcase}",
            class: "mt-4 absolute z-10 w-full block bg-gray-50 btn btn-outline text-center"
          %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="text-center pb-24">
      <input type="submit" name="commit" value="Submit Intake" class="
            mt-4 px-3 md:px-4 py-2 md:py-3 inline-flex items-center
            border border-transparent bg-indigo-600 hover:bg-indigo-700 
            focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
            text-white text-lg sm:text-xl md:text-3xl leading-4 font-semibold tracking-wide
            rounded-lg shadow-sm cursor-pointer" 
      />
    </div>
  </section>
  <% end %>
<% end %>

<%= render partial: 'family_member_template' %>
<%= javascript_pack_tag "intake_form" %>
