<div class="px-2 md:px-0 md:container lg:max-w-6xl">
  <div id="unsheltered-homelessness-verification-container" class="mt-2 w-full">
    <%= react_component("UnshelteredHomelessnessVerification") %>
  </div>
  <div class="mt-4">
    <%= render partial: 'shared/swap_notices' %>
  </div>
  <%= form_with(model: @intake, local: true) do |form| %>
    <div class="mt-4 md:mt-12 px-2 md:px-6 md:w-11/12 mx-auto">
      <h2>Client Intake</h2>
    </div>
    <div class="mt-4 md:mt-12 px-2 md:px-6 md:w-11/12 mx-auto">
      <% if @intake.errors.any? %>
        <div id="error_explanation" class="my-4 md:my-12 p-8 bg-red-400 font-bold">
          <p><%= pluralize(@intake.errors.count, "error") %> prohibited this intake from being saved:</p>
          <ul class="mt-8">
            <% @intake.errors.full_messages.each do |message| %>
              <li class=""><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form.fields_for :client, @client do |client_attributes|%>
        <%= hidden_field_tag 'intake[client_attributes][id]', @client.id %>
        <div class="bg-white p-4 rounded-t-lg border border-gray-200">
          <div class="flex flex-col md:flex-row justify-between">
            <div>
              <div>
                <%= client_attributes.label "profile_photo", "Profile Photo",
                  class: "p-1 text-sm md:text-base lg:text-lg block leading-snug font-semibold text-gray-600"
                %>
                <%= hidden_field_tag "intake[camera]" %>
                <%= react_component("EditableProfilePhoto", element_id: "intake_camera", editing: true, default_image_source: image_path("default-profile-photo.png")) %>
              </div>
            </div>
            <div class="grid grid-cols-2 gap-x-4 gap-y-12">
              <div>
                <% question = Intake::FIRST_NAME %>
                <%= form.label question.key, question.text, 
                  class: "p-1 text-sm md:text-base lg:text-lg block leading-snug font-semibold text-gray-600"
                %>
                <%= client_attributes.text_field question.key, size: 23, value:
                  @client.first_name, class: "text-base sm:text-lg md:text-xl p-2
                  md:p-3 w-full text-sm border border-gray-300
                  focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0
                  focus:ring-3 rounded" %>
              </div>
              <div>
                <% question = Intake::LAST_NAME %>
                <%= form.label question.key, question.text, 
                  class: "p-1 text-sm md:text-base lg:text-lg block leading-snug font-semibold text-gray-600"
                %>
                <%= client_attributes.text_field question.key, size: 23, value:
                  @client.last_name, class: "text-base sm:text-lg md:text-xl p-2
                  md:p-3 w-full text-sm border border-gray-300
                  focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0
                  focus:ring-3 rounded" %>
              </div>
              <div>
                <% question = Intake::DATE_OF_BIRTH %>
                <%= client_attributes.label question.key, question.text, class: "p-1 text-sm md:text-base lg:text-lg block leading-snug font-semibold text-gray-600" %>
                <%= client_attributes.date_field question.key, value: @client.date_of_birth, class: "text-base sm:text-lg md:text-xl p-2 md:p-3 w-full text-sm border border-gray-300 focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0 focus:ring-3 rounded" %>
              </div>
              <div>
                <% question = Intake::HMIS_ID %>
                <%= form.label question.key, question.text, 
                  class: "p-1 text-sm md:text-base lg:text-lg block leading-snug font-semibold text-gray-600"
                %>
                <%= client_attributes.text_field question.key, size: 23, value:
                  @client.hmis_id, class: "text-base sm:text-lg md:text-xl p-2
                  md:p-3 w-full text-sm border border-gray-300
                  focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0
                  focus:ring-3 rounded" %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
      <!-- <div class="mt-8 flex flex-col md:flex-row gap-4"> -->
      <div class="mt-8 md:mt-16 border border-gray-500 rounded-lg">
        <div class="bg-gray-200 p-3 sm:p-5 md:p-8 leading-snug text-base sm:text-lg md:text-xl md:text-center">
          The following section only pertains to the client's family members/household.
        </div>
        <div class="p-4 md:p-6 lg:p-8">
          <div class="space-y-4 md:space-y-8">
            <%= react_component('FamilyMembers', sub_questions: {
              first_name: Intake::FIRST_NAME.to_h,
              last_name: Intake::LAST_NAME.to_h,
              relationship: Intake::RELATIONSHIP.to_h,
              date_of_birth: Intake::DATE_OF_BIRTH.to_h,
              gender: Intake::GENDER.to_h,
              race: Intake::RACE.to_h,
              ethnicity: Intake::ETHNICITY.to_h,
              veteran: Intake::VETERAN.to_h,
              disabling_condition: Intake::DISABLING_CONDITION.to_h
            }) %>
          </div>
        </div>
      </div>
      <div class="mt-8 md:mt-16 px-2 md:px-12 space-y-4 md:space-y-8 text-gray-700">
        <div>
          <% question = Intake::HOUSEHOLD_TANF %>
          <%= react_component('Toggle', 
            question: question.to_h,
            name: "intake[household_tanf]",
            checked: @intake.household_tanf
          ) %>
        </div>
        <div>
          <% question = Intake::HOMELESSNESS_FIRST_TIME %>
          <%= react_component('Toggle', 
          question: question.to_h,
          id: "homelessness_first_time",
          checked: @intake.homelessness_first_time
        ) %>
        </div>
        <div>
          <% question = Intake::HOMELESSNESS_DATE_BEGAN %>
          <%= form.label question.key, question.text, class: "p-1 block leading-normal font-semibold text-sm sm:text-base md:text-xl text-gray-600" %>
          <%= form.date_field question.key,
        value: Date.current - 1.year,
        required: true,
        class: "mt-2 block w-full text-base sm:text-lg 
          border-gray-300 focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0 focus:ring-3
          rounded-md"
        %>
        </div>
        <div>
          <% question = Intake::HOMELESSNESS_HOW_LONG_THIS_TIME %>
          <%= form.label question.key, question.text, class: "p-1 block leading-normal font-semibold text-sm sm:text-base md:text-xl text-gray-600" %>
          <div class="mt-2 p-2 bg-white border border-gray-200 rounded-lg shadow-sm">
            <ul class="flex flex-col w-full space-y-2">
              <% question.choices.each do |choice| %>
                <li class="p-1 flex items-center">
                  <%= form.radio_button question.key, choice,
                required: true,
                checked: @intake.homelessness_how_long_this_time == choice,
                class: "w-5 h-5
                text-sm text-indigo-600 
                border-gray-300 focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0 focus:ring-3"
              %>
                  <%= form.label "#{question.key}_#{to_htmlfor(choice)}", choice, class: "ml-4 text-sm sm:text-base md:text-lg" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div>
          <% question = Intake::HOMELESSNESS_EPISODES_LAST_THREE_YEARS %>
          <%= form.label question.key, question.text, class: "p-1 block leading-normal font-semibold text-sm sm:text-base md:text-xl text-gray-600" %>
          <%= form.select question.key, options_for_select(
          Intake::HOMELESSNESS_EPISODES_LAST_THREE_YEARS.choices, 
          @intake.homelessness_episodes_last_three_years || ''
        ),
        {include_blank: ''},
        required: true,
        class: "mt-2 block w-full text-base sm:text-lg rounded-md
        border-gray-300 focus:border-indigo-500 focus:ring-indigo-200
        focus:ring-offset-0 focus:ring-3"
      %>
        </div>
        <div>
          <% question = Intake::HOMELESSNESS_TOTAL_LAST_THREE_YEARS %>
          <%= form.label question.key, question.text, class: "p-1 block leading-normal font-semibold text-sm sm:text-base md:text-xl text-gray-600" %>
          <%= form.select question.key, options_for_select(
          Intake::HOMELESSNESS_TOTAL_LAST_THREE_YEARS.choices, 
          @intake.homelessness_total_last_three_years || ''
        ),
        {include_blank: ''},
        required: true,
        class: "mt-2 block w-full text-base sm:text-lg rounded-md
        border-gray-300 focus:border-indigo-500 focus:ring-indigo-200
        focus:ring-offset-0 focus:ring-3"
      %>
        </div>
        <div>
          <% question = Intake::LAST_PERMANENT_RESIDENCE_COUNTY %>
          <%= form.label question.key, question.text, class: "p-1 block leading-normal font-semibold text-sm sm:text-base md:text-xl text-gray-600" %>
          <%= form.text_field question.key,
          value: @intake.last_permanent_residence_county,
          placeholder: question.placeholder,
          required: true,
          class: "mt-2 block w-full text-base sm:text-lg border-gray-300 placeholder-gray-300
          focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0
          focus:ring-3 rounded-md"
        %>
        </div>
        <div>
          <% question = Intake::HEALTH_INSURANCE %>
          <%= form.label question.key, question.text, class: "p-1 block leading-normal font-semibold text-sm sm:text-base md:text-xl text-gray-600" %>
          <%= form.select question.key, options_for_select(
          Intake::HEALTH_INSURANCE.choices, 
          @intake.health_insurance || ''
        ),
        {include_blank: ''},
        required: true,
        class: "mt-2 block w-full text-base sm:text-lg rounded-md
        border-gray-300 focus:border-indigo-500 focus:ring-indigo-200
        focus:ring-offset-0 focus:ring-3"
      %>
        </div>
        <div>
          <% question = Intake::ARE_YOU_WORKING %>
          <%= form.label question.key, question.text, class: "pl-1 block leading-snug font-semibold text-sm sm:text-base md:text-xl" %>
          <%= form.select question.key, options_for_select(
          Intake::ARE_YOU_WORKING.choices, 
          @intake.are_you_working || ''
        ),
        {include_blank: ''},
        required: true,
        class: "mt-2 block w-full text-base sm:text-lg rounded-md
        border-gray-300 focus:border-indigo-500 focus:ring-indigo-200
        focus:ring-offset-0 focus:ring-3"
      %>
        </div>
        <div>
          <% question = Intake::NON_CASH_BENEFITS %>
          <%= form.label question.key, question.text, class: "pl-1 block leading-snug font-semibold text-sm sm:text-base md:text-xl" %>
          <div class="mt-2 p-2 bg-white border border-gray-200 rounded-lg shadow-sm">
            <ul id="<%= "#{question.key}_list" %>" class="flex flex-1 flex-col w-full space-y-2">
              <% question.choices.each do |choice| %>
                <li class="p-1 flex items-center">
                  <%= form.check_box question.key, { 
                  multiple: true, 
                  checked: choice.in?(@intake.non_cash_benefits || []),
                  class: "w-5 h-5 rounded text-sm text-indigo-600
                  border-gray-300 focus:border-indigo-500
                  focus:ring-indigo-200 focus:ring-offset-0 focus:ring-3"
                },
                choice
              %>
                  <%= form.label "#{question.key}_#{to_htmlfor(choice)}", choice, class: "ml-4 text-sm sm:text-base md:text-lg" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div>
          <% question = Intake::INCOME_SOURCE %>
          <%= react_component('IncomeSourceToggle', 
            question: question.to_h,
            name: "intake[#{question.key}]",
            checked: @intake.income_source_any
          ) %>
        </div>
        <div>
          <% question = Intake::VETERAN %>
          <%= react_component('VeteranToggle', 
            question: question.to_h,
            name: "intake[client_attributes][#{question.key}]",
            checked: @client.veteran,
            sub_questions: {
              veteran_military_branch: Intake::VETERAN_MILITARY_BRANCH.to_h, 
              veteran_separation_year: Intake::VETERAN_SEPARATION_YEAR.to_h,
              veteran_discharge_status: Intake::VETERAN_DISCHARGE_STATUS.to_h
            }
          ) %>
        </div>
        <div>
          <% question = Intake::ACTIVE_DUTY %>
          <%= react_component('Toggle',
          question: question.to_h,
          name: "intake[#{question.key}]",
          checked: @intake.active_duty
        ) %>
        </div>
        <div>
          <% question = Intake::SUBSTANCE_MISUSE %>
          <%= form.label question.key, question.text, class: "pl-1 block leading-snug font-semibold text-sm sm:text-base md:text-xl" %>
          <%= form.select question.key, options_for_select(
          Intake::SUBSTANCE_MISUSE.choices, 
          @intake.substance_misuse || ''
        ),
        {include_blank: ''},
        required: true,
        class: "mt-2 block w-full text-base sm:text-lg rounded-md
        border-gray-300 focus:border-indigo-500 focus:ring-indigo-200
        focus:ring-offset-0 focus:ring-3"
      %>
        </div>
      </div>
      <div class="mt-8 md:mt-16 border border-gray-500 rounded-lg">
        <div class="bg-gray-200 p-3 sm:p-5 md:p-12 leading-snug text-base sm:text-lg md:text-xl md:text-center">
          For the following section, only select ‘yes’ when the condition is a long-term impairment.
        </div>
        <div class="p-4 md:p-6 lg:p-8">
          <div class="space-y-4 md:space-y-8">
            <div>
              <% question = Intake::CHRONIC_HEALTH_CONDITION %>
              <%= react_component('Toggle',
                question: question.to_h,
                name: "intake[#{question.key}]",
                checked: @intake.chronic_health_condition
              ) %>
            </div>
            <div>
              <% question = Intake::MENTAL_HEALTH_DISABILITY %>
              <%= react_component('Toggle',
                question: question.to_h,
                name: "intake[#{question.key}]",
                checked: @intake.mental_health_disability
              ) %>
            </div>
            <div>
              <% question = Intake::PHYSICAL_DISABILITY %>
              <%= react_component('Toggle',
                question: question.to_h,
                name: "intake[#{question.key}]",
                checked: @intake.physical_disability
              ) %>
            </div>
            <div>
              <% question = Intake::DEVELOPMENTAL_DISABILITY %>
              <%= react_component('Toggle',
                question: question.to_h,
                name: "intake[#{question.key}]",
                checked: @intake.developmental_disability
              ) %>
            </div>
            <div>
              <% question = Intake::FLEEING_DOMESTIC_VIOLENCE %>
              <%= react_component('Toggle',
                question: question.to_h,
                name: "intake[#{question.key}]",
                checked: @intake.fleeing_domestic_violence
              ) %>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center p-16">
        <input type="submit" name="commit" value="Submit Intake" class="
          mt-4 px-3 md:px-4 py-2 md:py-3 inline-flex items-center
          border border-transparent bg-indigo-600 hover:bg-indigo-700 
          focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
          text-white text-lg sm:text-xl md:text-3xl leading-4 font-semibold tracking-wide
          rounded-lg shadow-sm cursor-pointer" 
    />
      </div>
    <% end %>
  </div>
  <%= javascript_pack_tag "intake_form" %>
