<<<<<<< HEAD
<header class="p-6 w-full flex items-center justify-between md:px-24">
  <span class="font-semibold text-5xl md:text-2xl">
   <%= link_to'swapp', root_path %>
  </span>
  <% if user_signed_in? %>
    <ul class="list-none flex space-x-3 justify-end text-3xl md:text-2xl">
        <span class="text-gray-500 tracking-tight"><%= current_user.email %></span>
        <% if current_user.admin_user? %>
          <%= link_to 'admin', admin_home_path, class: "link"  %>
        <% end %>
        <%= link_to 'logout', destroy_user_session_path, method: :delete, class: "link" %>
      <% end %>
    </ul>
</header>
=======
<%= react_component("Nav", user: current_user) %>
>>>>>>> 81f1f12cb6be2f93e4bdb0be295d2865f63f0c8e
