<!DOCTYPE html>
<html>
  <head>
    <title>Swapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<<<<<<< HEAD
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-gray-50 overscroll-x-hidden font-sans">
=======
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap" rel="stylesheet">
  </head>
  <body class="bg-gray-50 overscroll-x-hidden">
>>>>>>> 81f1f12cb6be2f93e4bdb0be295d2865f63f0c8e
    <%= render partial: 'shared/test_environment' %>
    <%= render partial: 'layouts/header' %>
    <div class="min-h-screen">
      <%= yield %>
    </div>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
