<!DOCTYPE html>
<html>
  <head>
    <title>Swapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body class="min-h-screen bg-gray-100 overscroll-x-contain px-4">
    <div class="lg:container lg:mx-auto">
      <%= render partial: 'layouts/header' %>
      <%= yield %>
    </div>
  </body>
</html>
