<!DOCTYPE html>
<html>
  <head>
    <title>Swapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
    </style>

  </head>
  <body class="bg-gray-100 overscroll-x-contain font-sans">
    <%= render partial: 'layouts/header' %>
    <div class="min-h-screen">
      <%= yield %>
    </div>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
