<!DOCTYPE html>
<html>
  <head>
    <title>Swapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet">
  </head>
  <body class="bg-gray-50 overscroll-x-hidden">
    <%= render partial: 'shared/test_environment' %>
    <%= render partial: 'layouts/header' %>
    <div class="min-h-screen">
      <%= yield %>
    </div>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
