<%= form_with(model: @voucher, local: true) do |form| %>


  <% if @voucher.errors.any? %>
    <% @voucher.errors.full_messages.each do |message| %>
      <li class="text-6xl"><%= message %></li>
    <% end %>
  <% end %>

  <%= form.fields_for :intake, @intake do |intake_attributes| %>
    <div class="mt-16 text-6xl">
      <div class="text-gray-700">
        <% question = Intake::SLEEP_LAST_NIGHT %>
        <%= intake_attributes.label "intake[survey][#{question.key}]", question.text,
          class: "block leading-tight font-semibold"  %>
        <ul class="p-4 flex flex-1 flex-col space-y-12 p-12 text-6xl">
          <% question.choices.each do |choice| %>
            <li>
              <%= form.label "intake[survey][#{question.key}]_#{to_htmlfor(choice)}", choice %>
              <%= form.radio_button "intake[survey][#{question.key}]", 
                choice, 
                class: "h-10 w-10 text-indigo-600",
                checked: @intake.survey.dig(question.key) == choice %>
            </li>
          <% end %>
          <li class="flex flex-1 items-center relative">
            <div class="absolute inset-y-0 left-8 flex items-center pointer-events-none">
              <span class="text-gray-500 text-5xl">
                Other:
              </span>
            </div>
            <%= form.text_field "intake[survey][#{question.key}]_other",
              value: @intake.survey.dig(question.key)&.starts_with?("Other:") && @intake.survey[question.key],
              class: "flex-1 focus:ring-indigo-500 focus:border-indigo-500 block mr-8 pl-48 py-6 border-gray-300 rounded-lg text-5xl"
            %>
          <%= form.radio_button "intake[survey][#{question.key}]",
            "other_radio",
            checked: @intake.survey.dig(question.key)&.starts_with?("Other:"),
            class: "h-10 w-10 text-indigo-600"
          %>
          </li>
        </ul>
      </div>
      <!-- 
        - [ ]  Where did you sleep last night?
        - [ ]  Why have you not accessed shelter?
        - [ ]  Has your household composition changed?
      -->
    </div>
  <% end %>

    <div class="mt-16 bg-white border-8 border-black text-5xl">
      <section class="p-16 border-b-8 border-gray-400 border-dashed">
        <div class="flex flex-1 justify-between">
          <strong>Voucher #</strong>
          <p>TBD</p>
        </div>
        <div class="mt-12 flex flex-1 justify-between">
          <strong>Holder</strong>
          <p><%= @client.name %></p>
        </div>
      </section>
      <section class="p-16 border-b-8 border-gray-400 border-dashed flex flex-1 space-x-16">
        <div class="w-full">
          <strong>Check In</strong>
          <%= form.date_field :check_in, 
            value: [@swap.start_date, Date.current].max, 
            min: [@swap.start_date, Date.current].max,
            max: @swap.end_date - 1,
            required: true,
            class: "mt-8 w-full bg-white rounded-lg p-2 text-5xl" %>
        </div>
        <div class="w-full">
          <strong>Check Out</strong>
          <%= form.date_field :check_out, 
            value: @swap.end_date,
            min: [@swap.end_date, Date.current].min,
            max: @swap.end_date,
            required: true,
            class: "mt-8 w-full bg-white rounded-lg p-2 text-5xl" %>
            </p>
        </div>
      </section>
      <section class="p-16">
        <div class="field w-full">
          <%= form.label "motel_id", "Hotel (vouchers remaining)", class: "font-bold block leading-relaxed" %>
          <%= form.select "motel_id", 
            options_for_select(@motels, disabled: @disabled),
            {include_blank: true},
            class: "mt-4 w-full rounded-lg p-8 text-6xl",
            required: true %>
        </div>
      </section>
    </div>
    <div class="p-12 text-5xl">
      <%= form.fields_for :client, @client do |client_attributes| %>
        <%= hidden_field :client_id, :client_id %>
        <div class="field w-full">
          <%= client_attributes.label :phone_number, "Phone Number (optional)", class: "block leading-relaxed"  %>
          <%= client_attributes.telephone_field :phone_number, 
            class: "w-full rounded-lg p-8 text-6xl" %>
        </div>
        <div class="mt-12 field w-full">
          <%= client_attributes.label :email, "Email (optional)", class: "block leading-relaxed"  %>
          <%= client_attributes.email_field :email, 
            class: "w-full rounded-lg p-8 text-6xl" %>
        </div>
      <% end %>
    </div>
    <div class="actions p-12">
      <%= form.submit 'Create', class: 'w-full btn btn-blue h-32 text-6xl' %>
    </div>
  <% end %>

  <%= javascript_pack_tag 'voucher_form' %>
