  <%= form_with(model: @voucher, local: true) do |form| %>
  <%= hidden_field :client, :id %>
  <div class="mt-16 bg-white border-8 border-black text-5xl">
    <section class="p-16 border-b-8 border-gray-400 border-dashed">
      <div class="flex flex-1 justify-between">
        <strong>Voucher #</strong>
        <p>TBD</p>
      </div>
      <div class="mt-12 flex flex-1 justify-between">
        <strong>Holder</strong>
        <p><%= @client.name %></p>
      </div>
    </section>
    <section class="p-16 border-b-8 border-gray-400 border-dashed flex flex-1 space-x-16">
      <div class="w-full">
        <strong>Check In</strong>
        <p class="mt-8">
          <div class="field w-full">
            <%= form.date_select :check_in, {
            use_short_month: true,
            order: [:month, :day],
          },
          class: "w-full bg-white rounded-lg border border-gray-300 pl-4 py-6", required: true %>
          </div>
        </p>
      </div>
      <div class="w-full">
        <strong>Check Out</strong>
        <p class="mt-8">
          <div class="field w-full">
            <%= form.date_select :check_out, {
            use_short_month: true,
            order: [:month, :day],
          },
          class: "w-full bg-white rounded-lg border border-gray-300 pl-4 py-6", required: true %>
          </div>
        </p>
      </div>
    </section>
    <section class="p-16">
      <div class="field w-full">
        <%= form.label "motel_id", "Hotel", class: "font-bold block leading-relaxed" %>
        <%= form.select "motel_id",
        options_from_collection_for_select(@motels, 'id', 'name'), 
          {include_blank: true},
          class: "bg-white rounded-lg border border-gray-300 w-full p-6", required: true %>
      </div>
    </section>
  </div>
  <div class="p-12 text-5xl">
    <div class="field w-full">
      <%= form.label :phone_number, "Phone Number (optional)", class: "block leading-relaxed"  %>
      <%= form.telephone_field :phone_number, class: "w-full border border-gray-300 p-6" %>
    </div>
    <div class="mt-12 field w-full">
      <%= form.label :email, "Email (optional)", class: "block leading-relaxed"  %>
      <%= form.email_field :email, class: "w-full border border-gray-300 p-6" %>
    </div>
  </div>
  <div class="actions p-12">
    <%= form.submit 'Create', class: 'w-full btn btn-blue h-32 text-6xl' %>
  </div>
<% end %>
