<%= form_with(model: @voucher, local: true) do |form| %>
  <div class="mt-4 md:mt-12 px-2 md:px-6 md:w-11/12 mx-auto">
    <% if @voucher.errors.any? %>
      <% @voucher.errors.full_messages.each do |message| %>
        <li class=""><%= message %></li>
      <% end %>
    <% end %>
  </div>

  <div class="mt-8 md:mt-12 px-2 md:px-6 md:w-11/12 mx-auto space-y-4 sm:space-y-6 md:space-y-8">
    <%= form.fields_for :short_intake, @short_intake do |short_intake_form| %>
      <div>
        <% question = Intake::SLEEP_LAST_NIGHT %>
        <%= short_intake_form.label question.key, question.text, class: "block leading-tight font-semibold text-base sm:text-lg md:text-xl" %>
        <div class="mt-2 sm:mt-3 md:mt-4 p-2 sm:p-3 md:p-4 bg-white rounded shadow">
          <div class="grid grid-cols-1 md:grid-cols-2 space-y-2 sm:space-y-3 md:space-y-4">
            <% question.choices.each do |choice| %>
              <div class="flex items-center gap-2 md:gap-3">
                <%= short_intake_form.radio_button question.key, choice,
                  class: "h-5 md:h-6 w-5 md:w-6 text-indigo-600",
                  checked: @short_intake.where_did_you_sleep_last_night,
                  required: true
                %>
                <%= short_intake_form.label to_radio_htmlfor(question.key, choice), choice, class: "text-base sm:text-lg md:text-xl" %>
              </div>
            <% end %>
          </div>
          <div class="mt-2 sm:mt-3 md:mt-4 flex items-center gap-2">
            <%= short_intake_form.radio_button question.key, "other_radio",
              id: "#{question.key}_other_radio",
              class: "h-5 md:h-6 w-5 md:w-6 text-indigo-600"
            %> 
            <label for="where_did_you_sleep_last_night_other_radio" class="text-base sm:text-lg md:text-xl">
              Other:
            </label>
            <%= short_intake_form.text_field question.key,
              value: @short_intake&.where_did_you_sleep_last_night&.starts_with?("Other:") && @short_intake&.where_did_you_sleep_last_night,
              name: "",
              id: "#{question.key}_other_text_field",
              class: "w-full p-1 md:p-2 flex-1 focus:ring-indigo-500 focus:border-indigo-500 text-base sm:text-lg md:text-xl border-gray-300 rounded"
            %>
          </div>
        </div>
      </div>

      <div>
        <% question = Intake::CITY_LAST_NIGHT %>
        <%= short_intake_form.label question.key, question.text, class: "block leading-tight font-semibold text-base sm:text-lg md:text-xl" %>
        <div class="mt-2 sm:mt-3 md:mt-4">
          <%= short_intake_form.text_field question.key,
            size: 23, 
            value: @short_intake&.what_city_did_you_sleep_in_last_night,
            required: true,
            class: "w-full p-2 md:p-2 text-base sm:text-lg md:text-xl border border-gray-300 rounded"
          %>
        </div>
      </div>

      <div>
        <% question = Intake::WHY_NOT_SHELTER %>
        <%= short_intake_form.label question.key, question.text, class: "block leading-tight font-semibold text-base sm:text-lg md:text-xl" %>
        <div class="mt-2 sm:mt-3 md:mt-4 p-2 sm:p-3 md:p-4 bg-white rounded shadow">
          <div class="grid grid-cols-1 md:grid-cols-2 space-y-2 sm:space-y-3 md:space-y-4">
            <% question.choices.each do |reason| %>
              <div class="flex items-center gap-2 md:gap-3">
                <%= short_intake_form.check_box question.key, { 
                    multiple: true, 
                    class: "h-4 w-4 md:h-5 md:w-5 text-indigo-600 rounded border border-gray-300 focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0 focus:ring-3"
                  },
                  reason, 
                  nil
                %>
                <%= short_intake_form.label "#{question.key}_#{to_htmlfor(reason)}", reason, class: "text-base sm:text-lg md:text-xl" %>
              </div>
            <% end %>
          </div>
          <div class="mt-2 sm:mt-3 md:mt-4 flex items-center gap-2">
            <% other_checked = @short_intake.why_not_shelter&.find {|r| r.starts_with?("Other:") } %>
            <%= short_intake_form.check_box question.key, 
              {
                multiple: true, 
                id: "why_not_shelter_other_checkbox",
                checked: other_checked,
                value: other_checked && @short_intake.why_not_shelter,
                class: "h-4 w-4 md:h-5 md:w-5 text-indigo-600 rounded border border-gray-300 focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0 focus:ring-3"
              },
              "other_checkbox"
            %>
            <label for="why_not_shelter_other_checkbox" class="text-base sm:text-lg md:text-xl">
              Other:
            </label>
            <input type="text" 
              value="<%= other_checked %>"
              id="<%= "#{question.key}_other_text_field" %>"
              class="w-full p-1 md:p-2 flex-1 focus:ring-indigo-500 focus:border-indigo-500 text-base sm:text-lg md:text-xl border-gray-300 rounded">
          </div>
        </div>
      </div>

      <div>
        <% question = Intake::PETS %>
        <%= short_intake_form.label question.key, question.text, class: "block leading-tight font-semibold text-base sm:text-lg md:text-xl" %>
        <div class="mt-2 sm:mt-3 md:mt-4 p-2 sm:p-3 md:p-4 bg-white rounded shadow">
          <div class="grid grid-cols-1 md:grid-cols-2 space-y-2 sm:space-y-3 md:space-y-4">
            <% question.choices.each do |choice| %>
              <div class="flex items-center gap-2 md:gap-3">
                <%= short_intake_form.radio_button question.key, choice,
                  class: "h-5 md:h-6 w-5 md:w-6 text-indigo-600",
                  checked: @short_intake.pets,
                  required: true
                %>
                <%= short_intake_form.label to_radio_htmlfor(question.key, choice), choice, class: "text-base sm:text-lg md:text-xl" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div>
        <% question = Intake::VEHICLE %>
        <%= react_component('Toggle',
          question: question.to_h,
          name: "voucher[short_intake][#{question.key}]",
          checked: @short_intake.vehicle
        ) %>
      </div>

      <div>
        <% question = Intake::IDENTIFICATION %>
        <%= short_intake_form.label question.key, question.text, class: "block leading-tight font-semibold text-base sm:text-lg md:text-xl" %>
        <div class="mt-2 sm:mt-3 md:mt-4 p-2 sm:p-3 md:p-4 bg-white rounded shadow">
          <div class="grid grid-cols-1 md:grid-cols-2 space-y-2 sm:space-y-3 md:space-y-4">
            <% question.choices.each do |choice| %>
              <div class="flex items-center gap-2 md:gap-3">
                <%= short_intake_form.radio_button question.key, choice,
                  class: "h-5 md:h-6 w-5 md:w-6 text-indigo-600",
                  checked: @short_intake.identification,
                  required: true
                %>
                <%= short_intake_form.label to_radio_htmlfor(question.key, choice), choice, class: "text-base sm:text-lg md:text-xl" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-8 md:mt-12 px-2 md:px-6 md:w-11/12 mx-auto">
      <div>
        <p class="text-base sm:text-lg md:text-xl font-semibold">Change check in / check out dates?</p>
        <p class="text-base sm:text-lg text-gray-700">Select later check-in or earlier check-out, if the client wishes.</p>
      </div>

      <div class="mt-4 flex flex-col md:flex-row gap-4">
        <div class="w-full">
          <label class="font-semibold text-base sm:text-lg md:text-xl">Check In</label>
          <%= form.date_field :check_in, 
            value: [@swap.start_date, Date.current].max, 
            min: [@swap.start_date, Date.current].max,
            max: @swap.end_date - 1,
            required: true,
            class: "w-full bg-white rounded text-base sm:text-lg md:text-xl border border-gray-300" %>
        </div>

        <div class="w-full">
          <label class="font-semibold text-base sm:text-lg md:text-xl">Check Out</label>
          <%= form.date_field :check_out, 
            value: @swap.end_date,
            min: [@swap.end_date, Date.current].min,
            max: @swap.end_date,
            required: true,
            class: "w-full bg-white rounded text-base sm:text-lg md:text-xl border border-gray-300" %>
        </div>
      </div>

      <div class="mt-8 md:mt-12 ">
        <div>
          <p class="text-base sm:text-lg md:text-xl font-semibold">Choose hotel</p>
          <p class="text-base sm:text-lg text-gray-700">
            Select the hotel the client wishes to stay at. Hotels may not be selectable if they are not participating for this activation, have run out of vouchers, or the client is ineligible to stay.
          </p>
        </div>

        <div class="mt-4">
          <%= form.label "hotel_id", "Hotel (number of vouchers left)", class: "text-sm sm:text-base md:text-lg font-semibold block leading-relaxed" %>
          <%= form.select "hotel_id", 
            options_for_select(@hotels, disabled: @disabled),
            {include_blank: true},
            required: true ,
            class: "w-full bg-white rounded text-base sm:text-lg md:text-xl border border-gray-300" %>
        </div>
      </div>

      <!-- guestshere -->
      <div class="mt-8 md:mt-12 ">
        <div>
          <p class="text-base sm:text-lg md:text-xl font-semibold">Guests</p>
          <p class="text-base sm:text-lg text-gray-700">
            Clients are allowed to bring up to a maximum of X guests. Try to avoid
            adding more than 2 guests per voucher.
          </p>
        </div>
        <div id="guests-form-container" class="mt-2 w-full">
          <%= react_component("GuestsForm", client: @client, prior_guests: @client.prior_guests) %>
        </div>
      </div>

      <div class="mt-8 md:mt-12 ">
        <div>
          <p class="text-base sm:text-lg md:text-xl font-semibold">Collect contact info</p>
          <p class="text-base sm:text-lg text-gray-700">
            Your client can receive voucher details via text/sms or email if they desire.
          </p>
          <p class="text-base sm:text-lg text-gray-700">
            If pre-filled, verify with the client that these are correct.
          </p>
        </div>
        <div class="mt-4">
          <%= form.fields_for :client, @client do |client_form| %>
            <%= client_form.hidden_field :id, value: @client.id %>

            <div class="flex flex-col md:flex-row gap-4">
              <div class="w-full">
                <%= client_form.label :phone_number, "Phone Number (optional)", class: "text-sm sm:text-base md:text-lg font-semibold block leading-relaxed"  %>
                <%= client_form.telephone_field :phone_number, class: "p-2 w-full bg-white rounded text-base sm:text-lg md:text-xl border border-gray-300" %>
              </div>

              <div class="w-full">
                <%= client_form.label :email, "Email (optional)", class: "text-sm sm:text-base md:text-lg font-semibold block leading-relaxed"  %>
                <%= client_form.email_field :email, class: "w-full bg-white rounded text-base sm:text-lg md:text-xl border border-gray-300" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="mt-8 md:mt-12 py-4 bg-gray-200 text-center text-base sm:text-lg md:text-xl font-semibold tracking-wide">
      INTERNAL USE BELOW
    </div>

    <div class="my-8 md:my-12 px-2 md:px-0 md:max-w-lg mx-auto space-y-2 sm:space-y-4 md:space-y-6">
      <div>
        <% question = Intake::BUS_PASS %>
        <%= react_component('Toggle', 
          question: question.to_h,
          name: "voucher[short_intake][bus_pass]"
        ) %>
      </div>

      <div>
        <% question = Intake::KING_SOOPERS_CARD %>
        <%= react_component('Toggle', 
          question: question.to_h,
          name: "voucher[short_intake][king_soopers_card]"
        ) %>
      </div>
    </div>
  <% end %> <!-- end short intake form -->

  <div class="my-8 md:my-12 flex justify-center">
    <%= form.submit "Create Voucher", class: "px-4 py-2 bg-indigo-600 hover:bg-indigo-700 text-lg sm:text-xl md:text-3xl text-white font-semibold rounded" %>
  </div>
<% end %> <!-- end voucher form -->
