<%= form_with(model: @voucher, local: true) do |form| %>
<<<<<<< HEAD
  <% if @voucher.errors.any? %>
    <% @voucher.errors.full_messages.each do |message| %>
      <li class="text-6xl"><%= message %></li>
    <% end %>
  <% end %>

  <div class="mt-16 text-6xl">
    <div >
      <%= form.fields_for :short_intake, @short_intake do |short_intake_form| %>
        <% question = Intake::SLEEP_LAST_NIGHT %>
        <%= short_intake_form.label question.key, question.text,
          class: "block leading-tight font-semibold"  %>
        <ul class="flex flex-1 flex-col space-y-12 p-12 text-6xl">
          <% question.choices.each do |choice| %>
            <li>
              <label>
                <%= choice %>
                <%= short_intake_form.radio_button question.key, choice,
                  class: "h-10 w-10 mr-8",
                  checked: @short_intake.where_did_you_sleep_last_night,
                  required: true
                %>
              </label>
            </li>
          <% end %>
          <li class="flex flex-1 items-center relative">
            <div class="absolute inset-y-0 left-8 flex items-center pointer-events-none">
              <span class="text-gray-500 text-5xl">
                Other:
              </span>
            </div>
=======
  <div class="mt-4 md:mt-12 px-2 md:px-6 md:w-11/12 mx-auto">
    <% if @voucher.errors.any? %>
      <% @voucher.errors.full_messages.each do |message| %>
        <li class=""><%= message %></li>
      <% end %>
    <% end %>
  </div>

  <div class="mt-8 md:mt-12 px-2 md:px-6 md:w-11/12 mx-auto space-y-4 sm:space-y-6 md:space-y-8">
    <%= form.fields_for :short_intake, @short_intake do |short_intake_form| %>
      <div>
        <% question = Intake::SLEEP_LAST_NIGHT %>
        <%= short_intake_form.label question.key, question.text, class: "block leading-tight font-semibold text-base sm:text-lg md:text-xl" %>
        <div class="mt-2 sm:mt-3 md:mt-4 p-2 sm:p-3 md:p-4 bg-white rounded shadow">
          <div class="grid grid-cols-1 md:grid-cols-2 space-y-2 sm:space-y-3 md:space-y-4">
            <% question.choices.each do |choice| %>
              <div class="flex items-center gap-2 md:gap-3">
                <%= short_intake_form.radio_button question.key, choice,
                  class: "h-5 md:h-6 w-5 md:w-6 text-indigo-600",
                  checked: @short_intake.where_did_you_sleep_last_night,
                  required: true
                %>
                <%= short_intake_form.label to_radio_htmlfor(question.key, choice), choice, class: "text-base sm:text-lg md:text-xl" %>
              </div>
            <% end %>
          </div>
          <div class="mt-2 sm:mt-3 md:mt-4 flex items-center gap-2">
            <%= short_intake_form.radio_button question.key, "other_radio",
              id: "#{question.key}_other_radio",
              class: "h-5 md:h-6 w-5 md:w-6 text-indigo-600"
            %> 
            <label for="where_did_you_sleep_last_night_other_radio" class="text-base sm:text-lg md:text-xl">
              Other:
            </label>
>>>>>>> 81f1f12cb6be2f93e4bdb0be295d2865f63f0c8e
            <%= short_intake_form.text_field question.key,
              value: @short_intake&.where_did_you_sleep_last_night&.starts_with?("Other:") && @short_intake&.where_did_you_sleep_last_night,
              name: "",
              id: "#{question.key}_other_text_field",
<<<<<<< HEAD
              class: "flex-1 focus:ring-indigo-500 focus:border-indigo-500 block mr-6 pl-48 py-6 border-gray-300 rounded-lg text-5xl"
            %>
            <%= short_intake_form.radio_button question.key,
              "other_radio",
              id: "#{question.key}_other_radio",
              class: "h-10 w-10 text-indigo-600"
            %>
          </li>
        </ul>
    </div>

    <div class="mt-16 text-gray-700">
      <% question = Intake::CITY_LAST_NIGHT %>
      <%= short_intake_form.label question.key, question.text,
        class: "block leading-snug font-semibold"
      %>
    <%= short_intake_form.text_field question.key,
      size: 23, 
      value: @short_intake&.what_city_did_you_sleep_in_last_night,
      required: true,
      class: "mt-4 w-full rounded-lg p-8 text-6xl"
    %>
    </div>

    <div class="mt-16 text-gray-700">
      <% question = Intake::WHY_NOT_SHELTER %>
      <%= short_intake_form.label question.key, question.text, 
        class: "block leading-tight font-semibold" %>
      <ul class="flex flex-1 flex-col w-full space-y-12 p-12 text-6xl">
        <% question.choices.each do |reason| %>
          <li class="flex flex-1 space-x-10 items-baseline">
            <%= short_intake_form.check_box question.key, 
              {
              multiple: true,
              class: "w-11 h-11 text-indigo-600"
            },
            reason, 
            nil
          %>
        <%= short_intake_form.label question.key, reason %>
          </li>
        <% end %>
        <li class="flex flex-1 items-center relative">
          <div class="absolute inset-y-0 left-28 flex items-center pointer-events-none">
            <span class="text-gray-500 text-5xl">
              Other:
            </span>
          </div>
          <% other_checked = @short_intake.why_not_shelter&.find {|r| r.starts_with?("Other:") } %>
          <%= short_intake_form.check_box question.key, 
            {
            multiple: true, 
            id: "why_not_shelter_other_checkbox",
            checked: other_checked,
            value: other_checked && @short_intake.why_not_shelter,
            class: "w-11 h-11 mr-10 text-indigo-600"
          },
          "other_checkbox"
        %>
      <input type="text" 
             value="<%= other_checked %>"
             id="<%= "#{question.key}_other_text_field" %>"
             class="w-full focus:ring-indigo-500 focus:border-indigo-500 block
             pl-44 py-6 border-gray-300 rounded-lg text-5xl">
        </li>
      </ul>
    </div>

    <div class="mt-16 w-full text-gray-700">
      <% if !@previous_short_intakes.present? %>
        <p class="block leading-tight font-semibold">
          Has your household composition changed?
        </p>
        <div class="p-4 flex">
          <label class="household_composition_changed_yes">
            Yes
            <input type="radio" 
              class="w-8 h-8 mr-8 household_composition_changed_yes"
              name="household_composition_changed"
              required=true
              value="Yes">
          </label>
          <label class="household_composition_changed_no">
            No
            <input type="radio" 
              class="w-8 h-8 household_composition_changed_no"
              name="household_composition_changed"
              required=true
              value="No">
          </label>
        </div>
        <div id="family_members_container" class="hidden">
          <div id="family_members" class="mt-16"></div>
          <button type="button" id="add_family_member" class="btn btn-outline block rounded-lg text-center">
            + Add Family Member
          </button>
        </div>
      <% else %>
        <div id="family_members_container">
          <h3 class="text-6xl leading-6 font-medium text-gray-900">
            Family Members
          </h3>
          <p class="mt-8 text-5xl text-gray-500">
          If client has family currently with them, please add them below.
          </p>
          <div id="family_members" class="mt-16"></div>
          <button type="button" id="add_family_member" class="btn btn-outline block rounded-lg text-center">
            + Add Family Member
          </button>
        </div>
      <% end %>
    </div>

  </div>

  <div class="mt-16 bg-white border-8 border-black text-5xl">
    <section class="p-16 border-b-8 border-gray-400 border-dashed">
      <div class="flex flex-1 justify-between">
        <strong>Voucher #</strong>
        <p>TBD</p>
      </div>
      <div class="mt-12 flex flex-1 justify-between">
        <strong>Holder</strong>
        <p><%= @client.name %></p>
      </div>
    </section>
    <section class="p-16 border-b-8 border-gray-400 border-dashed flex flex-1 space-x-16">
      <div class="w-full">
        <strong>Check In</strong>
        <%= form.date_field :check_in, 
          value: [@swap.start_date, Date.current].max, 
          min: [@swap.start_date, Date.current].max,
          max: @swap.end_date - 1,
          required: true,
          class: "mt-8 w-full bg-white rounded-lg p-2 text-5xl" %>
      </div>

      <div class="w-full">
        <strong>Check Out</strong>
        <%= form.date_field :check_out, 
          value: @swap.end_date,
          min: [@swap.end_date, Date.current].min,
          max: @swap.end_date,
          required: true,
          class: "mt-8 w-full bg-white rounded-lg p-2 text-5xl" %>
          </p>
      </div>
    </section>

    <section class="p-16">
      <div class="field w-full">
        <%= form.label "hotel_id", "Hotel (vouchers remaining)", class: "font-bold block leading-relaxed" %>
        <%= form.select "hotel_id", 
          options_for_select(@hotels, disabled: @disabled),
          {include_blank: true},
          class: "mt-4 w-full rounded-lg p-8 text-6xl",
          required: true 
        %>
      </div>
    </section>
  </div>

  <%= form.fields_for :client, @client do |client_form| %>
    <%= client_form.hidden_field :id, value: @client.id %>

    <div class="p-12 text-6xl">
      <div class="field w-full">
        <%= client_form.label :phone_number, "Phone Number (optional)", class: "block leading-relaxed"  %>
        <%= client_form.telephone_field :phone_number, 
          class: "w-full rounded-lg p-8 text-6xl" %>
      </div>

      <div class="mt-12 field w-full">
        <%= client_form.label :email, "Email (optional)", class: "block leading-relaxed"  %>
        <%= client_form.email_field :email, 
          class: "w-full rounded-lg p-8 text-6xl" %>
      </div>
    </div>
  <% end %> <!-- end client_form -->

  <div class="mt-16 text-6xl">
    <h3 class="text-center leading-6 font-medium text-gray-500 uppercase tracking-wide">
      INTERNAL USE BELOW
    </h3>

    <div class="mt-16 w-full text-gray-700">
      <% question = Intake::NUM_ADULTS_HOUSEHOLD %>
      <%= form.label question.key, question.text,
        class: "block leading-relaxed font-semibold" %>
      <%= form.number_field question.key, 
        min: 0, step: 1, 
        class: "mt-4 rounded-lg w-full p-8 text-6xl", 
        value: @voucher.num_adults_in_household,
        required: true,
        placeholder: question.placeholder 
      %>
    </div>

    <div class="mt-16 w-full text-gray-700">
      <% question = Intake::NUM_CHILDREN_HOUSEHOLD %>
      <%= form.label question.key, question.text,
        class: "block leading-relaxed font-semibold" %>
      <%= form.number_field question.key, 
        min: 0, step: 1, 
        class: "mt-4 rounded-lg w-full p-8 text-6xl", 
        value: @voucher.num_children_in_household,
        required: true,
        placeholder: question.placeholder 
      %>
    </div>

    <div class="mt-16 text-gray-700">
      <% question = Intake::BUS_PASS %>
      <%= short_intake_form.label question.key, question.text,
        class: "block leading-snug font-semibold" %>
      <div class="p-4">
        <% question.choices.each do |choice| %>
          <%= short_intake_form.label question.key, choice %>
          <%= short_intake_form.radio_button question.key, choice == "Yes", 
            class: "h-10 w-10 mr-8",
            checked: @short_intake.bus_pass == choice,
            required: true
          %>
      <% end %>
      </div>
    </div>

    <div class="mt-16 text-gray-700">
      <% question = Intake::KING_SOOPERS_CARD %>
      <%= short_intake_form.label question.key, question.text,
        class: "block leading-snug font-semibold" %>
      <div class="p-4">
        <% question.choices.each do |choice| %>
          <%= short_intake_form.label question.key, choice %>
          <%= short_intake_form.radio_button question.key, choice == "Yes", 
            class: "h-10 w-10 mr-8",
            checked: @short_intake.king_soopers_card == choice,
            required: true
          %>
      <% end %>
      </div>
    </div>
  </div>
<% end %> <!-- end short_intake_form -->

<div class="actions p-12">
  <%= form.submit "Create", class: "w-full btn btn-blue h-32 text-6xl" %>
</div>
<% end %> <!-- end voucher form -->

<div id="template_family_member" class="hidden space-y-4 text-5xl my-12">
  <input 
  placeholder="Name"
  name="short_intake[family_members][replace][name]"
  class="p-4 w-full rounded-lg focus:ring-indigo-500 focus:border-indigo-500">

  <input
  placeholder="Relationship"
  name="short_intake[family_members][replace][relationship]"
  class="p-4 w-full rounded-lg focus:ring-indigo-500 focus:border-indigo-500">

  <div class="p-4 flex flex-1 justify-between items-center text-gray-700">
    <label for="short_intake[family_members][replace][date_of_birth]">
      Date of birth
    </label>
    <input type="date" 
    name="short_intake[family_members][replace][date_of_birth]" 
    class="text-5xl rounded-lg text-gray-400 focus:ring-indigo-500 focus:border-indigo-500">
  </div>

  <select class="text-5xl w-full rounded-lg p-3" name="short_intake[family_members][replace][gender]">
    <% Client::GENDER.each do |gender| %>
      <option value="<%= gender %>"><%= gender %></option>
    <% end %>
  </select>

  <ul class="flex flex-1 flex-col w-full p-3 space-y-4 text-gray-700">
    <% Client::RACE.each do |race| %>
      <li class="flex flex-1 items-baseline">
        <label class="" for="short_intake[family_members][replace][race][]">
          <input 
          class="w-11 h-11 text-indigo-600"
          type="checkbox"
          value="<%= race %>"
          name="short_intake[family_members][replace][race][]"
          >
          <%= race %>
        </label>
      </li>
    <% end %>
  </ul>

  <div >
    <select class="text-5xl w-full rounded-lg p-3" name="short_intake[family_members][replace][ethnicity]">
      <% Client::ETHNICITY.each do |ethnicity| %>
        <option value="<%= ethnicity %>"><%= ethnicity %></option>
      <% end %>
    </select>
  </div>

  <div class="text-gray-700 flex items-center justify-between">
    <label for="short_intake[family_members][replace][veteran][]">
      Veteran?
    </label>
    <div class="inline">
      <label for="short_intake[family_members][replace][veteran][]">
        Yes
        <input type="radio" 
               class="w-8 h-8"
               name="short_intake[family_members][replace][veteran][]"
               value="Yes">
      </label>
      <label for="short_intake[family_members][replace][veteran][]">
        No
        <input type="radio" 
               class="w-8 h-8"
               name="short_intake[family_members][replace][veteran][]"
               value="No">
      </label>
    </div>
  </div>

  <div class="text-gray-700 flex items-center justify-between">
    <label for="short_intake[family_members][replace][disabling_condition][]">
      Disabling Condition?
    </label>
    <div class="inline">
      <label for="short_intake[family_members][replace][disabling_condition][]">
        Yes
        <input type="radio" 
               class="w-8 h-8"
               name="short_intake[family_members][replace][disabling_condition][]"
               value="Yes">
      </label>
      <label for="short_intake[family_members][replace][disabling_condition][]">
        No
        <input type="radio" 
               class="w-8 h-8"
               name="short_intake[family_members][replace][disabling_condition][]"
               value="No">
      </label>
    </div>
  </div>
</div>

<%= javascript_pack_tag "voucher_form" %>
=======
              class: "w-full p-1 md:p-2 flex-1 focus:ring-indigo-500 focus:border-indigo-500 text-base sm:text-lg md:text-xl border-gray-300 rounded"
            %>
          </div>
        </div>
      </div>

      <div>
        <% question = Intake::CITY_LAST_NIGHT %>
        <%= short_intake_form.label question.key, question.text, class: "block leading-tight font-semibold text-base sm:text-lg md:text-xl" %>
        <div class="mt-2 sm:mt-3 md:mt-4">
          <%= short_intake_form.text_field question.key,
            size: 23, 
            value: @short_intake&.what_city_did_you_sleep_in_last_night,
            required: true,
            class: "w-full p-2 md:p-2 text-base sm:text-lg md:text-xl border border-gray-300 rounded"
          %>
        </div>
      </div>

      <div>
        <% question = Intake::WHY_NOT_SHELTER %>
        <%= short_intake_form.label question.key, question.text, class: "block leading-tight font-semibold text-base sm:text-lg md:text-xl" %>
        <div class="mt-2 sm:mt-3 md:mt-4 p-2 sm:p-3 md:p-4 bg-white rounded shadow">
          <div class="grid grid-cols-1 md:grid-cols-2 space-y-2 sm:space-y-3 md:space-y-4">
            <% question.choices.each do |reason| %>
              <div class="flex items-center gap-2 md:gap-3">
                <%= short_intake_form.check_box question.key, { 
                    multiple: true, 
                    class: "h-4 w-4 md:h-5 md:w-5 text-indigo-600 rounded border border-gray-300 focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0 focus:ring-3"
                  },
                  reason, 
                  nil
                %>
                <%= short_intake_form.label "#{question.key}_#{to_htmlfor(reason)}", reason, class: "text-base sm:text-lg md:text-xl" %>
              </div>
            <% end %>
          </div>
          <div class="mt-2 sm:mt-3 md:mt-4 flex items-center gap-2">
            <% other_checked = @short_intake.why_not_shelter&.find {|r| r.starts_with?("Other:") } %>
            <%= short_intake_form.check_box question.key, 
              {
                multiple: true, 
                id: "why_not_shelter_other_checkbox",
                checked: other_checked,
                value: other_checked && @short_intake.why_not_shelter,
                class: "h-4 w-4 md:h-5 md:w-5 text-indigo-600 rounded border border-gray-300 focus:border-indigo-500 focus:ring-indigo-200 focus:ring-offset-0 focus:ring-3"
              },
              "other_checkbox"
            %>
            <label for="why_not_shelter_other_checkbox" class="text-base sm:text-lg md:text-xl">
              Other:
            </label>
            <input type="text" 
              value="<%= other_checked %>"
              id="<%= "#{question.key}_other_text_field" %>"
              class="w-full p-1 md:p-2 flex-1 focus:ring-indigo-500 focus:border-indigo-500 text-base sm:text-lg md:text-xl border-gray-300 rounded">
          </div>
        </div>
      </div>
    </div>

    <div class="mt-8 md:mt-12 px-2 md:px-6 md:w-11/12 mx-auto">
      <div>
        <p class="text-base sm:text-lg md:text-xl font-semibold">Change check in / check out dates?</p>
        <p class="text-base sm:text-lg text-gray-700">Select later check-in or earlier check-out, if the client wishes.</p>
      </div>

      <div class="mt-4 flex flex-col md:flex-row gap-4">
        <div class="w-full">
          <label class="font-semibold text-base sm:text-lg md:text-xl">Check In</label>
          <%= form.date_field :check_in, 
            value: [@swap.start_date, Date.current].max, 
            min: [@swap.start_date, Date.current].max,
            max: @swap.end_date - 1,
            required: true,
            class: "w-full bg-white rounded text-base sm:text-lg md:text-xl border border-gray-300" %>
        </div>

        <div class="w-full">
          <label class="font-semibold text-base sm:text-lg md:text-xl">Check Out</label>
          <%= form.date_field :check_out, 
            value: @swap.end_date,
            min: [@swap.end_date, Date.current].min,
            max: @swap.end_date,
            required: true,
            class: "w-full bg-white rounded text-base sm:text-lg md:text-xl border border-gray-300" %>
        </div>
      </div>

      <div class="mt-8 md:mt-12 ">
        <div>
          <p class="text-base sm:text-lg md:text-xl font-semibold">Choose hotel</p>
          <p class="text-base sm:text-lg text-gray-700">
            Select the hotel the client wishes to stay at. Hotels may not be selectable if they are not participating for this activation, have run out of vouchers, or the client is ineligible to stay.
          </p>
        </div>

        <div class="mt-4">
          <%= form.label "hotel_id", "Hotel (number of vouchers left)", class: "text-sm sm:text-base md:text-lg font-semibold block leading-relaxed" %>
          <%= form.select "hotel_id", 
            options_for_select(@hotels, disabled: @disabled),
            {include_blank: true},
            required: true ,
            class: "w-full bg-white rounded text-base sm:text-lg md:text-xl border border-gray-300" %>
        </div>
      </div>

      <!-- guestshere -->
      <div class="mt-8 md:mt-12 ">
        <div>
          <p class="text-base sm:text-lg md:text-xl font-semibold">Guests</p>
          <p class="text-base sm:text-lg text-gray-700">
            Clients are allowed to bring up to a maximum of X guests. Try to avoid
            adding more than 2 guests per voucher.
          </p>
        </div>
        <div id="guests-form-container" class="mt-2 w-full">
          <%= react_component("GuestsForm", client: @client, prior_guests: @client.prior_guests) %>
        </div>
      </div>

      <div class="mt-8 md:mt-12 ">
        <div>
          <p class="text-base sm:text-lg md:text-xl font-semibold">Collect contact info</p>
          <p class="text-base sm:text-lg text-gray-700">
            Your client can receive voucher details via text/sms or email if they desire.
          </p>
          <p class="text-base sm:text-lg text-gray-700">
            If pre-filled, verify with the client that these are correct.
          </p>
        </div>
        <div class="mt-4">
          <%= form.fields_for :client, @client do |client_form| %>
            <%= client_form.hidden_field :id, value: @client.id %>

            <div class="flex flex-col md:flex-row gap-4">
              <div class="w-full">
                <%= client_form.label :phone_number, "Phone Number (optional)", class: "text-sm sm:text-base md:text-lg font-semibold block leading-relaxed"  %>
                <%= client_form.telephone_field :phone_number, class: "w-full bg-white rounded text-base sm:text-lg md:text-xl border border-gray-300" %>
              </div>

              <div class="w-full">
                <%= client_form.label :email, "Email (optional)", class: "text-sm sm:text-base md:text-lg font-semibold block leading-relaxed"  %>
                <%= client_form.email_field :email, class: "w-full bg-white rounded text-base sm:text-lg md:text-xl border border-gray-300" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="mt-8 md:mt-12 py-4 bg-gray-200 text-center text-base sm:text-lg md:text-xl font-semibold tracking-wide">
      INTERNAL USE BELOW
    </div>

    <div class="my-8 md:my-12 px-2 md:px-0 md:max-w-lg mx-auto space-y-2 sm:space-y-4 md:space-y-6">
      <div>
        <% question = Intake::BUS_PASS %>
        <%= react_component('Toggle', 
          question: question.to_h,
          name: "voucher[short_intake][bus_pass]"
        ) %>
      </div>

      <div>
        <% question = Intake::KING_SOOPERS_CARD %>
        <%= react_component('Toggle', 
          question: question.to_h,
          name: "voucher[short_intake][king_soopers_card]"
        ) %>
      </div>
    </div>
  <% end %> <!-- end short intake form -->

  <div class="my-8 md:my-12 flex justify-center">
    <%= form.submit "Create Voucher", class: "px-4 py-2 bg-indigo-600 hover:bg-indigo-700 text-lg sm:text-xl md:text-3xl text-white font-semibold rounded" %>
  </div>
<% end %> <!-- end voucher form -->
>>>>>>> 81f1f12cb6be2f93e4bdb0be295d2865f63f0c8e
