<div class="border-t-2 border-yellow-400 bg-white shadow-xl rounded md:rounded-lg">
  <div class="p-4 sm:p-6 md:p-12 space-y-4 md:space-y-8 text-lg md:text-xl lg:text-2xl">
    <div>
      <div class="flex flex-1 justify-between items-center">
        <div>
          <strong>Voucher #</strong>
        </div>
        <div class="flex items-center">
          <div class="-mt-1">
          <% if current_user.admin_user? && !@voucher.voided? %>
            <%= button_to "VOID", admin_vouchers_void_path(@voucher), { method: :put, params: { id: @voucher.id }, data: { confirm: "Are you sure you want to VOID this voucher?" }, class: "cursor-pointer bg-red-600 hover:bg-red-700 text-white text-sm font-semibold tracking-wide shadow-md px-2 py-1 mr-2 rounded" } %>
          <% end %>
          </div>
          <span class="flex items-center">
            <% if @voucher.voided? %>
              <span class="bg-gray-600 text-white text-sm px-2 py-1 mr-2 rounded">VOIDED</span>
              <span class="line-through bg-gray-200 text-gray-500"><%= @voucher.number %></span>
            <% else %>
              <%= @voucher.number %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
    <div>
      <div class="flex flex-1 justify-between">
        <strong>Holder</strong>
        <p><%= link_to @voucher.client.name, client_path(@voucher.client), class: 'underline text-indigo-600' %></p>
      </div>
    </div>
    <div class="flex justify-between">
      <div class="flex-1 w-full">
        <strong>Check In</strong>
        <p><%= humanize_date_short(@voucher.check_in) %></p>
      </div>
      <div class="flex-1 w-full">
        <strong>Check Out</strong>
        <p><%= humanize_date_short(@voucher.check_out) %></p>
      </div>
    </div>
    <div>
      <p>
        <strong><%= @voucher.hotel.name %></strong>
      </p>
      <div class="">
        <p><%= @voucher.hotel.street_address %></p>
        <p><%= @voucher.hotel.address_second %></p>
        <p><%= @voucher.hotel.phone %></p>
      </div>
    </div>
    <div>
      <p>
        <strong>Guests</strong>
        <% if @voucher.guests.empty? %>
          <p>
            No guests recorded for this voucher.
          </p>
        <% end %>
      </p>
      <div class="">
        <% @voucher.guests.each do |guest| %>
          <p><%= link_to guest.name, client_path(guest), class: 'underline text-indigo-600' %></p>
        <% end %>
      </div>
    </div>
  </div>
  <!-- send digital voucher -->
  <div class="hidden p-6 bg-gray-100 flex justify-between items-center">
    <div class="text-lg md:text-xl">
      Share voucher details with guest:
    </div>
    <div>
      <%= form_for(@voucher, url: send_voucher_path(@voucher.id), method: :post) do |form| %>
        <div class="inline-block">
          <%= form.submit "E-mail", disabled: true, class: "px-4 md:px-6 py-2 md:py-3 rounded md:rounded-lg bg-indigo-600 hover:bg-indigo-800 text-base md:text-lg lg:text-xl text-white cursor-pointer shadow-lg" %>
        </div>
        <div class="pl-4 inline-block">
          <%= form.submit "Text/SMS", disabled: true, class: "px-4 md:px-6 py-2 md:py-3 rounded md:rounded-lg bg-indigo-600 hover:bg-indigo-800 text-base md:text-lg lg:text-xl text-white cursor-pointer shadow-lg" %>
        </div>
      <% end %>
    </div>
  </div>
  <!-- end send digital voucher -->
</div>
