<div class="bg-white border-8 border-black shadow-2xl text-6xl">
  <section class="p-16 border-b-8 border-gray-400 border-dashed">
    <div class="flex flex-1 justify-between">
      <strong>Voucher #</strong>
      <p><%= @voucher.number %></p>
    </div>
    <div class="mt-12 flex flex-1 justify-between">
      <strong>Holder</strong>
      <p><%= link_to @voucher.client.name, client_path(@voucher.client), class: 'link' %></p>
    </div>
  </section>
  <section class="p-16 border-b-8 border-gray-400 border-dashed flex flex-1 space-x-16">
    <div class="w-full">
      <strong>Check In</strong>
      <p class="mt-8"><%= formatted_date(@voucher.check_in) %></p>
    </div>
    <div class="w-full">
      <strong>Check Out</strong>
      <p class="mt-8"><%= formatted_date(@voucher.check_out) %></p>
    </div>
  </section>
  <section class="p-16">
    <p class="mt-4">
      <strong><%= @voucher.motel.name %></strong>
    </p>
    <div class="mt-12">
      <p><%= @voucher.motel.street_address %></p>
      <p><%= @voucher.motel.address_second %></p>
      <p class="leading-loose"><%= @voucher.motel.phone %></p>
    </div>
  </section>
  <div id="map"></div>
  <%= javascript_pack_tag 'mapbox', 'data-turbolinks-track': 'reload' %>
</div>
